#cartview { float: left; position: relative; }
#cartview-link { text-align: right; }
#cartview-panel { width: 260px; position: absolute; right: 0; text-align: left; z-index: 10; border: 2px solid #585454; margin-top:3px;}
#cartview-panel .block-title { display: none }
#cartview .block{ margin:0px !important;} 
#cartview li#cartview{background: url(../images/topmenuline.jpg) left 0 repeat-y;padding: 4px 9px;}
#cartview ul li a{color: ##585454;text-decoration: none;}