.header .quick-access {
    float: left;
    width: 650px;
}
.cartpopup {

} 
#cartpopup ul {
    position: relative;
    right: 160px;
}
.header-container .top-container {
    background: none repeat scroll 0 0 transparent !important;
    border: medium none !important;
    clear: none;
    display: block;
    float: left;
    padding: 49px 10px 0 0;
    text-align: left;
}
 
span.trigger {
	background:url("../cartpopup/bkg_cart_down.gif");
	background-repeat:no-repeat;
	background-position:97% center;
}
span.trigger a {
	 color:#4F8100; 
	 padding-right:15px !important;
	 font-size:12px;
}
span.active { 
	background-color:none;
	background:url("../cartpopup/bkg_cart_up.gif");
	background-repeat:no-repeat;
	background-position:97% center;
}

span.trigger a:hover { }
span.active {} 
.toggle_container #cartpopup {
    clear: both;
    color: #000000;
    margin: -3px 0 0;
    padding: 0;
    position: absolute;
    width: 250px;
    z-index: 9999;
}

* html .toggle_container {margin-top:15px; margin-left:-200px;}
*+html .toggle_container {margin-top:15px;margin-left:-200px;}

.toggle_container .block {
	background:none repeat scroll 0 0 #FFFFFF;
	border:1px solid #DDDDDD;
	text-align:left;
}


.quick-access .custom-links li { float:right; display:block; }
.toggle_container .block-cart a{color:#1E7EC8 !important; background:none !important; padding:0px; }
.toggle_container .block .block-content li.item{ /*padding:0px;*/ float:none; background:none ;  padding:7px 0px;}
.toggle_container .block .block-content { padding:10px; background:#FFFFFF;}
.quick-access .custom-links a.btn-remove {
	background:url("../images/btn_remove.gif") no-repeat scroll 0 0 transparent!important;
	display:block;
	font-size:0;
	height:12px;
	line-height:0;
	overflow:hidden;
	text-indent:-999em;
	width:12px;
}


/* Block: Cart FOR DEFAULT MAGENTO THEME */

.toggle_container .block-cart {font-size:11px; }
.toggle_container .block-cart .block-title strong{ background:none;
font-size:11px;
line-height:24px;
padding-left:8px; }
.toggle_container .block-cart .block-title { background-image:none; background:#eee; height:24px; }
.toggle_container .block-cart .block-title strong {/* background-image:url(../images/i_block-cart.gif); */}
.toggle_container .block-cart .block-title span { color:#444; font-size:12px;}
.toggle_container .block-cart .summary { background:#fff; padding:2px 8px 8px; margin:1px 0 0; position:relative; z-index:1; }
.toggle_container .block-cart .amount { margin:0; }
.toggle_container .block-cart .amount a { font-weight:bold; }
.toggle_container .block-cart .subtotal { margin:5px 0 0; padding:2px 0; background:#f7f7f7; text-align:center; }
.toggle_container .block-cart .subtotal .price { font-weight:bold; }
.toggle_container .block-cart .actions { border-bottom:1px solid #c2c2c2; background:none; margin-bottom:10px; border:none; display:none!important; }
.toggle_container .block-cart .block-content { background:#fff;}

.toggle_container .truncated .truncated_full_value dl {left:-275px;}

