.colorswatch-attribute-wrapper {
	clear:both;
}

.colorswatch-wrapper label {
	display:block;
}

.colorswatch-attribute .colorswatch-swatch-container {
	float:left;
	cursor:pointer;
	display:block;
	padding:1px;
	position:relative;
}

.colorswatch-attribute .colorswatch-swatch-container.active {

}

.colorswatch-attribute .colorswatch-swatch-container {

}

.colorswatch-attribute .colorswatch-swatch-container.not_clickable,
.colorswatch-attribute .colorswatch-swatch-container.not_allowed {

}

.colorswatch-attribute .colorswatch-swatch-container.not_clickable,
.colorswatch-attribute .colorswatch-swatch-container.not_allowed_in_current_selection {
	display:none;
}

.colorswatch-swatch-container span.swatch {
	display:block;
	height:30px;
	width:30px;
	line-height: 30px;
	text-align:center;
}

.colorswatch-swatch-container span.swatch {
	border:1px solid #DDD;
}

.colorswatch-swatch-container:hover span.swatch {
	border:1px solid #F90;
}
.colorswatch-swatch-container.active span.swatch {
	border:1px solid #F00;
}
.colorswatch-attribute .colorswatch-swatch-container span.status {

	position:absolute;
	display:none;
	bottom:-5px;
	right:0;
	height:20px;
	width:20px;
}

.colorswatch-attribute .colorswatch-swatch-container.active span.status {
	background-position:0 20px;
	display:none; 
}

.colorswatch-attribute .colorswatch-swatch-container:hover span.status {
	background-position:0 20px;
	display:none;
}

/* new */
.color-swatch-wrapper ul li {
	float: left;
	cursor: pointer;
	text-align: center;
	margin: 0px;
	position:relative;
	min-height: 127px;
	width:90px;
	border: 2px solid #fff;
	/*border-bottom: 2px solid #fff;*/
	

}
.color-swatch-wrapper ul li .swatch-title {
	/*text-indent: -9999px;*/
	line-height: 20px;
	min-height: 20px;
	min-width: 20px;
	display: block;
	overflow: hidden;
}


.color-swatch-wrapper ul li img {
	position:absolute;
	left:0px;
	top:0px;
	z-index: 1;
}

.color-swatch-wrapper ul li.active {
	border: 2px solid #E26703;
	/*border-bottom: 2px solid #E26703;*/
	margin: 0px;
}
.color-swatch-wrapper ul li:hover {
	border: 2px solid #E26703;
	/*border-bottom: 2px solid #E26703;*/
	margin: 0px;
}


.color-swatch-wrapper ul li img.image-base {
	z-index: 2;
}
.color-swatch-wrapper ul li.active img.image-active {
	z-index: 3;
}
.color-swatch-wrapper ul li:hover img.image-hover {
	z-index: 4;
}
.color-swatch-wrapper ul.is-disabled-attribute li img.image-disabled,
.color-swatch-wrapper ul li.is-disabled-option img.image-disabled {
	z-index: 5;
}

.color-swatch-wrapper ul li.is-disabled-option {
	text-decoration: line-through;	
}
div.popup-info {
	opacity:0;
	position:absolute;
	min-width: 100px;
	
	background: #FFF;
	border: 1px solid;
	min-width: 300px;
	opacity: 0;
	padding: 2px;
	text-align: left;
	z-index: 10;
}
.color-swatch-wrapper ul li div.popup-info img {
	position: static;
	float:left;
	margin-right: 1px;
}

.colorswatch-clear {
	clear:both;
	margin:0px;
	padding:0px;
}
.clearfloat{
		clear:both;
	margin:0px;
	padding:0px;
}
	
#product-options-wrapper .option-name {
	margin-left:10px;
 display:none;
}