.firecheckout-index-index {}
.firecheckout-index-index .page-title { margin-bottom: 10px; }
.firecheckout-set .discount-form .input-box input.input-text{width:58%;}
#checkout-review textarea{height:auto !important;}
.firecheckout-login-wrapper { margin: 3px 0; }
.firecheckout-set .data-table thead, .firecheckout-set .data-table thead tr{background:none !important;}
.firecheckout-set .data-table tfoot tr{background-color:#fff !important;}
.firecheckout-set .form-list .input-box { width: 263px; }
.firecheckout-set .form-list select { width: 264px; }
.firecheckout-set .form-list li{    float: left;
    margin: 1px 0;
    width: 100%;}
.firecheckout-set .col-1 .form-list .field{width:49.5%;float:left;}
.firecheckout-set .col-1 .form-list .input-box {width: 100%;display: inline-block;float: right; margin:4px 0 0 0; }
.firecheckout-set .form-list .field .telPh .input, .firecheckout-set .form-list .field .telPh .inputBill{       border: 1px solid #bbb;
    float: left;
    height: 21px;
    margin-right: 1.3%;
    width: 30.9%;}

.firecheckout-set .form-list .customer-name-middlename .field{width:32.4%; float:left;} 
.firecheckout-set .form-list .ctyState .field{width:32.4%; float:left;} 
.firecheckout-set .col-1 .form-list input.input-text { width: 99%; }
.firecheckout-set .col-1 .form-list select { width:102%; }
.firecheckout-set .col-1 .form-list li.wide .input-box { width: 100%; }
.firecheckout-set .col-1 .form-list li.wide input.input-text { width: 99.5%; }
.firecheckout-set .col-1 .form-list li.wide select { width: 100%; }
.firecheckout-set .col-2{ width:33% 
}
.form-list li .field{padding-bottom:2px;}
.firecheckout-set .col-2 .form-list .field{width:45%;}
.firecheckout-set .col-2 .form-list .input-box { width:100%; }
.firecheckout-set .col-2 { margin-left: 4px; }
.firecheckout-set .col-2 .form-list li.wide .input-box { width: 100%; }
.firecheckout-set .col-2 .form-list li.wide textarea { width: 100%; height: 50px; }
.firecheckout-set .col-2 .form-list input {
width: 135px;
}
.firecheckout-set .col-2 .form-list input[type=checkbox] {
width: 35px;
}

.firecheckout-set .col-2 .form-list select { width:100%;  }
.firecheckout-set .col-3 { width: 34%; }
.firecheckout-set .col-3 .form-list li.wide .input-box { width: 275px; }
.firecheckout-set .col-3 .form-list li.wide textarea { width: 294px; height: 30px; }

#firecheckout-form .col3-set .col-2 , #firecheckout-form .col3-set .col-1  { min-height: 450px;}
#firecheckout-form .discount-form .messages { width: 97%; }

.firecheckout-set .gift-messages-form .item .details .form-list .field,
.firecheckout-set .gift-messages-form .item .details .form-list .input-box,
.firecheckout-set .gift-messages-form .item .details .form-list li.wide .input-box { width:186px; }
.firecheckout-set .gift-messages-form .item .details .form-list input.input-text,
.firecheckout-set .gift-messages-form .item .details .form-list li.wide textarea { width:165px; }

.firecheckout-set .sp-methods { margin: 0; padding: 0; }
.firecheckout-set .sp-methods .form-list { padding: 0; }
.firecheckout-set .sp-methods dt { margin: 0 0 5px; clear:both; }
.firecheckout-set .sp-methods dd { margin: 0 0 6px; }
.firecheckout-set .sp-methods select.month { width: 154px; }
.firecheckout-set .sp-methods select.year { width: 99px; }
.firecheckout-set #advice-required-entry-ccsave_expiration_yr { width: 8em; }

.firecheckout-set .discount-form { padding: 0 0 15px 10px; }

.firecheckout-set #checkout-review-submit { margin: 0px 0 0; padding: 0 0px; }
.firecheckout-set #checkout-review-submit .form-list { padding: 0; }
.firecheckout-set .checkout-agreements li { margin: 0 0 30px 0; }

.firecheckout-set #shipping-wrapper { margin: 20px 0 0; }
#shipping-new-address-form #addmsg p{color:red;}
#shipping-new-address-form #addmsg span{color:#7ACC29;}
#shipping-new-address-form #addmsg #vad{color:#006400;}

.firecheckout-set .loading { background: url(../images/firecheckout/spinner.gif) no-repeat 50% 50%; }

.firecheckout-set #checkout-shipping-method-load,
.firecheckout-set #checkout-payment-method-load,
.firecheckout-set #checkout-review-load { min-height: 30px; }

.firecheckout-set #checkout-shipping-method-load,
.firecheckout-set #checkout-payment-method-load { padding: 0 10px; }
.firecheckout-set .data-table th{padding:3px 8px;}
.firecheckout-set .newsletter { margin:0; padding: 0; padding-left: 5px; }
.firecheckout-set .buttons-set { margin: 0em 0 0; }
.firecheckout-set .checkout-agreements { padding: 0; }
.firecheckout-set .checkout-agreements .agree { padding: 3px 0 3px 0; }
.firecheckout-set .checkout-agreements .last { margin: 0; }
.firecheckout-set .checkout-agreements .agreement-content {  }
.firecheckout-set #shipping-address li.wide label[for="shipping-address-select"]{display:none;}
.firecheckout-set #shipping-address li.wide select[name="shipping_address_id"]{display:none;}
.firecheckout-section {
    background: #fff;
    border: 1px solid #ccc;
    margin-bottom: 5px;
}
.firecheckout-section .form-list,
.firecheckout-section .gift-messages,
.firecheckout-section .gift-messages-form {
    padding: 0 0 0 10px;
}
.firecheckout-section .data-table tfoot{border-bottom:0px;}
.firecheckout-section .gift-messages-form .form-list { padding: 0; }
.firecheckout-section .block-title {
    background-color:#f1f1f1;
    border-bottom: 1px solid #ccc;
    height: 19px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 6px 0 3px 8px;
    margin: 0 0 5px 0;
   /* -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;*/
    color: #333;
}
.firecheckout-section .block-title1 {
    background: #e8ebed url(../images/firecheckout/box-header-bg.gif) repeat-x 0 0;
    border-bottom: 1px solid #ccc;
    height: 19px;
    font-size: 12px;
    font-weight: bold;
    text-transform: none;
    padding: 6px 0 3px 8px;
    margin: 0 0 5px 0;
  /*  -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;*/
    color: #333;
}
.firecheckout-section .block-title .num {
    border: 1px solid #888;
   /* -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;*/
    padding: 1px 5px;
    margin: 0 5px 0 0;
display:none;
    background: #ccc;
}

.firecheckout-set #checkout-review .block-title { margin: 0 !important; }
.firecheckout-set #checkout-review #checkout-review-table { border-width: 0 0 1px 0; }
.firecheckout-set #review-buttons-container { padding: 0px 6px 6px 0; }

.firecheckout-set #checkout-review .product-name {
font-weight: normal;
line-height: 1.55;
border-bottom: 0px solid #ddd;
margin: 0 auto 0px;
padding-bottom: 0px;
}
.firecheckout-set #checkout-review #checkout-review-table-wrapper .data-table td {
padding: 1px 3px !important;
}

/* form customization */
.firecheckout-set input.input-text {
    border-width: 1px;
    border-color: #aaa #ccc #ccc #ccc;
  /*  -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;*/
    padding: 4px 2px;
}
.firecheckout-set textarea {
height:auto;
width:100%;
}
.firecheckout-set select,
.firecheckout-set textarea {
    border: 1px solid #aaa;
    border-color: #aaa #ccc #ccc #ccc;
  /*  -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;*/
    padding: 4px 2px;
background: #FFF;
}
/* end of form styles */

.firecheckout-window { border: none; background: #fff; z-index: 999; position: absolute; text-align: left; }
.firecheckout-window .page-title span { color:#0A263C; font-size:20px; margin:0; }
.firecheckout-window .content { padding: 7px; overflow: auto; }
.firecheckout-window .close { position: absolute; top: -15px; right: -16px; width: 16px; height: 16px; background: url(../images/firecheckout/cancel_round.png) no-repeat 50% 50%; }
.firecheckout-window .buttons-set { margin: 1em 0 0; }

.d-shadow { position: absolute; width: 30%; left: 20%; top: 10%; }
.d-shadow-wrap { position: relative; width: 100%; padding: 15px 21px 0 21px; margin: -15px -21px 0 -21px; overflow: hidden; }
.d-sh-cn { position: absolute; background: url(../images/firecheckout/shd-medium.png) no-repeat; left: -25px; z-index: -1; }
.d-sh-tl,
.d-sh-tr { height: 500px; top: -28px; }
.d-sh-tl,
.d-sh-bl { width: 100%; }
.d-sh-tr,
.d-sh-br { width: 25px; margin-left: 100%; }
.d-sh-bl,
.d-sh-br { height: 28px; }
.d-sh-bl { left: -46px; padding-right: 42px; clip: rect(auto auto auto 25px); }
.d-sh-br { left: -4px; }

/* IE6 fix */
* html .firecheckout-hidden { visibility: hidden; }
* html .firecheckout-window { width: 500px; }
* html .d-sh-tl, * html .d-sh-tr { padding-right:42px; }
/* IE7 fix */
*:first-child+html .firecheckout-window { width: 500px; }
.firecheckout-set #checkout-review .checkout-agreements .agree label {
font-weight:normal !important;
}
.firecheckout-set #checkout-review .checkout-agreements .agree label a{
text-decoration:underline;
}
 .Heading3 {
FONT-WEIGHT: bold;
FONT-SIZE: 13px;
COLOR: #603C92;
line-height: 20px;
FONT-FAMILY: Arial;
}
.multishipping-button{
float:right;
}
.firecheckout-section .form-list {
    float: left;
    padding: 3% !important;
    width: 94%;
}
.firecheckout-section fieldset {
border: 0 none;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}
.firecheckout-section fieldset ul{
float:left;
width:100%;
}

.form-list li, .form-list li .field {
    float: left;
    margin-right: 0;
    width: 45%;
}
.firecheckout-set .form-list .name-firstname{
    margin-right: 1.2%;
    width: 32% !important;
}
.firecheckout-set .form-list .name-middlename{
    margin-right: 1.2%;
    width: 32% !important;
}
.common-checkout {
    margin-right: 1% !important;
}
#checkout-payment-method-load .input-box input.input-text{
 width:98%;   
}
.select-common{
}
#shipping-new-address-form .firecheckout-set .form-list .customer-name-middlename .field{
    width:32% !important;
}

.telPh #p1, .telPh #p2, .telPh #p3, .telPh #p5, .telPh #p6,.telPh #p7{ width: 26%;}
