<script type="text/javascript">
    function openMyPopup() {

		
        var url = '<?php echo $this->getUrl('admin_syncinventory/adminhtml_syncinventorybackend/success') ?>';
      //  var url = 'http://kabloomstaging.com/mypage.php';
        // var url = '<?php echo  Mage::helper('adminhtml')->getUrl('adminhtml/modulename/index/'); ?>';
 
         if ($('browser_window') && typeof(Windows) != 'undefined') {
            Windows.focus('browser_window');
            return;
        } 
        var dialogWindow = Dialog.info(null, {
            closable:true,
            resizable:false,
            draggable:true,
            className:'magento',
            windowClassName:'popup-window',
        //    title:'Test popup Dialog',
            top:50,
            width:1000,
            height:500,
            zIndex:1000,
            recenterAuto:false,
            hideEffect:Element.hide,
            showEffect:Element.show,
            id:'browser_window',
            url:url,
            onClose:function (param, el) {
                alert('onClose');
            }
        }) ;
    }

    function close_window() {
	alert('hai');
	// my_window.close ();
	  Windows.close('browser_window');
	
	//('#browser_window_close').trigger("click");
	
  
}
function quitBox(cmd)
{   
alert('hai');
    if (cmd=='quit')
    {
        open(location, '_self').close();
    }   
    return false;   
}
</script>

				
<div style="margin:20px;">
<form name="myform" action="" method="POST">
<p>Syncing Inventory Successfull</p>
	<input type="button" name="Quit" id="Quit" value="Quit" onclick="return quitBox('quit');" />


</form>

</div>
 
