	
 

<!--<form name="test-form" id="my-custom-form" action="<?php //echo Mage::getBaseUrl().'admin_syncinventory/adminhtml_syncinventorybackend/savedata/'; ?>" method="post">
 <input type="checkbox" name="warehouse[]" value="1">New Jersy <br>
 <input type="checkbox" name="warehouse[]" value="2">Boston <br>
  <input type="checkbox" name="warehouse[]" value="3"> Chicago<br>
  <input type="hidden" id="form_key" name="form_key" value="<?php //echo Mage::getSingleton('core/session')->getFormKey(); ?>" /> 
  <input type="submit" value="Submit">
</form>-->

 <?php
  $warehouse = Mage::getModel('pointofsale/pointofsale')->getCollection();
	
	
	?>
				
<div style="margin:20px;">
<form name="myform" action="<?php echo Mage::getBaseUrl().'admin_syncinventory/adminhtml_syncinventorybackend/savedata/'; ?>" method="POST">
<h1>List Of WareHouses</h1>
	<?php 
	foreach($warehouse->getData() as $x=>$y)
			{
				$place_id = $y['place_id'];
				$name = $y['name'];
				?>
   

  <input type="checkbox" name="warehouse[]" checked="checked" value="<?php echo $place_id ?>"> <?php echo $name; ?> <br>
  <?php
				//$this->add_my_Inventory($option_id,1,$place_id);
			}

?>
  <input type="hidden" id="form_key" name="form_key" value="<?php echo Mage::getSingleton('core/session')->getFormKey(); ?>" /> 

  <input type="submit" value="Submit">
</form>

</div>
 