.slide-show{float:left;}
.indentmenu{position:absolute;bottom:8px;;right:45%;z-index:999; }
.banner-content-style1{left:0;}
.indentmenu ul{margin: 2px;padding:0;float:left;background: transparent;}
.indentmenu ul li{list-style:none; display:inline-block;  }
.indentmenu ul li a{margin: 1px;color: rgba(0,0,0,0);padding: 0px 3px;text-decoration: none; border:1px solid #fff;background:#fff;border-radius: 10px; text-indent:-999px;background-color: rgba(0,0,0,0); font-size:8px; }
.indentmenu ul li a[rel="tab10"]{padding: 0px 1px !important;}
.indentmenu ul li a:hover{background:#fff; color:#fff;}
.indentmenu ul li a.selected{color: white !important;padding-top: 0px; /*shift text down 1px*/padding-bottom: 0px;border: 1px solid #ccc;background:#fff;}
.indentmenu ul li a.selected:hover{color: white !important;padding-top: 0px; /*shift text down 1px*/padding-bottom: 0px;border: 1px solid #ccc;background:#fff;}
.tabcontent{width:100%;float:left;position:relative;display:none;}
.tabcontent a{width:100%;float:left;z-index:9; text-decoration:none;}
@media print {.tabcontent {display:block !important;}}
.banner_content {padding:0px 10px 0px 10px;position:absolute;bottom:0;left:0;text-align:left;z-index:99; background:#4959a3; opacity: 0.8; filter: alpha(opacity = 80); font-family:schadow_btroman; font-size:15px; line-height:21px; }
.banner_content p{margin: 0 !important;}
.banner_content p{color:#fff;}
.clear{width:100%;height:0px;clear:both;font-size:0px;line-height:0px;}