<?php
require_once ('app/Mage.php');
Mage::app('default');
error_reporting(E_ALL);
ini_set('display_errors', 1);
umask(0);
$order_ids = $_REQUEST['order_ids'];

if(empty($_REQUEST['countsel'])) :
?>
<form name="count" id="count" action="<?php echo 'http://' . $_SERVER['HTTP_HOST'] . $_SERVER['REQUEST_URI'].'?order_ids[]='.implode('&amp;order_ids[]=', array_map('urlencode', $order_ids)); ?>" method="post">
  Count:<br>
    <select name="countsel">
    <?php
    for ($x = 1; $x <= 20; $x++) {
		if($x == 20){
			echo '<option value="'.$x.'" selected>'.$x.'</option>';
		} else{
			echo '<option value="'.$x.'">'.$x.'</option>';
		}
    }
	?>   
	</select>
	<input type="hidden" name="" value="">
	<input type="submit" value="Submit">
</form>
<?php
//echo $comcnt;
endif;
if(isset($_REQUEST['countsel'])){
	//print_r($_REQUEST['order_ids']);
	$drpcnt = $_REQUEST['countsel'];
	//exit;
	foreach($order_ids as $orinc) :
		$orderData = Mage::getModel("sales/order")->load($orinc);
		$statuslabel = Mage::getModel('sales/order')->load($orderData->getId())->getStatus();
		
		$upscollections = Mage::getModel('upslabel/upslabel');
		$colls = $upscollections->getCollection()->addFieldToFilter('order_id', $orinc)->addFieldToSelect('statustext');
		
		if($statuslabel == "processing" || $statuslabel == "Processing") {
			$orderData->setStatus('bar_code')->save();
		}
		
		$india_post[] = $orderData->getIncrementId();
		$ordered_items = $orderData->getAllItems();
		foreach($ordered_items as $item) : 
			if($item->getSku()) {
				$product = Mage::getModel('catalog/product')->loadByAttribute('sku', $item->getSku());
				//echo $item->getSku()."<br/>";
				$text = $product->getData('internal_sku');
			}
			//$product = Mage::getModel('catalog/product')->loadByAttribute('sku', $item->getSku());
			//echo "<pre/>"; print_r($product->getData());
			//$text = $product->getData('internal_sku');
			if($text) {
				$expbun = explode("-",$text);
				
 
				$bundled_product = new Mage_Catalog_Model_Product(); 
				$bundleId = $bundled_product->getIdBySku($expbun[0]);
				
				$store_id = Mage::app()->getStore()->getStoreId();
				$product1 = Mage::getModel('catalog/product')->setStoreId($store_id)->load($bundleId);			
				$options = Mage::getModel('bundle/option')->getResourceCollection()
												  ->setProductIdFilter($bundleId)
												  ->setPositionOrder(); 
				$options->joinValues($store_id);

				$selections = $product1->getTypeInstance(true)
									  ->getSelectionsCollection($product1->getTypeInstance(true)
									  ->getOptionsIds($product1), $product1);
				
				foreach ($options->getItems() as $option) {
					$option_id = $option->getId();
					if($option->getDefaultTitle() == "Flowers") { 
						foreach($selections as $selection){ 
							if($option_id == $selection->getOptionId()){
								$selection_id         = $selection->getId();
								$selection_name       = $selection->getName();
								$selection_qty        = $selection->getSelectionQty();
								$selection_sku        = $selection->getSku();
								//echo $prodSku1. "//" .$selection_sku;
								
								if($colls->count() != 0) {
									foreach ($colls AS $k => $v) {
										if($v['statustext'] == "SUCCESS" || $v['statustext'] == "Successfully" || $v['statustext'] == "" || $v['statustext'] != "WARNING") :
											$ordernum[] = $orderData->getIncrementId();
										endif;
									  
									}
								} else {
									$ordernum[] = $orderData->getIncrementId();
								}
								$bunsku = $selection->getSku();
								$bunname = $selection->getName();
								$bunqty = $selection->getSelectionQty();
								$buncnt++;
								
							}
						}
					}
				}
				
			}
		endforeach;
	endforeach;
	
	if (!empty($ordernum)) {
		//$india_post = $ordernum;
	}
	//print_r($india_post);
	
	//print_r($items);
	//echo $bunqty * $buncnt;
	//exit;	
	$k = 10;
	$j = 760;
	
	$pdf = new Zend_Pdf(); 
	$page = $pdf->newPage(Zend_Pdf_Page::SIZE_A4); 
	$font = Zend_Pdf_Font::fontWithName(Zend_Pdf_Font::FONT_HELVETICA);
	
	
	if (!empty($india_post)) {
		$y = 0;
		$i = 1;
	
		$j = 760;
		$k = 10;
		$kk = 0;
		$ijk = 0;
		$bijk = 0;
		$cnt = 0;
		
		${"page" . $y} = $pdf->newPage(Zend_Pdf_Page::SIZE_A4); 
		$font = Zend_Pdf_Font::fontWithName(Zend_Pdf_Font::FONT_HELVETICA);
		${"page" . $y}->setFont($font, 10);
	
		
		foreach ($india_post as $key => $value) {
			
			if(($i > ($drpcnt+1) && $i % $drpcnt == 0) || $i == ($drpcnt+1)) {
				//echo $cnt."//".$y;
				$jk = 300;
				${"page" . $y}->setFont($font, 10);
				${"page" . $y}->drawText("Product Sku",0 ,320 , 'UTF-8');
				${"page" . $y}->drawText("Product Name", 150, 320 , "UTF-8");
				${"page" . $y}->drawText("Quantity", 250, 320 , "UTF-8");
				${"page" . $y}->drawText("Type", 300, 320 , "UTF-8");
				${"page" . $y}->setFont($font, 10);
				${"page" . $y}->drawText("Stem Sku",360 ,320 , 'UTF-8');
				${"page" . $y}->drawText("Stem Name", 420, 320 , "UTF-8");
				${"page" . $y}->drawText("Stem Quantity", 500, 320 , "UTF-8");
				foreach ($finalcut as $kkey => $kvalue) {
					//echo $kvalue."-".$y."////------------------";
					$orderdetails = Mage::getModel('sales/order')->loadByIncrementId($kvalue);
					$ordered_items = $orderdetails->getAllItems();
					foreach($ordered_items as $item) :
						//echo $item->getSku();
						//echo "<br/>";
						if($item->getSku()) {
							$product = Mage::getModel('catalog/product')->loadByAttribute('sku', $item->getSku());
							//echo $item->getSku()."<br/>";
							$text = $product->getData('internal_sku');
						}
						//$product = Mage::getModel('catalog/product')->loadByAttribute('sku', $item->getSku());
						$itemtype[$ijk] = $item->getProductType();
						//echo "<pre/>"; print_r($product->getData());
						//$text = $product->getData('internal_sku');
						//echo "<br/>";
						if($text) {
							$itemtype[$ijk] = "bundle";
							$expbun = explode("-",$text);
			
			 
							$bundled_product = new Mage_Catalog_Model_Product(); 
							$bundleId = $bundled_product->getIdBySku($expbun[0]);
							//echo $bundleId."//".$expbun[0];
							$store_id = Mage::app()->getStore()->getStoreId();
							$product1 = Mage::getModel('catalog/product')->setStoreId($store_id)->load($bundleId);			
							$options = Mage::getModel('bundle/option')->getResourceCollection()
															  ->setProductIdFilter($bundleId)
															  ->setPositionOrder(); 
							$options->joinValues($store_id);

							$selections = $product1->getTypeInstance(true)
												  ->getSelectionsCollection($product1->getTypeInstance(true)
												  ->getOptionsIds($product1), $product1);
							
							foreach ($options->getItems() as $option) {
								$option_id = $option->getId();
								
								if($option->getDefaultTitle() == "Flowers") { 
									foreach($selections as $selection){ 
										//echo Mage::getModel('catalog/product')->load($selection->getId())->getSku();
										if($option_id == $selection->getOptionId()){
											$selection_id         = $selection->getId();
											$selection_name       = $selection->getName();
											$selection_qty        = $selection->getSelectionQty();
											$selection_sku        = Mage::getModel('catalog/product')->load($selection->getId())->getSku();
												
											if (in_array($selection_sku, $bunitemsku))
											{
												$kkkkey = array_search($selection_sku, $bunitemsku);
												//echo "<br/>";
												$bunqtyarrcnt[$kkkkey] = $bunqtyarrcnt[$kkkkey] + $selection->getSelectionQty();
												//echo "<br/>";
											}
											if (!in_array($selection_sku, $bunitemsku))
											{
												$bunitemsku[$bijk] = $selection_sku;
												$bunitemname[$bijk] = substr($selection->getName(), 0, 15);
												$kkkkey = array_search($selection_sku, $bunitemsku);
												//echo "<br/>";
												$bunqtyarrcnt[$bijk] = $selection->getSelectionQty();
												//echo "<br/>";
											}
											$bijk++;
										}
									}
								}
							}
							
						}
						if (in_array($item->getSku(), $itemsku))
						{
							$kkkey = array_search($item->getSku(), $itemsku);
							//$qty++;
							$qtyarr[$kkkey] = $qtyarr[$kkkey] + 1;
							
						}
						if (!in_array($item->getSku(), $itemsku))
						{
							$itemsku[$ijk] = $item->getSku();
							$itemname[$ijk] = substr($item->getDescription(), 0, 15);
							
							$kkkey = array_search($item->getSku(), $itemsku);
							//$qty = 0;
							//$qty++;
							$qtyarr[$kkkey] = 1;
							
						}
						$ijk++;
					endforeach;
					
				}
				//break;
				if(!$bunsku){
					foreach($itemsku as $skey => $sval) :
						${"page" . $y}->setFont($font, 10);
						${"page" . $y}->drawText($sval,$kk ,$jk , 'UTF-8');
						${"page" . $y}->setFont($font, 10);		
						${"page" . $y}->drawText($itemname[$skey], $kk+ 150, $jk , "UTF-8");
						${"page" . $y}->setFont($font, 10);
						${"page" . $y}->drawText($qtyarr[$skey], $kk + 270, $jk , "UTF-8");
						${"page" . $y}->setFont($font, 10);
						${"page" . $y}->drawText($itemtype[$skey], $kk + 300, $jk , "UTF-8");
						$jk = $jk - 20;	
					endforeach;
				}
				
				$jk = 300;
				
				foreach($bunitemsku as $skey => $sval) :
					${"page" . $y}->setFont($font, 10);
					${"page" . $y}->drawText($sval,$kk + 360 ,$jk , 'UTF-8');
					${"page" . $y}->setFont($font, 10);		
					${"page" . $y}->drawText($bunitemname[$skey], $kk+ 420, $jk , "UTF-8");
					${"page" . $y}->setFont($font, 10);
					${"page" . $y}->drawText($bunqtyarrcnt[$skey], $kk + 530, $jk , "UTF-8");
					$jk = $jk - 20;	
				endforeach;
				
				//echo "nextloop";
			}
			if(($i > ($drpcnt+1) && $i % $drpcnt == 0) || $i == ($drpcnt+1)){
				$y++;
				${"page" . $y} = $pdf->newPage(Zend_Pdf_Page::SIZE_A4); 
				$font = Zend_Pdf_Font::fontWithName(Zend_Pdf_Font::FONT_HELVETICA);
				${"page" . $y}->setFont($font, 10);
				
				$itemsku =  array();
				$itemname =  array();
				$itemtype = array();
				$qtyarr =  array();
				$bunitemsku =  array();
				$bunitemname =  array();
				
				$finalcut =  array();
			}
			$fontPath =   Zend_Pdf_Font::fontWithPath(Mage::getBaseDir('media') . '/fonts/fre3of9x.ttf');
			${"page" . $y}->setFont($fontPath, 30);
			$barcodeImage = "*".$india_post[$key]."*";
			${"page" . $y}->drawText($barcodeImage,$k ,$j - 10 , 'UTF-8');
			${"page" . $y}->setFont($font, 10);
			$finalcut[] = $india_post[$key];
			${"page" . $y}->drawText($india_post[$key], $k, $j + 15, "UTF-8");
			${"page" . $y}->setFont($font, 10);
			${"page" . $y}->drawText($_REQUEST['trading_partner'], $k, $j + 30, "UTF-8");
			$k = $k + 150;
			if($i % 4 == 0){
				$k = 10;
				$j = $j - 77;
			}
			if($i == $drpcnt){
				$pdf->pages[] = ${"page" . $y};
				//echo "page" . $y;
			} 
			if(($i > ($drpcnt+1) && $i % $drpcnt == 0) || $i == ($drpcnt+1)){
				$pdf->pages[] = ${"page" . $y};
				//echo "page" . $y;
			} 
			if($i % $drpcnt == 0){
				$j = 760;
				$k = 10;
			}
			//echo "page" . $y;
			$i++;
			if($_REQUEST['order_no'] == $i-1){
				break;
			}
		} //print_r($bunitemsku); die;
		
		if($bunsku){
			$jk = 300;
			${"page" . $y}->setFont($font, 10);
			${"page" . $y}->drawText("Product Sku",0 ,320 , 'UTF-8');
			${"page" . $y}->drawText("Product Name", 150, 320 , "UTF-8");
			${"page" . $y}->drawText("Quantity", 250, 320 , "UTF-8");
			${"page" . $y}->drawText("Type", 300, 320 , "UTF-8");
			
			${"page" . $y}->setFont($font, 10);
			${"page" . $y}->drawText($bunsku,$kk ,$jk , 'UTF-8');
			${"page" . $y}->setFont($font, 10);		
			${"page" . $y}->drawText($bunname, $kk+ 150, $jk , "UTF-8");
			${"page" . $y}->setFont($font, 10);
			${"page" . $y}->drawText($bunqty * $buncnt, $kk + 270, $jk , "UTF-8");
		} elseif($finalcut) {
			//echo $cnt."//".$y;
			$itemsku =  array();
			$itemname =  array();
			$itemtype = array();
			$qtyarr =  array();
			$jk = 300;
			${"page" . $y}->setFont($font, 10);
			${"page" . $y}->drawText("Product Sku",0 ,320 , 'UTF-8');
			${"page" . $y}->drawText("Product Name", 150, 320 , "UTF-8");
			${"page" . $y}->drawText("Quantity", 250, 320 , "UTF-8");
			${"page" . $y}->drawText("Type", 300, 320 , "UTF-8");
			
			foreach ($finalcut as $kkey => $kvalue) {
				//echo $kvalue."-".$y."////------------------";
				$orderdetails = Mage::getModel('sales/order')->loadByIncrementId($kvalue);
				$ordered_items = $orderdetails->getAllItems();
				foreach($ordered_items as $item) :   
					if($item->getSku()) {
						$product = Mage::getModel('catalog/product')->loadByAttribute('sku', $item->getSku());
						//echo $item->getSku()."<br/>";
						$text = $product->getData('internal_sku');
					}
					//$product = Mage::getModel('catalog/product')->loadByAttribute('sku', $item->getSku());
					$itemtype[$ijk] = $item->getProductType();
					//echo "<pre/>"; print_r($product->getData());
					//$text = $product->getData('internal_sku');
					if($text) {
						$itemtype[$ijk] = "bundle";
						$expbun = explode("-",$text);
		
		 
						$bundled_product = new Mage_Catalog_Model_Product(); 
						$bundleId = $bundled_product->getIdBySku($expbun[0]);
						//echo $bundleId."//".$expbun[0];
						$store_id = Mage::app()->getStore()->getStoreId();
						$product1 = Mage::getModel('catalog/product')->setStoreId($store_id)->load($bundleId);			
						$options = Mage::getModel('bundle/option')->getResourceCollection()
														  ->setProductIdFilter($bundleId)
														  ->setPositionOrder(); 
						$options->joinValues($store_id);

						$selections = $product1->getTypeInstance(true)
											  ->getSelectionsCollection($product1->getTypeInstance(true)
											  ->getOptionsIds($product1), $product1);
						
						foreach ($options->getItems() as $option) {
							$option_id = $option->getId();
							
							if($option->getDefaultTitle() == "Flowers") { 
								foreach($selections as $selection){ 
									//echo Mage::getModel('catalog/product')->load($selection->getId())->getSku();
									if($option_id == $selection->getOptionId()){
										$selection_id         = $selection->getId();
										$selection_name       = $selection->getName();
										$selection_qty        = $selection->getSelectionQty();
										$selection_sku        = Mage::getModel('catalog/product')->load($selection->getId())->getSku();
											
										if (in_array($selection_sku, $bunitemsku))
										{
											$kkkkey = array_search($selection_sku, $bunitemsku);
											$bunqtyarrcnt[$kkkkey] = $bunqtyarrcnt[$kkkkey] + $selection->getSelectionQty();
											
										}
										if (!in_array($selection_sku, $bunitemsku))
										{
											$bunitemsku[$bijk] = $selection_sku;
											$bunitemname[$bijk] = substr($selection->getName(), 0, 15);
											$kkkkey = array_search($selection_sku, $bunitemsku);
											$bunqtyarrcnt[$bijk] = $selection->getSelectionQty();
										}
										$bijk++;
									}
								}
							}
						}
						
					}
					if (in_array($item->getSku(), $itemsku))
					{
						$kkkey = array_search($item->getSku(), $itemsku);
						//$qty++;
						$qtyarr[$kkkey] = $qtyarr[$kkkey] + 1;
						
					}
					if (!in_array($item->getSku(), $itemsku))
					{
						$itemsku[$ijk] = $item->getSku();
						$itemname[$ijk] = substr($item->getDescription(), 0, 15);
						
						$kkkey = array_search($item->getSku(), $itemsku);
						//$qty = 0;
						//$qty++;
						$qtyarr[$kkkey] = 1;
						
					}
					$ijk++;
				endforeach;
				
			}
			foreach($itemsku as $skey => $sval) :
				${"page" . $y}->setFont($font, 10);
				${"page" . $y}->drawText($sval,$kk ,$jk , 'UTF-8');
				${"page" . $y}->setFont($font, 10);		
				${"page" . $y}->drawText($itemname[$skey], $kk+ 150, $jk , "UTF-8");
				${"page" . $y}->setFont($font, 10);
				${"page" . $y}->drawText($qtyarr[$skey], $kk + 270, $jk , "UTF-8");
				${"page" . $y}->setFont($font, 10);
				${"page" . $y}->drawText($itemtype[$skey], $kk + 300, $jk , "UTF-8");
				$jk = $jk - 20;	
			endforeach;
			if($bunitemsku){
				$jk = 300;
				${"page" . $y}->setFont($font, 10);
				${"page" . $y}->drawText("Stem Sku",360 ,320 , 'UTF-8');
				${"page" . $y}->drawText("Stem Name", 420, 320 , "UTF-8");
				${"page" . $y}->drawText("Stem Quantity", 500, 320 , "UTF-8");
				foreach($bunitemsku as $skey => $sval) :
					${"page" . $y}->setFont($font, 10);
					${"page" . $y}->drawText($sval,$kk + 360 ,$jk , 'UTF-8');
					${"page" . $y}->setFont($font, 10);		
					${"page" . $y}->drawText($bunitemname[$skey], $kk+ 420, $jk , "UTF-8");
					${"page" . $y}->setFont($font, 10);
					${"page" . $y}->drawText($bunqtyarrcnt[$skey], $kk + 530, $jk , "UTF-8");
					$jk = $jk - 20;	
				endforeach;
			}
			//echo "nextloop";
		}
		//print_r($itemsku);
		
		//print_r($finalcut);
		//print_r($bunitemname);
		//print_r($bunqtyarrcnt);
		//die;	
		if($i <= $drpcnt){
			$pdf->pages[] = ${"page" . $y};
			//echo "page" . $y;
		}
		$pdfData = $pdf->render(); 
		 
		header("Content-Disposition: inline; filename=result.pdf"); 
		header("Content-type: application/x-pdf"); 
		echo $pdfData;
	}
}
?>