<?php
require_once ('app/Mage.php');
Mage::app('default');
error_reporting(E_ALL);
ini_set('display_errors', 1);
umask(0);

$date = $_REQUEST['date'];
$dateto = $_REQUEST['dateto'];
$prodSku = $_REQUEST['sku'];
if (strpos($prodSku,';') !== false) {
	$exp_prodSku = explode(";",$prodSku);
}
if ($_REQUEST['bunsku']) {
	$bunsku = $_REQUEST['bunsku'];
}
$prod_order = $_REQUEST['prod_order'];
$warehouse = $_REQUEST['warehouse'];
$tradingPartner = $_REQUEST['trading_partner'];
if($tradingPartner == "Kabloom")
{
	$tradingPartner = "";
}
// Create new PDF 
if($warehouse && $prod_order){
	$orders = Mage::getModel('sales/order')->getCollection()
        ->addFieldToFilter('pickup_date', array('from'=>$date, 'to'=>$dateto))
		->addFieldToFilter('assignation_warehouse', $warehouse)
		->addFieldToFilter('increment_id', $prod_order)
		//->addFieldToSelect('entity_id')
		//->addFieldToSelect('entity_id')
		->addFieldToSelect('trading_partner');
}
elseif($prod_order){
	$orders = Mage::getModel('sales/order')->getCollection()
		->addFieldToFilter('increment_id', $prod_order)
		->addFieldToSelect('trading_partner');
}
elseif($warehouse && $date){
	$orders = Mage::getModel('sales/order')->getCollection()
        ->addFieldToFilter('pickup_date', array('from'=>$date, 'to'=>$dateto))
		->addFieldToFilter('assignation_warehouse', $warehouse)
		->addFieldToSelect('trading_partner');
} elseif($warehouse){
	$orders = Mage::getModel('sales/order')->getCollection()
		->addFieldToFilter('assignation_warehouse', $warehouse)
		->addFieldToFilter('trading_partner', $tradingPartner)
		//->addAttributeToFilter('status', array('in' => array('processing','Processing','bar_code','complete','track_sent','bouquet_ready')))
		->addFieldToSelect('trading_partner');
} elseif($date){
	$orders = Mage::getModel('sales/order')->getCollection()
        ->addFieldToFilter('pickup_date', array('from'=>$date, 'to'=>$dateto))
		->addFieldToSelect('trading_partner');
} else{
	$orders = Mage::getModel('sales/order')->getCollection()
		->addAttributeToFilter('status', array('in' => array('processing','Processing','bar_code','complete','track_sent','bouquet_ready')))
		->addFieldToFilter('trading_partner', $tradingPartner)
		->addFieldToSelect('trading_partner');
}

$orders->getSelect()
		->columns('GROUP_CONCAT(entity_id) entity_ids')
		->columns('GROUP_CONCAT(increment_id) increment_ids')
        //->columns('COUNT(*) AS countOrder')
		->group('trading_partner');
//$orders->printLogQuery(true);		
$india_post = array();

$ordernum = array();
$orderstatus = array();	
$itemsku = array();

$itemname = array();
$itemtype = array();
$qtyarr =  array();
$finalcut =  array();
$qty = 0;
$i = 0;
$buncnt = 0;
$bunitemsku = array();
$bunitemname = array();
$bunqtyarrcnt = array();
$bijk = 0;
$errids = $_REQUEST['errid'];
if($errids){
	foreach($errids as $errid) : 
		echo $errid;
		echo '<br/>';
	endforeach;

	die;
}
if(empty($_REQUEST['countsel'])) :
?>
<form name="count" id="count" action="<?php echo 'http://' . $_SERVER['HTTP_HOST'] . $_SERVER['REQUEST_URI']; ?>" method="post">
  Count:<br>
    <select name="countsel">
    <?php
    for ($x = 1; $x <= 20; $x++) {
		if($x == 20){
			echo '<option value="'.$x.'" selected>'.$x.'</option>';
		} else{
			echo '<option value="'.$x.'">'.$x.'</option>';
		}
    }
	?>   
	</select>
	<select name="ordsta">
	<?php 
	$comcnt = 0;
	foreach($orders as $order) :
		if($order['trading_partner'] == "")
		{
				$order['trading_partner'] = "Kabloom";
		}
		if($order['trading_partner'] == $_REQUEST['trading_partner']) 
		{
			$eSku = explode(',',$order['entity_ids']);
			foreach($eSku as $orinc) : 		
				$orderData = Mage::getModel("sales/order")->load($orinc);
				$statuslabel = Mage::getModel('sales/order')->load($orderData->getId())->getStatus();
				if($statuslabel == "bouquet_ready") {
					$comcnt++;
				}
				if(!in_array($statuslabel, $orderstatus)) {
					$orderstatus[] = $statuslabel;
					if($statuslabel == "processing" || $statuslabel == "Processing") {
						echo '<option value="'.$statuslabel.'" selected>'.$statuslabel.'</option>';
					} else{
						echo '<option value="'.$statuslabel.'">'.$statuslabel.'</option>';
					}
				}
			endforeach;
		}
	endforeach;
	?>
	</select>
	Number of orders: <input type="text" name="order_no" id="order_no" value=""/>
	<input type="submit" value="Submit">
</form>
<?php
//echo $comcnt;
endif;
//echo $_REQUEST['order_no']; exit;
if(isset($_REQUEST['countsel'])){
	$drpcnt = $_REQUEST['countsel'];
//$orders->printLogQuery(true);
if($_REQUEST['pickup']){

	foreach($orders as $order) :
		if($order['trading_partner'] == "")
		{
				$order['trading_partner'] = "Kabloom";
		}
		if($order['trading_partner'] == $_REQUEST['trading_partner']) 
		{
			$eSku = explode(',',$order['entity_ids']);
			foreach($eSku as $orinc) : 
				$orderData = Mage::getModel("sales/order")->load($orinc);
				$statuslabel = Mage::getModel('sales/order')->load($orderData->getId())->getStatus();
				
				$upscollections = Mage::getModel('upslabel/upslabel');
				$colls = $upscollections->getCollection()->addFieldToFilter('order_id', $orinc)->addFieldToSelect('statustext');
				
				if($_REQUEST['ordsta'] && $_REQUEST['ordsta'] == $statuslabel){
					if($statuslabel == "processing" || $statuslabel == "Processing") {
						//$orderData->setStatus('bar_code')->save();
					}
					if(!$prodSku){
						if($colls->count() != 0) {
							foreach ($colls AS $k => $v) {
								if($v['statustext'] == "SUCCESS" || $v['statustext'] == "Successfully" || $v['statustext'] == "" || $v['statustext'] != "WARNING") :
									$ordernum[] = $orderData->getIncrementId();
								endif;
							  
							}
						} else {
							$ordernum[] = $orderData->getIncrementId();
						}	
					}
					$ordered_items = $orderData->getAllItems();
					foreach($ordered_items as $item) : 
					
						if($item->getProductType() == 'simple'):
							if(!in_array($orderData->getIncrementId(), $ordernum) && $exp_prodSku && in_array($item->getSku(), $exp_prodSku)) {
								foreach ($colls AS $k => $v) {
									if($v['statustext'] == "SUCCESS" || $v['statustext'] == "Successfully" || $v['statustext'] == "" || $v['statustext'] != "WARNING") :
										$ordernum[] = $orderData->getIncrementId();
									endif;
								  
								}
							}
							elseif(!in_array($orderData->getIncrementId(), $ordernum) && $prodSku == $item->getSku()) {
								if($colls->count() != 0) {
									foreach ($colls AS $k => $v) {
										if($v['statustext'] == "SUCCESS" || $v['statustext'] == "Successfully" || $v['statustext'] == "" || $v['statustext'] != "WARNING") :
											$ordernum[] = $orderData->getIncrementId();
										endif;
									  
									}
								} else {
									$ordernum[] = $orderData->getIncrementId();
								}
								
							}
							
						endif;
						if($item->getSku()) {
							$product = Mage::getModel('catalog/product')->loadByAttribute('sku', $item->getSku());
							//echo $item->getSku()."<br/>";
							$text = $product->getData('internal_sku');
						}
						
						if($text && $bunsku) {
							$expbun = explode("-",$text);
			
			 
							$bundled_product = new Mage_Catalog_Model_Product(); 
							$bundleId = $bundled_product->getIdBySku($expbun[0]);
							
							$store_id = Mage::app()->getStore()->getStoreId();
							$product1 = Mage::getModel('catalog/product')->setStoreId($store_id)->load($bundleId);			
							$options = Mage::getModel('bundle/option')->getResourceCollection()
															  ->setProductIdFilter($bundleId)
															  ->setPositionOrder(); 
							$options->joinValues($store_id);

							$selections = $product1->getTypeInstance(true)
												  ->getSelectionsCollection($product1->getTypeInstance(true)
												  ->getOptionsIds($product1), $product1);
							
							foreach ($options->getItems() as $option) {
								$option_id = $option->getId();
								if($option->getDefaultTitle() == "Flowers") { 
									foreach($selections as $selection){ 
										if($option_id == $selection->getOptionId()){
											$selection_id         = $selection->getId();
											$selection_name       = $selection->getName();
											$selection_qty        = $selection->getSelectionQty();
											$selection_sku        = $selection->getSku();
											//echo $prodSku1. "//" .$selection_sku;
											if($bunsku == $selection_sku) {
												if($colls->count() != 0) {
													foreach ($colls AS $k => $v) {
														if($v['statustext'] == "SUCCESS" || $v['statustext'] == "Successfully" || $v['statustext'] == "" || $v['statustext'] != "WARNING") :
															$ordernum[] = $orderData->getIncrementId();
														endif;
													  
													}
												} else {
													$ordernum[] = $orderData->getIncrementId();
												}

												$bunname = $selection->getName();
												$bunqty = $selection->getSelectionQty();
												$buncnt++;
											}
										}
									}
								}
							}
							
						}
					endforeach;
				}			
			endforeach;
		}
	endforeach;
	if (!empty($ordernum)) {
		$india_post = $ordernum;
	}
	//print_r($india_post);
	
	//print_r($items);
	//echo $bunqty * $buncnt;
	//exit;	
	$k = 10;
	$j = 750;
	
	$pdf = new Zend_Pdf(); 
	$page = $pdf->newPage(Zend_Pdf_Page::SIZE_A4); 
	$font = Zend_Pdf_Font::fontWithName(Zend_Pdf_Font::FONT_HELVETICA);
	
	
	if (!empty($india_post)) {
		$y = 0;
		$i = 1;
	
		$j = 760;
		$k = 10;
		$kk = 0;
		$ijk = 0;
		$bijk = 0;
		$cnt = 0;
		
		${"page" . $y} = $pdf->newPage(Zend_Pdf_Page::SIZE_A4); 
		$font = Zend_Pdf_Font::fontWithName(Zend_Pdf_Font::FONT_HELVETICA);
		${"page" . $y}->setFont($font, 10);
	
		
		foreach ($india_post as $key => $value) {
			
			if(($i > ($drpcnt+1) && $i % $drpcnt == 0) || $i == ($drpcnt+1)) {
				//echo $cnt."//".$y;
				$jk = 300;
				${"page" . $y}->setFont($font, 10);
				${"page" . $y}->drawText("Product Sku",0 ,320 , 'UTF-8');
				${"page" . $y}->drawText("Product Name", 150, 320 , "UTF-8");
				${"page" . $y}->drawText("Quantity", 250, 320 , "UTF-8");
				${"page" . $y}->drawText("Type", 300, 320 , "UTF-8");
				${"page" . $y}->setFont($font, 10);
				${"page" . $y}->drawText("Stem Sku",360 ,320 , 'UTF-8');
				${"page" . $y}->drawText("Stem Name", 420, 320 , "UTF-8");
				${"page" . $y}->drawText("Stem Quantity", 500, 320 , "UTF-8");
				foreach ($finalcut as $kkey => $kvalue) {
					//echo $kvalue."-".$y."////------------------";
					$orderdetails = Mage::getModel('sales/order')->loadByIncrementId($kvalue);
					$statuslabel = Mage::getModel('sales/order')->load($orderdetails->getId())->getStatus();
					if($statuslabel == "processing" || $statuslabel == "Processing") {
						$orderdetails->setStatus('bar_code')->save();
					}
					$ordered_items = $orderdetails->getAllItems();
					foreach($ordered_items as $item) :
						//echo $item->getSku();
						//echo "<br/>";
						if($item->getSku()) {
							$product = Mage::getModel('catalog/product')->loadByAttribute('sku', $item->getSku());
							//echo $item->getSku()."<br/>";
							$text = $product->getData('internal_sku');
						}
						//$product = Mage::getModel('catalog/product')->loadByAttribute('sku', $item->getSku());
						$itemtype[$ijk] = $item->getProductType();
						//echo "<pre/>"; print_r($product->getData());
						//$text = $product->getData('internal_sku');
						//echo "<br/>";
						if($text) {
							$itemtype[$ijk] = "bundle";
							$expbun = explode("-",$text);
			
			 
							$bundled_product = new Mage_Catalog_Model_Product(); 
							$bundleId = $bundled_product->getIdBySku($expbun[0]);
							//echo $bundleId."//".$expbun[0];
							$store_id = Mage::app()->getStore()->getStoreId();
							$product1 = Mage::getModel('catalog/product')->setStoreId($store_id)->load($bundleId);			
							$options = Mage::getModel('bundle/option')->getResourceCollection()
															  ->setProductIdFilter($bundleId)
															  ->setPositionOrder(); 
							$options->joinValues($store_id);

							$selections = $product1->getTypeInstance(true)
												  ->getSelectionsCollection($product1->getTypeInstance(true)
												  ->getOptionsIds($product1), $product1);
							
							foreach ($options->getItems() as $option) {
								$option_id = $option->getId();
								
								if($option->getDefaultTitle() == "Flowers") { 
									foreach($selections as $selection){ 
										//echo Mage::getModel('catalog/product')->load($selection->getId())->getSku();
										if($option_id == $selection->getOptionId()){
											$selection_id         = $selection->getId();
											$selection_name       = $selection->getName();
											$selection_qty        = $selection->getSelectionQty();
											$selection_sku        = Mage::getModel('catalog/product')->load($selection->getId())->getSku();
												
											if (in_array($selection_sku, $bunitemsku))
											{
												$kkkkey = array_search($selection_sku, $bunitemsku);
												//echo "<br/>";
												$bunqtyarrcnt[$kkkkey] = $bunqtyarrcnt[$kkkkey] + $selection->getSelectionQty();
												//echo "<br/>";
											}
											if (!in_array($selection_sku, $bunitemsku))
											{
												$bunitemsku[$bijk] = $selection_sku;
												$bunitemname[$bijk] = substr($selection->getName(), 0, 15);
												$kkkkey = array_search($selection_sku, $bunitemsku);
												//echo "<br/>";
												$bunqtyarrcnt[$bijk] = $selection->getSelectionQty();
												//echo "<br/>";
											}
											$bijk++;
										}
									}
								}
							}
							
						}
						if (in_array($item->getSku(), $itemsku))
						{
							$kkkey = array_search($item->getSku(), $itemsku);
							//$qty++;
							$qtyarr[$kkkey] = $qtyarr[$kkkey] + 1;
							
						}
						if (!in_array($item->getSku(), $itemsku))
						{
							$itemsku[$ijk] = $item->getSku();
							if($item->getName())
								$itemname[$ijk] = substr($item->getName(), 0, 15);
							else
								$itemname[$ijk] = substr($item->getDescription(), 0, 15);
							
							$kkkey = array_search($item->getSku(), $itemsku);
							//$qty = 0;
							//$qty++;
							$qtyarr[$kkkey] = 1;
							
						}
						$ijk++;
					endforeach;
					
				}
				//break;
				if(!$bunsku){
					foreach($itemsku as $skey => $sval) :
						${"page" . $y}->setFont($font, 10);
						${"page" . $y}->drawText($sval,$kk ,$jk , 'UTF-8');
						${"page" . $y}->setFont($font, 10);		
						${"page" . $y}->drawText($itemname[$skey], $kk+ 150, $jk , "UTF-8");
						${"page" . $y}->setFont($font, 10);
						${"page" . $y}->drawText($qtyarr[$skey], $kk + 270, $jk , "UTF-8");
						${"page" . $y}->setFont($font, 10);
						${"page" . $y}->drawText($itemtype[$skey], $kk + 300, $jk , "UTF-8");
						$jk = $jk - 20;	
					endforeach;
				}
				
				$jk = 300;
				
				foreach($bunitemsku as $skey => $sval) :
					${"page" . $y}->setFont($font, 10);
					${"page" . $y}->drawText($sval,$kk + 360 ,$jk , 'UTF-8');
					${"page" . $y}->setFont($font, 10);		
					${"page" . $y}->drawText($bunitemname[$skey], $kk+ 420, $jk , "UTF-8");
					${"page" . $y}->setFont($font, 10);
					${"page" . $y}->drawText($bunqtyarrcnt[$skey], $kk + 530, $jk , "UTF-8");
					$jk = $jk - 20;	
				endforeach;
				
				//echo "nextloop";
			}
			if(($i > ($drpcnt+1) && $i % $drpcnt == 0) || $i == ($drpcnt+1)){
				$y++;
				${"page" . $y} = $pdf->newPage(Zend_Pdf_Page::SIZE_A4); 
				$font = Zend_Pdf_Font::fontWithName(Zend_Pdf_Font::FONT_HELVETICA);
				${"page" . $y}->setFont($font, 10);
				
				$itemsku =  array();
				$itemname =  array();
				$itemtype = array();
				$qtyarr =  array();
				$bunitemsku =  array();
				$bunitemname =  array();
				
				$finalcut =  array();
			}
			$fontPath =   Zend_Pdf_Font::fontWithPath(Mage::getBaseDir('media') . '/fonts/fre3of9x.ttf');
			${"page" . $y}->setFont($fontPath, 30);
			$barcodeImage = "*".$india_post[$key]."*";
			${"page" . $y}->drawText($barcodeImage,$k ,$j - 10 , 'UTF-8');
			${"page" . $y}->setFont($font, 10);
			$finalcut[] = $india_post[$key];
			${"page" . $y}->drawText($india_post[$key], $k, $j + 15, "UTF-8");
			${"page" . $y}->setFont($font, 10);
			${"page" . $y}->drawText($_REQUEST['trading_partner'], $k, $j + 30, "UTF-8");
			$k = $k + 150;
			if($i % 4 == 0){
				$k = 10;
				$j = $j - 77;
			}
			if($i == $drpcnt){
				$pdf->pages[] = ${"page" . $y};
				//echo "page" . $y;
			} 
			if(($i > ($drpcnt+1) && $i % $drpcnt == 0) || $i == ($drpcnt+1)){
				$pdf->pages[] = ${"page" . $y};
				//echo "page" . $y;
			} 
			if($i % $drpcnt == 0){
				$j = 760;
				$k = 10;
			}
			//echo "page" . $y;
			$i++;
			if($_REQUEST['order_no'] == $i-1){
				break;
			}
		} //print_r($bunitemsku); die;
		
		if($bunsku){
			$jk = 300;
			${"page" . $y}->setFont($font, 10);
			${"page" . $y}->drawText("Product Sku",0 ,320 , 'UTF-8');
			${"page" . $y}->drawText("Product Name", 150, 320 , "UTF-8");
			${"page" . $y}->drawText("Quantity", 250, 320 , "UTF-8");
			${"page" . $y}->drawText("Type", 300, 320 , "UTF-8");
			
			${"page" . $y}->setFont($font, 10);
			${"page" . $y}->drawText($bunsku,$kk ,$jk , 'UTF-8');
			${"page" . $y}->setFont($font, 10);		
			${"page" . $y}->drawText($bunname, $kk+ 150, $jk , "UTF-8");
			${"page" . $y}->setFont($font, 10);
			${"page" . $y}->drawText($bunqty * $buncnt, $kk + 270, $jk , "UTF-8");
		} elseif($finalcut) {
			//echo $cnt."//".$y;
			$itemsku =  array();
			$itemname =  array();
			$itemtype = array();
			$qtyarr =  array();
			$jk = 300;
			${"page" . $y}->setFont($font, 10);
			${"page" . $y}->drawText("Product Sku",0 ,320 , 'UTF-8');
			${"page" . $y}->drawText("Product Name", 150, 320 , "UTF-8");
			${"page" . $y}->drawText("Quantity", 250, 320 , "UTF-8");
			${"page" . $y}->drawText("Type", 300, 320 , "UTF-8");
			
			foreach ($finalcut as $kkey => $kvalue) {
				//echo $kvalue."-".$y."////------------------";
				$orderdetails = Mage::getModel('sales/order')->loadByIncrementId($kvalue);
				$statuslabel = Mage::getModel('sales/order')->load($orderdetails->getId())->getStatus();
				if($statuslabel == "processing" || $statuslabel == "Processing") {
					$orderdetails->setStatus('bar_code')->save();
				}
				$ordered_items = $orderdetails->getAllItems();
				foreach($ordered_items as $item) :   
					if($item->getSku()) {
						$product = Mage::getModel('catalog/product')->loadByAttribute('sku', $item->getSku());
						//echo $item->getSku()."<br/>";
						$text = $product->getData('internal_sku');
					}
					//$product = Mage::getModel('catalog/product')->loadByAttribute('sku', $item->getSku());
					$itemtype[$ijk] = $item->getProductType();
					//echo "<pre/>"; print_r($product->getData());
					//$text = $product->getData('internal_sku');
					if($text) {
						$itemtype[$ijk] = "bundle";
						$expbun = explode("-",$text);
		
		 
						$bundled_product = new Mage_Catalog_Model_Product(); 
						$bundleId = $bundled_product->getIdBySku($expbun[0]);
						//echo $bundleId."//".$expbun[0];
						$store_id = Mage::app()->getStore()->getStoreId();
						$product1 = Mage::getModel('catalog/product')->setStoreId($store_id)->load($bundleId);			
						$options = Mage::getModel('bundle/option')->getResourceCollection()
														  ->setProductIdFilter($bundleId)
														  ->setPositionOrder(); 
						$options->joinValues($store_id);

						$selections = $product1->getTypeInstance(true)
											  ->getSelectionsCollection($product1->getTypeInstance(true)
											  ->getOptionsIds($product1), $product1);
						
						foreach ($options->getItems() as $option) {
							$option_id = $option->getId();
							
							if($option->getDefaultTitle() == "Flowers") { 
								foreach($selections as $selection){ 
									//echo Mage::getModel('catalog/product')->load($selection->getId())->getSku();
									if($option_id == $selection->getOptionId()){
										$selection_id         = $selection->getId();
										$selection_name       = $selection->getName();
										$selection_qty        = $selection->getSelectionQty();
										$selection_sku        = Mage::getModel('catalog/product')->load($selection->getId())->getSku();
											
										if (in_array($selection_sku, $bunitemsku))
										{
											$kkkkey = array_search($selection_sku, $bunitemsku);
											$bunqtyarrcnt[$kkkkey] = $bunqtyarrcnt[$kkkkey] + $selection->getSelectionQty();
											
										}
										if (!in_array($selection_sku, $bunitemsku))
										{
											$bunitemsku[$bijk] = $selection_sku;
											$bunitemname[$bijk] = substr($selection->getName(), 0, 15);
											$kkkkey = array_search($selection_sku, $bunitemsku);
											$bunqtyarrcnt[$bijk] = $selection->getSelectionQty();
										}
										$bijk++;
									}
								}
							}
						}
						
					}
					if (in_array($item->getSku(), $itemsku))
					{
						$kkkey = array_search($item->getSku(), $itemsku);
						//$qty++;
						$qtyarr[$kkkey] = $qtyarr[$kkkey] + 1;
						
					}
					if (!in_array($item->getSku(), $itemsku))
					{
						$itemsku[$ijk] = $item->getSku();
						if($item->getName())
								$itemname[$ijk] = substr($item->getName(), 0, 15);
						else
							$itemname[$ijk] = substr($item->getDescription(), 0, 15);
						$kkkey = array_search($item->getSku(), $itemsku);
						//$qty = 0;
						//$qty++;
						$qtyarr[$kkkey] = 1;
						
					}
					$ijk++;
				endforeach;
				
			}
			foreach($itemsku as $skey => $sval) :
				${"page" . $y}->setFont($font, 10);
				${"page" . $y}->drawText($sval,$kk ,$jk , 'UTF-8');
				${"page" . $y}->setFont($font, 10);		
				${"page" . $y}->drawText($itemname[$skey], $kk+ 150, $jk , "UTF-8");
				${"page" . $y}->setFont($font, 10);
				${"page" . $y}->drawText($qtyarr[$skey], $kk + 270, $jk , "UTF-8");
				${"page" . $y}->setFont($font, 10);
				${"page" . $y}->drawText($itemtype[$skey], $kk + 300, $jk , "UTF-8");
				$jk = $jk - 20;	
			endforeach;
			if($bunitemsku){
				$jk = 300;
				${"page" . $y}->setFont($font, 10);
				${"page" . $y}->drawText("Stem Sku",360 ,320 , 'UTF-8');
				${"page" . $y}->drawText("Stem Name", 420, 320 , "UTF-8");
				${"page" . $y}->drawText("Stem Quantity", 500, 320 , "UTF-8");
				foreach($bunitemsku as $skey => $sval) :
					${"page" . $y}->setFont($font, 10);
					${"page" . $y}->drawText($sval,$kk + 360 ,$jk , 'UTF-8');
					${"page" . $y}->setFont($font, 10);		
					${"page" . $y}->drawText($bunitemname[$skey], $kk+ 420, $jk , "UTF-8");
					${"page" . $y}->setFont($font, 10);
					${"page" . $y}->drawText($bunqtyarrcnt[$skey], $kk + 530, $jk , "UTF-8");
					$jk = $jk - 20;	
				endforeach;
			}
			//echo "nextloop";
		}
		//print_r($itemsku);
		
		//print_r($finalcut);
		//print_r($bunitemname);
		//print_r($bunqtyarrcnt);
		//die;	
		if($i <= $drpcnt){
			$pdf->pages[] = ${"page" . $y};
			//echo "page" . $y;
		}
		$pdfData = $pdf->render(); 
		 
		header("Content-Disposition: inline; filename=result.pdf"); 
		header("Content-type: application/x-pdf"); 
		echo $pdfData;
	
	} else{
		$url = Mage::helper('core/http')->getHttpReferer() ? Mage::helper('core/http')->getHttpReferer()  : Mage::getUrl();
		Mage::app()->getFrontController()->getResponse()->setRedirect($url);
		Mage::app()->getResponse()->sendResponse();
		return;
	}
} 
}
?>