#preview{position:absolute;border:1px solid #000;background:#333;padding:10px;font-size:12px;text-align:center;width:300px;display:none;color:#fff;z-index:10;}
div#fancy_overlay{position:fixed;top:0;left:0;width:100%;height:100%;display:none;z-index:90;}
div#fancy_loading{position:absolute;height:40px;width:40px;cursor:pointer;display:none;overflow:hidden;background:transparent;z-index:100;}
div#fancy_loading div{position:absolute;top:0;left:0;width:40px;height:480px;background:transparent url('../images/fancybox/fancy_progress.png') no-repeat;}
div#fancy_outer{position:absolute;top:0;left:0;z-index:9999;padding:20px 20px 40px 20px;margin:0;background:transparent;display:none;}
div#fancy_inner{position:relative;width:100%;height:100%;background:#FFF;}
div#fancy_content{margin:0;z-index:100;position:absolute;}
div#fancy_div{background:#000;color:#FFF;height:100%;width:100%;z-index:100;}
img#fancy_img{position:absolute;top:0;left:0;border:0;padding:0;margin:0;z-index:100;width:100%;height:100%;}
div#fancy_close{position:absolute;top:-12px;right:-15px;height:30px;width:30px;background:url('../images/fancybox/fancy_closebox.png') top left no-repeat;cursor:pointer;z-index:181;display:none;}
#fancy_frame{position:relative;width:100%;height:100%;display:none;}
#fancy_ajax{width:100%;height:100%;overflow:auto;}
a#fancy_left, a#fancy_right{position:absolute;bottom:0px;height:100%;width:35%;cursor:pointer;z-index:111;display:none;background-image:url("data:image/gif;base64,AAAA");outline:none;overflow:hidden;}
a#fancy_left{left:0px;}
a#fancy_right{right:0px;}
span.fancy_ico{position:absolute;top:50%;margin-top:-15px;width:30px;height:30px;z-index:112;cursor:pointer;display:block;}
span#fancy_left_ico{left:-9999px;background:transparent url('../images/fancybox/fancy_left.png') no-repeat;}
span#fancy_right_ico{right:-9999px;background:transparent url('../images/fancybox/fancy_right.png') no-repeat;}
a#fancy_left:hover, a#fancy_right:hover{visibility:visible;background-color:transparent;}
a#fancy_left:hover span{left:20px;}
a#fancy_right:hover span{right:20px;}
#fancy_bigIframe{position:absolute;top:0;left:0;width:100%;height:100%;background:transparent;}
div#fancy_bg{position:absolute;top:0;left:0;width:100%;height:100%;z-index:70;border:0;padding:0;margin:0;}
div.fancy_bg{position:absolute;display:block;z-index:70;border:0;padding:0;margin:0;}
div#fancy_bg_n{top:-20px;left:0;width:100%;height:20px;background:transparent url('../images/fancybox/fancy_shadow_n.png') repeat-x;}
div#fancy_bg_ne{top:-20px;right:-20px;width:20px;height:20px;background:transparent url('../images/fancybox/fancy_shadow_ne.png') no-repeat;}
div#fancy_bg_e{right:-20px;height:100%;width:20px;background:transparent url('../images/fancybox/fancy_shadow_e.png') repeat-y;}
div#fancy_bg_se{bottom:-20px;right:-20px;width:20px;height:20px;background:transparent url('../images/fancybox/fancy_shadow_se.png') no-repeat;}
div#fancy_bg_s{bottom:-20px;left:0;width:100%;height:20px;background:transparent url('../images/fancybox/fancy_shadow_s.png') repeat-x;}
div#fancy_bg_sw{bottom:-20px;left:-20px;width:20px;height:20px;background:transparent url('../images/fancybox/fancy_shadow_sw.png') no-repeat;}
div#fancy_bg_w{left:-20px;height:100%;width:20px;background:transparent url('../images/fancybox/fancy_shadow_w.png') repeat-y;}
div#fancy_bg_nw{top:-20px;left:-20px;width:20px;height:20px;background:transparent url('../images/fancybox/fancy_shadow_nw.png') no-repeat;}
div#fancy_title{position:absolute;z-index:100;display:none;}
div#fancy_title div{color:#FFF;font:bold 12px Arial;padding-bottom:3px;white-space:nowrap;}
div#fancy_title table{margin:0 auto;}
div#fancy_title table td{padding:0;vertical-align:middle;}
td#fancy_title_left{height:32px;width:15px;background:transparent url('../images/fancybox/fancy_title_left.png') repeat-x;}
td#fancy_title_main{height:32px;background:transparent url('../images/fancybox/fancy_title_main.png') repeat-x;}
td#fancy_title_right{height:32px;width:15px;background:transparent url('../images/fancybox/fancy_title_right.png') repeat-x;}
.pop{position:absolute;display:inline;}
.pop .pop_menu{display:none;-moz-border-radius:3px;-webkit-border-radius:3px;z-index:80;}
.pop .pop_toggle{background-image:url(../images/cart/arrow_down.png);background-repeat:no-repeat;background-position:center center;width:20px;height:20px;overflow:hidden;cursor:pointer;}
.active .pop_menu{display:block;background-color:#ebebeb;color:#fff;position:absolute;padding:.6em;width:12em;z-index:80;}
.active .pop_menu a{color:#fff;}
.active .pop_toggle{z-index:2000;position:absolute;top:0;left:0;background-image:url(../images/cart/arrow_up.png);}
#slider-wrapper{float:left;position:relative;width:675px !important;}
#slider ul, #slider li, #slider2 ul, #slider2 li{margin:0;padding:0;list-style:none;}
#slider{width:674px;height:328px;}
#slider2{margin-top:1em;}
#slider li, #slider2 li{width:674px;height:328px;overflow:hidden;}
#prevBtn, #nextBtn, #slider1next, #slider1prev{display:block;width:30px;height:77px;position:absolute;left:-30px;top:71px;z-index:1000;}
#nextBtn, #slider1next{left:696px;}
#prevBtn a, #nextBtn a, #slider1next a, #slider1prev a{display:block;position:relative;width:30px;height:77px;background:url(../images/slider/btn_prev.gif) no-repeat 0 0;}
#nextBtn a, #slider1next a{background:url(../images/slider/btn_next.gif) no-repeat 0 0;}
ol#controls{margin:1em 0;padding:0;height:20px;position:absolute;right:10px;top:10px;}
ol#controls li{margin:0 5px 0 0;padding:0;font-size:12px;float:left;list-style:none;height:20px;line-height:20px;}
ol#controls li a{float:left;height:20px;line-height:20px;color:#999999;background:#000;padding:1px 7px;text-decoration:none;}
ol#controls li.current a{background:#000;font-weight:bold;color:#fff;}
ol#controls li a:focus, #prevBtn a:focus, #nextBtn a:focus{outline:none;}
#controls{z-index:50;position:absolute;top:15px;right:15px;}
#controls a{background:#000;margin:0 5px;padding:5px 8px;text-decoration:none;color:#999999;}
#controls a.activeSlide{background:#000;font-weight:bold;color:#fff;}
#controls a:focus{outline:none;}
#slider li span.comment{color:#FFFFFF;float:left;position:relative;top:-60px;font-size:15px;text-align:right;width:654px;padding-right:20px;background:#000;line-height:60px;height:60px;}
.jcarousel-container{position:relative;}
.jcarousel-clip{z-index:2;padding:0;margin:0;overflow:hidden;position:relative;}
.jcarousel-list{z-index:1;overflow:hidden;position:relative;top:0;left:0;margin:0;padding:0;}
.jcarousel-list li, .jcarousel-item{float:left;list-style:none;width:150px;height:150px;border:1px solid #cdcdcd;}
.jcarousel-list li:hover, .jcarousel-item:hover{border:1px solid #a9a9a9;}
.jcarousel-next{z-index:3;display:none;}
.jcarousel-prev{z-index:3;display:none;}
.jcarousel-skin-tango .jcarousel-container{float:left;background:#f4f4f4 url(../images/background/featured_product_bg.gif) repeat-x;}
.jcarousel-skin-tango .jcarousel-container-horizontal{width:598px;padding:15px 38px;-moz-border-radius:10px;-webkit-border-radius:10px;}
.jcarousel-skin-tango .jcarousel-container-vertical{width:75px;height:245px;padding:40px 20px;}
.jcarousel-skin-tango .jcarousel-clip-horizontal{width:598px;height:108px;}
.jcarousel-skin-tango .jcarousel-clip-vertical{width:75px;height:245px;}
.jcarousel-skin-tango .jcarousel-item{width:105px;height:105px;}
.jcarousel-skin-tango .jcarousel-item-horizontal{margin-right:15px;}
.jcarousel-skin-tango .jcarousel-item-vertical{margin-bottom:15px;}
.jcarousel-skin-tango .jcarousel-item-placeholder{background:#fff;color:#000;}
.jcarousel-skin-tango .jcarousel-next-horizontal{position:absolute;top:60px;right:8px;width:27px;height:27px;cursor:pointer;background:transparent url(../images/buttons/next-horizontal.png) no-repeat 0 0;}
.jcarousel-skin-tango .jcarousel-next-horizontal:hover{background-position:-27px 0;}
.jcarousel-skin-tango .jcarousel-next-horizontal:active{background-position:-27px 0;}
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal, .jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover, .jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active{cursor:default;background-position:-54px 0;}
.jcarousel-skin-tango .jcarousel-prev-horizontal{position:absolute;top:60px;left:8px;width:27px;height:27px;cursor:pointer;background:transparent url(../images/buttons/prev-horizontal.png) no-repeat 0 0;}
.jcarousel-skin-tango .jcarousel-prev-horizontal:hover{background-position:-27px 0;}
.jcarousel-skin-tango .jcarousel-prev-horizontal:active{background-position:-27px 0;}
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal, .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover, .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active{cursor:default;background-position:-54px 0;}
.jcarousel-skin-tango .jcarousel-next-vertical{position:absolute;bottom:5px;left:43px;width:32px;height:32px;cursor:pointer;background:transparent url(../images/buttons/next-vertical.png) no-repeat 0 0;}
.jcarousel-skin-tango .jcarousel-next-vertical:hover{background-position:0 -32px;}
.jcarousel-skin-tango .jcarousel-next-vertical:active{background-position:0 -64px;}
.jcarousel-skin-tango .jcarousel-next-disabled-vertical, .jcarousel-skin-tango .jcarousel-next-disabled-vertical:hover, .jcarousel-skin-tango .jcarousel-next-disabled-vertical:active{cursor:default;background-position:0 -96px;}
.jcarousel-skin-tango .jcarousel-prev-vertical{position:absolute;top:5px;left:43px;width:32px;height:32px;cursor:pointer;background:transparent url(../images/buttons/prev-vertical.png) no-repeat 0 0;}
.jcarousel-skin-tango .jcarousel-prev-vertical:hover{background-position:0 -32px;}
.jcarousel-skin-tango .jcarousel-prev-vertical:active{background-position:0 -64px;}
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical, .jcarousel-skin-tango .jcarousel-prev-disabled-vertical:hover, .jcarousel-skin-tango .jcarousel-prev-disabled-vertical:active{cursor:default;background-position:0 -96px;}