.widget{display:inline;}
.widget .widget-title{clear:both;padding:15px 0 0;margin:0 0 2px;}
.widget .widget-title h2{font-size:15px;font-weight:bold;color:#e25203;}
.widget .mini-products-images-list .product-image{display:block;width:76px;height:76px;border:1px solid #a9a9a9;margin:0 auto;}
.widget .mini-products-images-list li.item{float:left;width:77px;height:77px;border:0 !important;padding:5px 9px !important;}
.widget-new-products{display:block;}
.col-main .widget-new-products{margin:7px 0;}
.widget-new-products .products-grid .product-image,
.widget-new-products .products-list .product-image{width:85px;height:85px;}
.widget-new-products .products-list .product-shop{margin-left:100px;}
.widget-viewed{display:block;}
.col-main .widget-viewed{margin:7px 0;}
.widget-viewed .products-grid .product-image,
.widget-viewed .products-list .product-image{width:85px;height:85px;}
.widget-viewed .products-list .product-shop{margin-left:100px;}
.widget-compared{display:block;}
.col-main .widget-compared{margin:7px 0;}
.widget-compared .products-grid .product-image,
.widget-compared .products-list .product-image{width:85px;height:85px;}
.widget-compared .products-list .product-shop{margin-left:100px;}
.widget-static-block{}
.sidebar .widget-static-block{display:block;margin:0 0 15px;}
.top-container .widget a{padding:0 0 0 7px;}
.bottom-container .widget a{padding:0 3px;}
.widget-product-link-inline{display:inline;}
.col-main .widget-product-link{display:block;font-size:12px;text-align:right;margin:7px 0;}
.col-main .widget-product-link a{background:url(../images/widgets/i_widget-link.gif) 100% 3px no-repeat;padding-right:15px;}
.sidebar .widget-product-link{display:block;margin:0 0 15px;padding:0 10px;}
.sidebar .widget-product-link a{background:url(../images/widgets/i_widget-link.gif) 100% 3px no-repeat;padding:0 15px 0 0;}
.widget-category-link-inline{display:inline;}
.col-main .widget-category-link{display:block;font-size:12px;text-align:right;margin:7px 0;}
.col-main .widget-category-link a{background:url(../images/widgets/i_widget-link.gif) 100% 3px no-repeat;padding-right:15px;}
.sidebar .widget-category-link{display:block;margin:0 0 15px;padding:0 10px;}
.sidebar .widget-category-link a{background:url(../images/widgets/i_widget-link.gif) 100% 3px no-repeat;padding:0 15px 0 0;}
.widget-cms-link-inline{display:inline;}
.col-main .widget-cms-link{display:block;font-size:12px;text-align:right;margin:7px 0;}
.col-main .widget-cms-link a{background:url(../images/widgets/i_widget-link.gif) 100% 3px no-repeat;padding-right:15px;}
.sidebar .widget-cms-link{display:block;margin:0 0 15px;padding:0 10px;}
.sidebar .widget-cms-link a{background:url(../images/widgets/i_widget-link.gif) 100% 3px no-repeat;padding:0 15px 0 0;}