                    <label for="city"><?php echo $this->__('City') ?> <span class="required">*</span></label><br />
                    <?php
                	$cities=Mage::getModel('citylist/citylist');
                	echo $cities->getHtmlCitylist($this->htmlEscape($this->getAddress()->getCity()));
                	?>
					<input type="hidden" id="city" name="city" value="<?php echo $this->htmlEscape($this->getAddress()->getCity()) ?>"  title="<?php echo $this->__('City') ?>" class="input-text required-entry" id="city" />

		<script language="javascript">
		function closepopup() {
		new Effect.Opacity('overlay', { from: 1, to: 0 });
		//new Effect.Opacity('citypopup', { from: 1, to: 0 });
		document.getElementById('overlay').style.visibility='hidden';
		//document.getElementById('citypopup').style.visibility='hidden';
		}
		function setAddr(event) {
		  var target = event.target || event.srcElement;
		  var selcity=target[target.selectedIndex].value;
  		  var ct=document.getElementById("city");
  		  if(selcity == -1){

  		  new Effect.Opacity('overlay', { from: 0, to: 1 })
  		  document.getElementById("overlay").style.visibility="visible";
		  //document.getElementById("citypopup").style.visibility="visible";
  		  //new Effect.Opacity('citypopup', { from: 0, to: 1 })
  		  $('citypopup').setOpacity(1);

		   }
		  else{ct.value=selcity;}

	      if (event.preventDefault) {
	      		event.preventDefault();
	    		}
    		event.returnValue = false;

		}

		var sb = document.getElementById("citylist");
		if (sb.addEventListener) {
		  sb.addEventListener("change", setAddr, false);
		} else if (sb.attachEvent) {
		  sb.attachEvent("onchange", setAddr);
		}

		</script>

		<div id="overlay">
		<div id="citypopup"><a id="popupclose" onclick="closepopup();return false;" href="#">Fermer X</a>
		<h3>Votre Ville ou village n'est pas encore desservi</h3>
		</div>
		</div>
