<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Helpdesk3
 * @version    3.3.2
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><p class="form__submit-wrapper">
    <button type="submit" id="aw_hdu_ticket_create_form_link" title="<?php echo $this->__('Create New Ticket');?>" class="form__submit button"><?php echo $this->__('Create New Ticket');?></button>
</p><!-- .form__submit-wrapper -->
<script type="text/javascript">
    $('aw_hdu_ticket_create_form_link').observe('click', function(){
        $('aw_hdu_ticket_create_form').addClassName('is-opened');
    });
</script>