#loading-mask { display:none; color: rgb(216, 89, 9); font-size: 1.1em; font-weight: bold; opacity: 0.8; position: fixed; text-align: center; z-index: 500; top: 50%; left: 50%;  }
#loading_mask_loader { border:2px solid #CCCCCC;  font-weight:bold; left:50%; margin-left:-120px; padding:15px 60px; position:fixed; text-align:center; top:45%; width:120px; z-index:1000; background:#FFFFFF none repeat scroll 0 0; }
#after-loading-success-message { display:none;  font-size: 1.1em; position: fixed; text-align: center; z-index: 500; width: 100%;height: 100%;}
#success-message-container { border:2px solid #CCCCCC; font-weight:bold;  padding:15px 30px; position:relative; text-align:center; top:35%; width:303px; z-index:1000; background:#FFFFFF none repeat scroll 0 0; margin: auto; }


