<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Helpdesk3
 * @version    3.3.2
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php /** @var AW_Helpdesk3_Block_Adminhtml_Ticket_Edit_Form $this */?>
<div class="entry-edit awhdu3-ticket-view-container">
    <div class="awhdu3-ticket-view-container-left">
        <?php echo $this->getChildHtml('reply');?>
        <?php echo $this->getChildHtml('thread');?>
    </div>
    <div class="awhdu3-ticket-view-container-right">
        <?php echo $this->getChildHtml('details');?>
        <?php echo $this->getChildHtml('customer_summary');?>
        <?php echo $this->getChildHtml('customer_orders');?>
        <?php echo $this->getChildHtml('customer_tickets');?>
    </div>
</div>