<form onkeypress="return event.keyCode != 13;" method="POST" action="<?php echo mage::helper('adminhtml')->getUrl('Amazon/Main/selectAsin', array('country_id' => Mage::registry('mp_country')->getId())); ?>">
    <input id="form_key" name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
    <div align="right">
        <button class="scalable save"><?php echo $this->__('Match ASINs') ?></button>
    </div>
    <?php echo $this->getChildHtml('multiple_asins_grid'); ?>
</form>