<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Helpdesk3
 * @version    3.3.2
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php /** @var AW_Helpdesk3_Block_Adminhtml_Statistic_Agent_View_Grid $this */?>
<div class="grid">
    <table cellspacing="0" class="data">
        <thead>
        <tr class="headings">
            <th><?php echo $this->__('Agent Name');?></th>
            <th><?php echo $this->__('Department(s)');?></th>
            <th><?php echo $this->__('Average Time of First Reply (hrs)');?></th>
            <th><?php echo $this->__('Average Time of Closing Tickets (hrs)');?></th>
        </tr>
        </thead>
        <tbody>
        <?php foreach ($this->getAgentOptionHash() as $agentId => $agentData):?>
            <?php if($this->isAgentSelected($agentId)): ?>
                <tr>
                    <td class="a-left"><?php echo $agentData['name'];?></td>
                    <td class="a-left"><?php echo join('<br/>', $agentData['departmentHash']);?></td>
                    <td class="a-right"><?php echo round($this->getAverageTimeOfFirstReply($agentId), 1);?></td>
                    <td class="a-right"><?php echo round($this->getAverageTimeOfClosingTicket($agentId), 1);?></td>
                </tr>
            <?php endif; ?>
        <?php endforeach;?>
        </tbody>
        <tfoot>
        <tr class="totals">
            <th class="a-left"><?php echo $this->__('MEDIAN');?></th>
            <th class="a-left">&nbsp;</th>
            <th class="a-right"><?php echo round($this->getAverageTimeOfFirstReply(), 1);?></th>
            <th class="a-right"><?php echo round($this->getAverageTimeOfClosingTicket(), 1);?></th>
        </tr>
        </tfoot>
    </table>
</div>
<div class="a-right">
    <img src="<?php echo $this->getSkinUrl('images/icon_export.gif') ?>" alt="" class="v-middle"/>&nbsp; <?php echo $this->__('Export to:') ?>
    <select name="agents_export" id="agents_export" style="width:8em;">
        <option value="<?php echo $this->getExportCsvUrl()?>"><?php echo $this->__('CSV') ?></option>
        <option value="<?php echo $this->getExportExcelUrl()?>"><?php echo $this->__('Excel XML') ?></option>
    </select>
    <button type="button" class="task" onclick="setLocation($('agents_export').getValue())">
        <span>
            <span>
                <?php echo $this->__('Export') ?>
            </span>
        </span>
    </button>
</div>