<?php
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @copyright  Copyright (c) 2013 Boost My Shop (http://www.boostmyshop.com)
 * @author : Nicolas MUGNIER
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @package MDN_Amazon
 * @version 2
 */
?>
<script type="text/javascript">

function displayNewOptionnalFieldRow(){

    var url = '<?php echo $this->getUrl('Amazon/OptionnalsFields/displayNewOptionnalFieldRow'); ?>';

    new Ajax.Request(
            url,
            {
                methode : 'GET',
                onSuccess: function(transport, json){
                    var tr = document.createElement('tr');
                    document.getElementById('optionnals_fields_table').appendChild(tr);
                    tr.innerHTML = transport.responseText;
                },
                onFailure: function(response){
                    alert('error');
                }
            }
            );
}

</script>

<div class="content-header">
    <table cellspacing="0" class="grid-header">
        <tr>
            <td><h3><?php echo $this->__('Amazon Optionnals fields') ?></h3></td>         
            <td class="a-right">
                <button class="scalable save" type="button" onclick="optionnals_fields_form.submit();"><span>Save</span></button>
            </td>
        </tr>
    </table>
</div>

<div class="grid">
    <form method="POST" action="<?php echo $this->getUrl('Amazon/OptionnalsFields/save'); ?>" id="optionnals_fields_form" name="optionnals_fields_form">
    <input name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
    <table class="data" cellspacing="0" width="100%" id="optionnals_fields_table">
        <thead>
            <tr class="headings">
                <th class="a-center"><?php echo $this->__('Amazon field') ?></th>
                <th class="a-center"><?php echo $this->__('Magento attribute') ?></th>
                <th class="a-center"><?php echo $this->__('Action'); ?></th>
            </tr>
        </thead>
        <tbody>
            <?php $i = 0 ?>
            <?php foreach($this->getOptionnalsFields() as $item): ?>
            <?php $class = ($i % 2 == 0) ? 'even' : ''; ?>
                <tr class="<?php echo $class; ?>">
                    <td><input type="text" name="data[<?php echo $item->getid() ?>][amazon_attribute]" id="" value="<?php echo $this->__($item->getaof_name()) ?>"/></td>
                    <td><?php echo $this->getAttributesAsCombo($item); ?></td>
                    <td><?php echo $this->getActionsAsCombo($item); ?></td>
                </tr>
            <?php $i++ ?>
            <?php endforeach ?>
        </tbody>
        <tfoot>
            <tr><td colspan="3"><a href="#" onclick="displayNewOptionnalFieldRow()">Add</a></td></tr>
        </tfoot>
    </table>
    </form>
</div>


