<?php
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @copyright  Copyright (c) 2013 Boost My Shop (http://www.boostmyshop.com)
 * @author : Nicolas MUGNIER
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @package MDN_Amazon
 * @version 2
 */
?>

<div class="content-header">
    <table cellspacing="0" class="grid-header">
        <tr>
            <td><h3><?php echo $this->__('Amazon Required fields') ?></h3></td>
        </tr>
    </table>
</div>

<div class="grid">
    <table class="data" cellspacing="0" width="100%" >
        <thead>
            <tr class="headings">
                <th class="a-center"><?php echo $this->__('Category') ?></th>
                <th class="a-center"><?php echo $this->__('Edit') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php $i = 0 ?>
            <?php foreach($this->categories as $cat): ?>
            <?php $class = ($i % 2 == 0) ? 'even' : ''; ?>
                <tr class="<?php echo $class; ?>">
                    <td><?php echo $this->__($cat) ?></td>
                    <td><a href="<?php echo Mage::helper('adminhtml')->getUrl('Amazon/Requiredfields/Edit', array('category' => $cat)) ?>"><?php echo $this->__('Edit') ?></a></td>
                </tr>
            <?php $i++ ?>
            <?php endforeach ?>
        </tbody>
    </table>
</div>


