<div class="content-header">
    <table cellspacing="0" class="grid-header">
        <tr>
            <td><h3><?php echo $this->__('Amazon Optionnals fields') ?></h3></td>         
            <td class="a-right">
                <?php echo $this->getChildHtml('save_button'); ?>
            </td>
        </tr>
    </table>
</div>

<div class="entry-edit">
<?php echo $this->getFormHtml(); ?>
</div>