<?php
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @copyright  Copyright (c) 2013 Boost My Shop (http://www.boostmyshop.com)
 * @author : Nicolas MUGNIER
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @package MDN_Amazon
 * @version 2
 */
?>
<div class="content-header">
    <table cellspacing="0" class="grid-header">
        <tr>
            <td><h3 class="icon-head head-customer"><?php echo $this->_getHeader(); ?></h3></td>
            <td class="a-right"><?php echo $this->getChildHtml('save_button'); ?><?php if ($this->getAccountId()): ?><?php echo $this->getChildHtml('delete_button'); ?><?php endif; ?>
            </td>
        </tr>
    </table>
</div>

<div class="entry-edit">
    <?php echo $this->getFormHtml(); ?>
</div>

<script type="text/javascript">

    var accountForm = new VarienForm('accountForm');       

    /*function test(){
        alert('test');
    }*/

</script>
