<!--@subject {{var store.getFrontendName()}}: New Order # {{var order.increment_id}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$order.getBillingAddress().getName()":"Guest Customer Name",
"var store.getFrontendName()":"Store Name",
"var order.increment_id":"Order Id",
"var order.getCreatedAtFormated('long')":"Order Created At (datetime)",
"var order.getBillingAddress().format('html')":"Billing Address",
"var payment_html":"Payment Details",
"var order.getShippingAddress().format('html')":"Shipping Address",
"var order.getShippingDescription()":"Shipping Description",
"layout handle=\"sales_email_order_items\" order=$order":"Order Items Grid",
"var order.getEmailCustomerNote()":"Email Order Note"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" width="100%">
<tr>
    <td align="center" valign="top" style="padding:20px 0 20px 0" >
        <!-- [ header starts here] -->
        <table bgcolor="#FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
            <tr><td valign="top" colspan="2" ><a href="{{store url=""}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}" style="margin-bottom:10px;" border="0"/></a><span style="float:right; font-size:20px; color:#293998;">order confirmation</span></td></tr>
<tr style="height:10pt;"><td style="background:#585454;padding:0cm 0cm 0cm 0cm;height:18.75pt" colspan="2"><table><tr><td width="118" style="width:88.5pt;background:#585454;padding:0cm 0cm 0cm 0cm;height:18.75pt"><p class="MsoNormal" align="center" style="text-align:center;line-height:10.5pt"><span style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:white"><a href="{{store url=""}}shop-flowers-gifts/flowers-by-occasion/birthday.html" target="_blank"><span style="color:white;text-decoration:none">Birthday</span></a><u></u><u></u></span></p></td><td width="1" valign="top" style="width:.75pt;background:#01344d;padding:0cm 0cm 0cm 0cm;height:18.75pt"></td><td width="118" style="width:88.5pt;background:#585454;padding:0cm 0cm 0cm 0cm;height:18.75pt"><p class="MsoNormal" align="center" style="text-align:center;line-height:10.5pt"><span style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:white"><a href="{{store url=""}}shop-flowers-gifts/flowers-by-occasion/anniversary.html" target="_blank"><span style="color:white;text-decoration:none">Anniversary</span></a><u></u><u></u></span></p></td><td width="1" valign="top" style="width:.75pt;background:#01344d;padding:0cm 0cm 0cm 0cm;height:18.75pt"></td><td width="118" style="width:88.5pt;background:#585454;padding:0cm 0cm 0cm 0cm;height:18.75pt"><p class="MsoNormal" align="center" style="text-align:center;line-height:10.5pt"><span style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:white"><a href="{{store url=""}}shop-flowers-gifts/flowers-by-occasion/get-well.html" target="_blank"><span style="color:white;text-decoration:none">Get Well</span></a><u></u><u></u></span></p></td><td width="1" valign="top" style="width:.75pt;background:#01344d;padding:0cm 0cm 0cm 0cm;height:18.75pt"></td><td width="117" style="width:87.75pt;background:#585454;padding:0cm 0cm 0cm 0cm;height:18.75pt"><p class="MsoNormal" align="center" style="text-align:center;line-height:10.5pt"><span style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:white"><a href="{{store url=""}}shop-flowers-gifts/flower-by-type/roses.html" target="_blank"><span style="color:white;text-decoration:none">Roses</span></a><u></u><u></u></span></p></td><td width="1" valign="top" style="width:.75pt;background:#01344d;padding:0cm 0cm 0cm 0cm;height:18.75pt"></td><td width="117" style="width:87.75pt;background:#585454;padding:0cm 0cm 0cm 0cm;height:18.75pt"><p class="MsoNormal" align="center" style="text-align:center;line-height:10.5pt"><span style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:white"><a href="{{store url=""}}shop-flowers-gifts/flower-by-type/lilies.html" target="_blank"><span style="color:white;text-decoration:none">Lilies</span></a><u></u><u></u></span></p></td><td width="1" valign="top" style="width:.75pt;background:#01344d;padding:0cm 0cm 0cm 0cm;height:18.75pt"></td><td width="117" style="width:87.75pt;background:#585454;padding:0cm 0cm 0cm 0cm;height:18.75pt"><p class="MsoNormal" align="center" style="text-align:center;line-height:10.5pt"><span style="font-size:9.0pt;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;color:white"><a href="{{store url=""}}shop-flowers-gifts/flowers-by-occasion/corporate.html" target="_blank"><span style="color:white;text-decoration:none">Corporate</span></a><u></u><u></u></span></p></td></tr></table></td></tr>
        <!-- [ middle starts here] -->
            <tr>
                <td valign="top" colspan="2">
                    <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;">Hello, {{htmlescape var=$order.getBillingAddress().getName()}}</h1>
                    <p style="font-size:12px; line-height:16px; padding:5px; margin:0; background-color:#f6f6f6; border:1px #ccc solid;">
<span style="font-size:16px; font-weight:bold;">Thank you for your order {{htmlescape var=$order.getCustomerName()}}.</span> <br>
We look forward to serving you again.
</p></td>
            </tr>
            <tr><td><table><tr>
                <td>
                    <h2 style="font-size:18px; font-weight:normal; margin:0;"> Order summary</h2>
Your Order #{{var order.increment_id}}
                </td>
            </tr>
            <tr>
                <td>
                   {{depend order.getIsNotVirtual()}}
                    <table cellspacing="0" cellpadding="0" border="0" width="100%">
                        <thead>
                        <tr>
                            <th align="left" width="325" bgcolor="#EAEAEA" style="font-size:13px; padding:5px 9px 6px 9px; line-height:1em;">Ship to:</th>
                         </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td valign="top" style="font-size:12px; padding:7px 9px 9px 9px; border-left:1px solid #EAEAEA; border-bottom:1px solid #EAEAEA; border-right:1px solid #EAEAEA;">
                                {{var order.getShippingAddress().format('html')}}
                                &nbsp;
                            </td>
                           </tr>
                        </tbody>
                    </table>
                    <br/>
                    {{/depend}}
                    {{layout handle="sales_email_order_items" order=$order}}
                    <p style="font-size:12px; margin:0 10px 10px 0">{{var order.getEmailCustomerNote()}}</p>
                </td></tr></table><Td width="150"><a href="{{store url=""}}"><img src="{{skin url="images/bloom2o.jpg"}}" ></Td></tr>
            <tr>
                <td bgcolor="#EAEAEA" style="background:#EAEAEA;font-size:12px;" colspan="2">We offer convenient account management services online.<BR>
You can track or modify orders, view your order history, add or update addresses and so much more. Visit kabloom.com and click on "Login" at the top of the page.</td>
            </tr>
        </table>
    </td>
</tr>
</table>
</div>
</body>