<script language="javascript" type="text/javascript">
function window_onload() 
{
   
}
function enterValue(strZipcode,id)
{
    window.opener.document.getElementById(id).value=strZipcode;
    window.close();
}
</script>
<?php if($_POST['btnSearch']!=''){?>
<div align="center" >

<?php 
	$i=0;
 $collection = Mage::getModel('pointofsale/pointofsale')->getCollection();
$warehouseZipcodes = array();
 foreach ($collection->getData() as $data) {
$warehouseZipcodes = array_merge($warehouseZipcodes, explode(',', $data['inventory_assignation_rules']));
}
//print_r($warehouseZipcodes);
$x = array_search($_POST['txtZipcode'], $warehouseZipcodes);?>
<BR><BR><table border="0" width="450" cellspacing="0" cellpadding="2" align="center">
<?php if ($x !== false) {?>

<tr><td colspan="4" align="center">Thank you, all out arrangements are available for Same day delivery for the zip code entered<br><BR>
<button type="button" title="Continue Shopping" class="button btn-continue" onclick="window.close();"><span><span>Continue Shopping</span></span></button></td></tr>
<?php }else{?>
<tr><td colspan="4" align="center">Thank you, please shop from our same day catalog<br><BR>
<button type="button" title="Kabloom Today" class="button btn-continue" onclick="window.opener.location = 'http://kabloomtoday.com'; window.close();"><span><span>Go to Kabloom Today</span></span></button></td></tr>
<?php } ?>    
</table>
<?php
}else{
?>
</div>
<form name="zipcode" id="zipcode" method="post">
<div align="center">
<table border="0" cellspacing="0" cellpadding="2" align="center">
<tbody>

<tr>
<td class="normalheading" colspan="2" align="center" valign="middle" height="50px"><span id="lblError"><center> Please enter the Zip code for delivery.<BR></center></span></td>
</tr>
<tr>
<td class="normalheading" align="right" style="height:30px;">Zip Code&nbsp;:&nbsp;&nbsp;</td>
<td align="left" style="height:30px;"><input id="txtZipcode" class="input" style="width: 180px;" type="text" name="txtZipcode" size="15" /> <span id="reqrdZipcode" class="normalheading" style="color: red; visibility: hidden;">Required!</span></td>
</tr>
<tr>
<td>&nbsp;</td>
<td align="left" valign="middle" height="50px"><input id="btnSearch" class="normalheading" style="height: 28px; width: 80px;" type="submit" name="btnSearch" value="Search" /></td>
</tr>
</tbody>
</table>
</div>
 <?php } ?>           <?php
                
                /*
                    This shows how to load specific fields from a record in the database.
                    1) Note the load(15), this corresponds to saying "select * from table where table_id = 15"
                    2) You can then just use the get(fieldname) to pull specific data from the table.
                    3) If you have a field named news_id, then it becomes getNewsId, etc.
                */
                /*
                $news = Mage::getModel('citylist/citylist')->load(15);
                echo $news->getNewsId();
                echo $news->getTitle();
                echo $news->getContent();
                echo $news->getStatus();
                */
                
                /*
                    This shows an alternate way of loading datas from a record using the database the "Magento Way" (using blocks and controller).
 					Uncomment blocks in /app/code/local/Namespace/Module/controllers/IndexController.php if you want to use it.

               */
                /*
                $object = $this->getCitylist();
                echo 'id: '.$object['test_id'].'<br/>';
				echo 'title: '.$object['title'].'<br/>';
				echo 'content: '.$object['content'].'<br/>';
				echo 'status: '.$object['status'].'<br/>';
                */            
            
            
                /*
                    This shows how to load multiple rows in a collection and save a change to them.
                    1) The setPageSize function will load only 5 records per page and you can set the current Page with the setCurPage function.
                    2) The $collection->walk('save') allows you to save everything in the collection after all changes have been made.
                */
                /*
                $i = 0;
                
                $collection = Mage::getModel('citylist/citylist')->getCollection();
                $collection->setPageSize(5);
                $collection->setCurPage(2);
                $size = $collection->getSize();
                $cnt = count($collection);
                foreach ($collection as $item) {
                    $i = $i+1;
                    $item->setTitle($i);
                    echo $item->getTitle();
                }

                $collection->walk('save');
                */
                
                /*
                    This shows how to load a single record and save a change.
                    1) Note the setTitle, this corresponds to the table field name, title, and then you pass it the text to change.
                    2) Call the save() function only on a single record.
                */
                /*
                $object = Mage::getModel('citylist/citylist')->load(1);
                $object->setTitle('This is a changed title');
                $object->save();
				*/

            ?> 