<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Helpdesk3
 * @version    3.3.2
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php /** @var AW_Helpdesk3_Block_Adminhtml_Ticket_Grid_Search $this */?>
<div>
    <label for="awhdu3-ticket-grid-head-search"><b><?php echo $this->__('Search for Ticket');?></b></label>
    <input id="awhdu3-ticket-grid-head-search" type="text" value="<?php echo base64_decode($this->getValue());?>" class="input-text" style="width:200px"/>
</div>
<script type="text/javascript">
    $('awhdu3-ticket-grid-head-search').observe('change', function(e){
        var value = $('awhdu3-ticket-grid-head-search').getValue();
        awhdu3TicketGridJsObject.addVarToUrl(<?php echo Zend_Json::encode($this->getParamKey());?>, Base64.encode(value));
    });
    Event.observe(window, 'load', function(e){
        var awhdu3TicketGridOriginalResetFilterFn = awhdu3TicketGridJsObject.resetFilter.bind(awhdu3TicketGridJsObject);
        awhdu3TicketGridJsObject.resetFilter = function() {
            awhdu3TicketGridJsObject.addVarToUrl(<?php echo Zend_Json::encode($this->getParamKey());?>, '');
            awhdu3TicketGridOriginalResetFilterFn();
        };
    });
</script>