<?php 
$helper     = Mage::helper('catalog/category');
$parentCategory   = Mage::getModel('catalog/category')->load(4);
$_children = $parentCategory->getChildrenCategories();
//$_children = Mage::getModel('catalog/category')->getCategories(4);
echo "<UL>";
foreach ($_children as $_category) {

      echo "<li>";?>
	<a href="<?php echo $this->getCategoryUrl($_category)?>"><?php echo $_category->getName()?></a>
	<?php
	echo "</li>";


} 
echo "</UL>";
?>
