<?php
$read= Mage::getSingleton('core/resource')->getConnection('core_read');
$quote = Mage::getSingleton('checkout/session')->getQuote();
$cartCount = Mage::helper('checkout/cart')->getCart()->getItemsCount();
$_cart = Mage::getSingleton('checkout/cart');
$cartItems = $quote->getAllVisibleItems();
$i=1;
foreach($_cart->getItems() as $item){//start for each product
	if($i==1){
		$ptype = $item->getData('product_type');
		$pId = $item->getData('product_id'); 
		$itemId = $item->getData('item_id'); 
		$first_item[] = $item;
		if($ptype == "configurable"){
			$resultC=$read->query("SELECT * FROM sales_flat_quote_item WHERE parent_item_id = '".$itemId."'");
			$rowP = $resultC->fetch();
			$zip = $rowP['cities'];
			$dDate = $rowP['shipping'];
			$pName = $rowP['name'];
		}else{
			$zip = $item->getData('cities'); 
			$dDate = $item->getData('shipping'); 
			$pName = $item->getData('name'); 
		}
$newDate = date("Y-m-d", strtotime($dDate));
	}
	$i++;
} 
if($zip){
	$results=$read->query("SELECT * FROM citylist WHERE zipcode = '".$zip."'");
	$zipcode=array();
	$opzip='';
	$j=0;
	while ($row = $results->fetch()){
		if($j==0){
			$regionId=$row[region_id];
			$country_id=$row[country_id];
			$citydefaultname = $row[default_name];
		}
		$j++;
	}
	$country = Mage::getModel('directory/country')->loadByCode($country_id);
	$countryName = $country->getName(); // looks like "United States"
	$regionModel = Mage::getModel('directory/region')->loadByCode($regionId, $country_id);
	$region_id = $regionModel->getId();
	$region = Mage::getModel('directory/region')->load($region_id);
	$regionName = $region->getName(); // looks like Massachusetts
} //end of if for zip

?>
    <ul style="border-top: 1px solid #D1D1D1; margin-top: 12px; padding-top: 10px;">
    <li style="display:none;">
        <label for="page_date-end">Delivery Date:</label>
        <input name="shipping_arrival_date_display" id="shipping_arrival_date_display" value="<?php echo $newDate ?>" title="date" class=" input-text" style="width: 100px;" type="text"> 
        <input name="shipping_arrival_date" id="shipping_arrival_date" value="<?php echo $newDate ?>" onChange="shippingArrivalDateOnChange(this); return false;" title="date"  type="hidden"> 
    </li>
    <li style="padding-left:10px;">
        <label for="shipping_arrival_comments"><strong>Add a Message:</strong></label><br/>
        <textarea cols="55" rows="2" name="shipping_arrival_comments" id="shipping_arrival_comments"></textarea></li>
    <li>  <i><?php // echo Mage::getStoreConfig('deliverydate/deliverydate_general/deliverydate_html'); ?></i>
    </li>
    </dd>