<script type="text/javascript">
var SKIN_URL = '<?php echo $this->getSkinUrl('') ?>';
</script>

<!--<script type="text/javascript" src="<?php echo $this->getSkinUrl('lightbox/jquery.js') ?>"></script> 
<script type="text/javascript" src="<?php echo $this->getSkinUrl('lightbox/script.js') ?>"></script>
<script type="text/javascript" src="<?php echo $this->getSkinUrl('lightbox/lightbox.js') ?>"></script>
<link rel="stylesheet" href="<?php echo $this->getSkinUrl('lightbox/lightbox.css') ?>" type="text/css" >
<link rel="stylesheet" type="text/css" href="<?php echo $this->getSkinUrl('press/css/default.css') ?>" />-->
	
			<link rel="stylesheet" type="text/css" href="<?php echo $this->getSkinUrl('press/css/style.css') ?>" />
<!--<div class="cms-top-banner"><img src="<?php echo Mage::getBaseUrl("media")."/oomph-web-more.jpg"?>" alt="" /></div> -->
<div class="cms-wrapper">
<div class="breadcrumbs" style="padding:5px 0px;">
<ul>
<li class="home">
        <a title="<?php echo $this->__('Go to Home Page') ?>" href="<?php echo $this->getUrl() ?>"><?php echo $this->__('Home') ?></a>
    </li> 
<li>/</li>
<li>Press</li>
</ul></div>
<div style="width:100%; ">
<h1>Press</h1>
</div>

<!--<div class="year" >
Get press for year:
<a href="<?php //echo Mage::getBaseUrl(); ?>press?year=2013">2013</a>
<a href="<?php //echo Mage::getBaseUrl(); ?>press?year=2012">2012</a>
<a href="<?php //echo Mage::getBaseUrl(); ?>press?year=2011">2011</a>
<a href="<?php //echo Mage::getBaseUrl(); ?>press?year=2010">2010</a>
<a href="<?php //echo Mage::getBaseUrl(); ?>press?year=2009">2009</a>
<a href="<?php //echo Mage::getBaseUrl(); ?>press">All</a>

</div>
-->
<div class="Clear" style="height:20px;"></div>
<!--<h3>press</h3> -->
<div class="col4-set">
	<?php $pi = 0 ?>
    <div class="pressRow">
		<div class="superbox">
	<?php
		
		$cnt	=	1;
		$current_store_id	=	Mage::app()->getStore()->getId(); 
		$query_store	=	"";
		if($current_store_id)
			$query_store	=	" and (store_view LIKE '%".$current_store_id."%' or store_view=0)";		
		$query_year	=	"";
		$year = $this->getRequest()->getParam('year');
		if($year)
			$query_year	=	" and year='".$_GET['year']."'";		
		
		$press_collection = Mage::getModel('press/press')->getCollection()
							->setOrder('year',"DESC");
							//->setOrder('position',"DESC");
		$press_collection->getSelect()->where('status = 1'.$query_store.$query_year);
		
		if (count($press_collection)>0){;
		
	

		foreach($press_collection as $press):
			$year = $press->getYear();
			$smallImgUrl = $press->getSmallImage();
			$smallImg  = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).$smallImgUrl;
			$fullImageUrl = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).$press->getFullImage();
	 ?>
	 
				<div class="superbox-list<?php if($cnt==6){ ?> last<?php $cnt=0; } ?>">
					<span class="press-image">
					<img src="<?php echo $smallImg; ?>" data-img="<?php echo $fullImageUrl; ?>" alt="" class="superbox-img">
					</span>
					<span class="press-title"><?php echo $press->getTitle(); ?></span>
					<!--</br><span class="press-year"><?php  //echo "Article posted in year: ".$year;  ?></span>-->
						
			
				</div>
    	
    
				
    <?php $cnt++; endforeach; } else echo "No record found"; ?>
				</div>
		
    </div>
</div>
</div>
<BR><br>		
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="<?php echo $this->getSkinUrl('press/js/superbox.js') ?>"></script>
		<script>
		jQuery(function() {
		
			// Call SuperBox
			jQuery('.superbox').SuperBox();
		
		});
		</script>
