<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Helpdesk3
 * @version    3.3.2
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php /** @var AW_Helpdesk3_Block_Contacts_Fields $this */?>
<?php if ($this->isCanShow()):?>
<ul id="awhdu3-contacts-fields-container">
    <li>
        <?php echo $this->getBlockHtml('formkey')?>
    </li>
    <?php if ($this->isCanShowDepartment()): ?>
    <li>
        <label for="department" class="required"><em>*</em><?php echo $this->__('Department') ?></label>
        <div class="input-box">
            <select name="department" id="department" class="required-entry" title="<?php echo $this->__('Department') ?>">
                <?php foreach($this->getDepartmentOptionList() as $option):?>
                    <option value="<?php echo $option['value'];?>" <?php echo $this->isDepartmentDefault($option['value'])?'selected':''?>
                        ><?php echo $option['label'];?>
                    </option>
                <?php endforeach;?>
            </select>
        </div>
    </li>
    <?php endif;?>
    <?php if ($this->isCanShowPriority()): ?>
    <li>
        <label for="priority"><?php echo $this->__('Priority') ?></label>
        <div class="input-box">
            <select name="priority" id="priority" title="<?php echo $this->__('Priority') ?>">
                <?php foreach($this->getPriorityOptionList() as $option):?>
                    <option value="<?php echo $option['value'];?>" <?php echo $this->isPriorityDefault($option['value'])?'selected':''?>
                        ><?php echo $option['label'];?>
                    </option>
                <?php endforeach;?>
            </select>
        </div>
    </li>
    <?php endif;?>
    <?php if ($this->isCanShowAttachment()): ?>
    <li>
        <label for="attachments"><?php echo $this->__('Attachments') ?></label>
        <div class="input-box">
            <?php if ($this->getMaxAvailableFileSize()):?>
                <input type="hidden" name="MAX_FILE_SIZE" value="<?php echo $this->getMaxAvailableFileSize() * 1024 * 1024;?>" />
            <?php endif;?>
            <input name="attachments[]" id="attachments" title="<?php echo $this->__('Attachments') ?>" value="" class="input-text" type="file" multiple/>
        </div>
        <script type="text/javascript">
            new AWLIB.FileUploader($('attachments'), {
                fileListClassName: 'awhdu3-ticketform-file-list',
                errorMsgClassName: 'awhdu3-ticketform-file-list-error-el',
                fileListElName: 'attachment_needed',
                availableFileExtensionList: <?php echo Zend_Json::encode($this->getAvailableFileExtensionList());?>,
                maxFileSizeInBytes: <?php echo Zend_Json::encode($this->getMaxAvailableFileSize() * 1024 * 1024);?>,
                unexpectedFileExtensionMessage: function(fileName) {
                    return '<?php echo $this->__('Unexpected extension for file: %s. Extension must be one of: %s', "' + fileName + '", join(', ', $this->getAvailableFileExtensionList()));?>';
                },
                unexpectedFileSizeMessage: function(fileName) {
                    return '<?php echo $this->__('File "%s" is too large. File size must be less than %s Mb', "' + fileName + '", $this->getMaxAvailableFileSize());?>';
                }
            });
        </script>
    </li>
    <?php endif;?>
</ul>
<script type="text/javascript">
    (function(){
        var container = $("awhdu3-contacts-fields-container");
        var commentElement = $("comment");
        if (!commentElement) {
            container.remove();
            return;
        }
        var insertBeforeElement = commentElement.up('li');
        if (!insertBeforeElement) {
            container.remove();
            return;
        }
        container.select('li').each(function(el){
            insertBeforeElement.insert({'before': el});
        });
        container.remove();
        var form = commentElement.up('form');
        if (!form) {
            return;
        }
        form.setAttribute('enctype', 'multipart/form-data');
    })();
</script>
<?php endif;?>