<?php
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @copyright  Copyright (c) 2013 Boost My Shop (http://www.boostmyshop.com)
 * @author : Nicolas MUGNIER
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @package MDN_Amazon
 * @version 2
 */
?>
<div class="content-header">
    <table cellspacing="0" class="grid-header">
        <tr>
            <td><h3><?php echo $this->__('Amazon - ' . $this->getCategory()) ?></h3></td>
            <td class="a-right">
                <button type="button" class="scalable back" type="button" onClick="setLocation('<?php echo $this->getBackUrl() ?>')"><span>Back</span></button>
                <button class="scalable add" onclick="showSets('<?php echo 'attributesSetCombo'.$this->getKey(); ?>');"><span><?php echo $this->__('Create attributes'); ?></span></button>
                <?php echo $this->getAttributesSetAsCombo(); ?>
                <button class="scalable save" onclick="<?php echo $this->getKey(); ?>_form.submit()"><span><?php echo $this->__('Save') ?></span></button>
            </td>
        </tr>
    </table>
</div>

<?php $v = $this->getFields(); ?>
<?php $k = $this->getKey(); ?>
<?php if (count($v) > 0): ?>    

    <div class="grid">
        <form method="POST" action="<?php echo Mage::helper('adminhtml')->getUrl('Amazon/Requiredfields/save', array('category' => $this->getCategory(), 'tab' => $k)) ?>" name='<?php echo $this->getKey(); ?>_form' id='<?php echo $this->getKey(); ?>_form'>
            <input id="form_key" name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
            <table class="data" cellspacing="0" width="100%" >
                <thead>
                    <tr class="headings">
                        <th style="width:300px;" class="a-center"><?php echo $this->__('Field') ?></th>
                        <th class="a-center"><?php echo $this->__('Attribute') ?></th>
                        <th class="a-center"><?php echo $this->__('Default value'); ?></th>
                        <th class="a-center"><?php echo $this->__('Restricted values') ?></th>
                        <th class="a-center"><?php echo $this->__('Type') ?></th>
                    </tr>
                </thead>
                <tbody>
                    <?php $i=0; ?>
                    <?php foreach ($v as $field): ?>
                        <?php if ($field['name'] == "Rating"): ?>
                            <!-- SWVG -->
                            <tr <?php echo ($i%2==0) ? 'class="even"':''; ?>>
                                <td style="width:300px;">Rating</td>
                                <td style="width:500px;">
                                    <select id="<?php echo $this->getCategory() . '_' . $k . '_Rating_Type' ?>" name="<?php echo $this->getCategory() . '_' . $k . '_Rating_Type' ?>[attribute]">
                                        <?php foreach ($field['choices'] as $key => $value): ?>
                                            <?php $selected = ($key == Mage::getModel('MarketPlace/Requiredfields')->loadValueForPath($this->getCategory() . '_' . $k . '_Rating_Type', 'amazon')) ? 'selected' : ''; ?>
                                            <option <?php echo $selected ?> value="<?php echo $key ?>"><?php echo $value ?></option>
                                        <?php endforeach ?>
                                    </select>
                                    <select id="<?php echo $this->getCategory() . '_' . $k . '_Rating_Attribute' ?>" name="<?php echo $this->getCategory() . '_' . $k . '_Rating_Attribute' ?>[attribute]">
                                        <?php foreach ($this->getAttributeTab() as $attribute): ?>
                                            <?php $selected = ($attribute['value'] == Mage::getModel('MarketPlace/Requiredfields')->loadValueForPath($this->getCategory() . '_' . $k . '_Rating_Attribute', 'amazon')) ? 'selected' : ''; ?>
                                            <option <?php echo $selected ?> value="<?php echo $attribute['value'] ?>"><?php echo $attribute['label'] ?></option>
                                        <?php endforeach ?>
                                    </select>

                                </td>
                                <td>
                                    <input type="text" name="" value="" id=""/>
                                </td>
                                <td style="width:200px;">
                                    <?php if (array_key_exists('restriction', $field) || (array_key_exists('constraint', $field) && !is_string($field['constraint']))): ?>
                                        <div id="<?php echo $k . '_' . $field['name'] ?>" style="display:none;">
                                            <p><?php echo $this->getRestrictionList($field) ?></p>
                                            <a href="" onClick="restriction('hide','<?php echo $k . '_' . $field['name'] ?>');return false;">close</a>
                                        </div>
                                        <a id="restrictionAction_<?php echo $k . '_' . $field['name'] ?>" href="" onClick="restriction('show','<?php echo $k . '_' . $field['name'] ?>');return false;"><?php echo $this->__('View') ?></a>
                                    <?php endif ?>
                                </td>
                                <td style="width:200px;">
                                    <?php echo $this->getType($field) ?>
                                </td>
                            </tr>
                            <!-- END SWVG -->
                        <?php else: ?>
                            <tr <?php echo ($i%2==0) ? 'class="even"':''; ?>>
                                <td style="width:300px;"><label for="<?php echo $this->getCategory() . '_' . $k . '_' . $field['name'] ?>"><?php echo $field['name'] ?></label></td>
                                <td style="width:500px;">
                                    <select id="<?php echo $this->getCategory() . '_' . $k . '_' . $field['name'] ?>" name="<?php echo $this->getCategory() . '_' . $k . '_' . $field['name'] ?>[attribute]">
                                        <?php foreach ($this->getAttributeTab() as $attribute): ?>
                                            <?php $selected = ($attribute['value'] == Mage::getModel('MarketPlace/Requiredfields')->loadValueForPath($this->getCategory() . '_' . $k . '_' . $field['name'], 'amazon')) ? 'selected' : ''; ?>
                                            <option <?php echo $selected ?> value="<?php echo $attribute['value'] ?>"><?php echo $attribute['label'] ?></option>
                                        <?php endforeach ?>
                                    </select>
                                </td>
                                <td>
                                    <input type="text" name="<?php echo $this->getCategory() . '_' . $k . '_' . $field['name']; ?>[value]" value="<?php echo Mage::getModel('MarketPlace/Requiredfields')->loadDefaultForPath($this->getCategory() . '_' . $k . '_' . $field['name'], 'amazon'); ?>" id="<?php echo $this->getCategory() . '_' . $k . '_' . $field['name']; ?>[value]"/>
                                </td>
                                <td style="width:200px;">
                                    <?php if (array_key_exists('restriction', $field) || (array_key_exists('constraint', $field) && !is_string($field['constraint']))): ?>
                                        <div id="<?php echo $k . '_' . $field['name'] ?>" style="display:none;">
                                            <p><?php echo $this->getRestrictionList($field) ?></p>
                                            <a href="" onClick="restriction('hide','<?php echo $k . '_' . $field['name'] ?>');return false;">close</a>
                                        </div>
                                        <a id="restrictionAction_<?php echo $k . '_' . $field['name'] ?>" href="" onClick="restriction('show','<?php echo $k . '_' . $field['name'] ?>');return false;"><?php echo $this->__('View') ?></a>
                                    <?php endif ?>
                                </td>
                                <td style="width:200px;">
                                    <?php echo $this->getType($field) ?>
                                </td>
                            </tr>
                        <?php endif ?>
                        <?php $i++; ?>
                    <?php endforeach ?>
                </tbody>
            </table>
        </form>
    </div>

<?php else: ?>
    <?php echo $this->__('No required field for this sub category.'); ?>
<?php endif ?>