<?php

$baseurl=$this->getUrl('');

$model_data = Mage::getModel('videogallery/videogallery')->getCollection();

$categoryid=$this->getRequest()->getParam('id');

$model_data->addFieldToFilter('videogallery_category', $categoryid);

$results = $model_data->getData();

$collection=Mage::getModel('videogallery/videogallery')->getCollection()->addFieldToSelect('videogallery_category');

$collection->getSelect()->distinct(true);

$categorys = $collection->getData();

?>





<div style="width:100%; ">
<h1>Kabloom in news</h1>
  <div class="page-title category-title">

    <h1><?php echo $categoryid; ?></h1>

  </div>

  <?php

$count = count($results);

if($count==0){

?>

  <p class="note-msg">There are no videos matching the selection.</p>

  <?php

}

$i = 0;

$j = 0;

foreach($results as $result):

$i++;

$j++;

$id=$result['videogallery_id'];

$videogallery=Mage::getModel("videogallery/videogallery")->load($id);

if($videogallery!=$videogallery['videogallery_id']):



parse_str( parse_url( $videogallery['videogallery_url'], PHP_URL_QUERY ) );

$videoid = $v;

$videoname = $videogallery['name'];

?>

  <?php if($i == 1): ?>

  <div id="thumbs" class="navigation video_gallery" style="padding-top:15px; padding-left:25px;">

    <div id="video_frame_cont" class="video-frame">

      <iframe id="mainvideo" width="655" height="391" src="http://www.youtube-nocookie.com/embed/<?php echo $videoid; ?>?wmode=opaque&rel=0&autohide=1&showinfo=0&autoplay=0" frameborder="0" allowfullscreen></iframe>

    </div>

    <ul class="clearfix thumbs noscript video-list">

      <?php endif;?>

      <li class="<?php if($j == 1): ?>first<?php elseif($j == 2): $j = 0; ?>last<?php endif;?>" style="display:inline;margin:0px 5px 5px;width:215px;" onclick="selectvideo('<?php echo $videoid; ?>')"> <img style="cursor:pointer;"  src="<?php echo $this->getImageresize($videogallery['image'],'big',215,105);?>" width="215" height="105" title="<?php echo $videogallery['name']; ?>" />

        <div class="play_btn">

          <?php /*?><img src="<?php echo $this->getSkinUrl('images/video_play_btn.png') ?>" alt="" /><?php */?>

        </div>

        <h2  style="font-size:12px; overflow: hidden;"><a title="<?php echo $videoname; ?>"><?php echo $videoname; ?></a></h2>

      </li>

      <?php endif;?>

      <?php if($i == $count): ?>

    </ul>

  </div>

  <?php endif;?>

  <?php endforeach; ?>

</div>

<script type="text/javascript" charset="utf-8">

function scrollToElement(pageElement) {    

    var positionX = 0,         

        positionY = 0;    



    while(pageElement != null){        

        positionX += pageElement.offsetLeft;        

        positionY += pageElement.offsetTop;        

        pageElement = pageElement.offsetParent;        

        window.scrollTo(positionX, positionY);    

    }

}

function selectvideo(id) {

	var main_image = document.getElementById("mainvideo");

	main_image.src = 'http://www.youtube-nocookie.com/embed/'+id+'?wmode=opaque&rel=0&autohide=1&showinfo=0&autoplay=1';

	var video_frame_cont = document.getElementById("video_frame_cont");

	scrollToElement(video_frame_cont);

};

</script>