<div class="product-options" id="product-options-wrapper">
    <?php echo $this->getChildHtml('', true, true);?>
    <?php if ($this->hasRequiredOptions()):?>
      <!--  <p class="required"><?php //echo $this->__('* Required Fields') ?></p>-->
    <?php endif;?>
    <div style="clear: both;"></div>
</div>
<script type="text/javascript">decorateGeneric($$('#product-options-wrapper dl'), ['last']);</script>
