<style>
table,tr,td{
border:1px solid #000;
}
.dashboard_report, .dashboard_report_result {
    margin: 0 auto;
    width: 75%;
}
.dashboard_report table tr td {
    padding: 10px;
	text-align: center;
}
.dashboard_report_result tbody tr td {
    border: 0 none;
    float: left;
    padding: 5px 0 5px 10px;
    width: 23%;
}
.dashboard_report_result tbody tr th {
    background: hsl(195, 14%, 50%) none repeat scroll 0 0;
    color: hsl(0, 0%, 100%);
    float: left;
    font-size: 14px;
    padding: 10px 0 10px 10px;
    width: 23%;
}
.dashboard_report_result tbody tr:nth-child(2n) {
    background: hsl(0, 0%, 94%) none repeat scroll 0 0;
}
#inventory-table th
{
	width:18%;
	padding:9.6px;
	
}
#inventory-table-data td
{
	width:18%;
	padding:9.6px;
	
}
#partner-order-track th
{
	width:32.3%;
}
#partner-order-track-one td{
	width:32.3%;
}
#q1,#q2,#q3,#q4,#q5,#q6,#q7,#q8
{
	width:15%;
	
	
}
.radio-picklist td{
	text-align:left;
	
}
</style>
<?php
$asel = Mage::getSingleton('core/session')->getAsel();
?>
<div class="dashboard_report">
<table  cellspacing="0" cellpadding="0" style="width: 100%;" >
<tbody>
<tr >
  <th style="border: medium none; text-align: center; padding: 0.5em;font-size: 14px;" colspan="2">Order Details</th>

 </tr>
</tbody>
</table>
<form name="test-form" id="my-custom-form" action="<?php echo str_replace('index.php','',Mage::getBaseUrl('web', true)).'recipe_req.php'; ?>" method="get"> 
<table  cellspacing="0" cellpadding="0" style="width: 100%; border-top: 0;padding: 10px;" >
<tbody>
<tr id="tr-datefrom">
<td style="border: 0px none;" > <span style="float: left;font-weight: bold;" >From</span> <input type="text" name="from_date" id="f_date_b" value="" style="float: left;margin-left: 10px;" /></td>
</tr>
<tr id="tr-dateto">
<td style="border: 0px none;"><span style="float: left;font-weight: bold;" >To</span><input type="text" name="to_date" id="f_date_to" value="" style="float: left;margin-left: 26px;"  /></td>
</tr>

<input type="hidden" name="asel" id="asel" value=""/>
<input type="hidden" name="sel_date" id="sel_date" value="<?php echo $date; ?>"/>
<input type="hidden" name="sel_dateto" id="sel_dateto" value="<?php echo $dateto; ?>"/>
<input type="hidden" id="form_key" name="form_key" value="<?php echo Mage::getSingleton('core/session')->getFormKey(); ?>" />
<tr>
<td style="border: 0px none;"><input type="submit" name="submit" value="Submit" class="form-button"> </td>
</tr>

</tbody>
</table>
</form>
</div>
<div class="dashboard_report_result" >
</div>
<script>
var jq = $.noConflict();

function dateChanged(calendar) {
    if (calendar.dateClicked) {
	  
      var y = calendar.date.getFullYear();
      var m = parseInt(calendar.date.getMonth()) + 1;     // integer, 0..11
      var d = calendar.date.getDate();      // integer, 1..31
      // redirect...
	  console.log(y + "-" + m + "-" + d);
      if ( m < 10 ) {
            m = "0" + m;
        } 
	  if ( d < 10 ) {
			d = "0" + d;
		} 
	  var selectedDate = y + "-" + m + "-" + d;
	  var Date = m + "/" + d + "/" + y;
	  console.log(selectedDate);
	  jq("#sel_date").val(selectedDate);
	  
	  jq("#f_date_b").val(Date);
	  jq(".calendar").hide();
	  
    }
  };
  Calendar.setup({
		inputField     :    "f_date_b",           //*
		ifFormat       :    "%m/%d/%Y %I:%M %p",
		showsTime      :    false,
		button         :    "f_trigger_b",        //*
		step           :    1,
		onSelect       :    dateChanged,
		disableFunc: function(date)  {
                    var now= new Date();
                    if(date.getFullYear()   >   now.getFullYear())  { return true; }
                    if(date.getFullYear()   ==  now.getFullYear())  { if(date.getMonth()    >   now.getMonth()) { return true; } }
                    if(date.getMonth()      ==  now.getMonth())     { if(date.getDate()     >   now.getDate())  { return true; } }
                },
	});

	
	
	function dateChangedto(calendar) {
    if (calendar.dateClicked) {
	  
      var y = calendar.date.getFullYear();
      var m = parseInt(calendar.date.getMonth()) + 1;     // integer, 0..11
      var d = calendar.date.getDate();      // integer, 1..31
      // redirect...
	  console.log(y + "-" + m + "-" + d);
      if ( m < 10 ) {
            m = "0" + m;
        } 
	  if ( d < 10 ) {
			d = "0" + d;
		} 
	  var selectedDateto = y + "-" + m + "-" + d;
	  var Dateto = m + "/" + d + "/" + y;
	  //console.log(selectedDateto+"to");
	  
	  jq("#sel_dateto").val(selectedDateto);
	  jq("#f_date_to").val(Dateto);
	  jq(".calendar").hide();
	  
    }
  };
  
  
  Calendar.setup({
		inputField     :    "f_date_to",           //*
		ifFormat       :    "%m/%d/%Y %I:%M %p",
		showsTime      :    false,
		button         :    "f_trigger_b",        //*
		step           :    1,
		onSelect       :    dateChangedto,
		disableFunc: function(date)  {
                    var now= new Date();
					//alert(date.getDate());
                    if(date.getFullYear()   >   now.getFullYear())  { return true; }
                    if(date.getFullYear()   ==  now.getFullYear())  { if(date.getMonth()    >   now.getMonth()) { return true; } }
                    if(date.getMonth()      ==  now.getMonth())     { if(date.getDate()     >   now.getDate() + 2 )  { return true; } }
                },
	});
</script>