<style>
table,tr,td{
border:1px solid #000;
}
.dashboard_report, .dashboard_report_result {
    margin: 0 auto;
    width: 75%;
}
.dashboard_report table tr td {
    padding: 10px;
	text-align: center;
}
.dashboard_report_result tbody tr td {
    border: 0 none;
    float: left;
    padding: 5px 0 5px 10px;
    width: 23%;
}
.dashboard_report_result tbody tr th {
    background: hsl(195, 14%, 50%) none repeat scroll 0 0;
    color: hsl(0, 0%, 100%);
    float: left;
    font-size: 14px;
    padding: 10px 0 10px 10px;
    width: 23%;
}
.dashboard_report_result tbody tr:nth-child(2n) {
    background: hsl(0, 0%, 94%) none repeat scroll 0 0;
}
#inventory-table th
{
	width:18%;
	padding:9.6px;
	
}
#inventory-table-data td
{
	width:18%;
	padding:9.6px;
	
}
#partner-order-track th
{
	width:32.3%;
}
#partner-order-track-one td{
	width:32.3%;
}
#q1,#q2,#q3,#q4,#q5,#q6,#q7,#q8
{
	width:15%;
	
	
}
.radio-picklist td{
	text-align:left;
	
}
.active{
	
	color:orange;
}
</style>
<?php
$asel = Mage::getSingleton('core/session')->getAsel();
$partner = Mage::getSingleton('core/session')->getRepPartner();
$warehouse = Mage::getSingleton('core/session')->getRepWarehouse();

if($partner && $warehouse) {
	$orders = Mage::getModel('sales/order')->getCollection()
        ->addFieldToFilter('trading_partner', $partner)
		->addFieldToFilter('assignation_warehouse', $warehouse)
		->addFieldToSelect('trading_partner');
} elseif($partner) {
	$orders = Mage::getModel('sales/order')->getCollection()
        ->addFieldToFilter('trading_partner', $partner)
		->addFieldToSelect('trading_partner');
} elseif($warehouse) {
	$orders = Mage::getModel('sales/order')->getCollection()
		->addFieldToFilter('assignation_warehouse', $warehouse)
		->addFieldToSelect('trading_partner');
} /*else {
	$orders = Mage::getModel('sales/order')->getCollection()
		->addFieldToSelect('trading_partner');
}*/

if($partner || $warehouse) {		
$saleOrderTableAlias = "s_o";
//Table join
$orders->join(
    array($saleOrderTableAlias => 'sales/order_item'),
    'main_table.entity_id=s_o.item_id',
	array('sku','name','description')
);

$saleOrderTableAlias1 = "p_o";
$orders->join(
    array($saleOrderTableAlias1 => 'pointofsale/pointofsale'),
    'main_table.assignation_warehouse=p_o.place_id',
	array('name as warehouse')
);

$orders->getSelect()
        ->columns('COUNT(*) AS qty')
		->group('s_o.sku')
		->group('main_table.trading_partner')
		->group('s_o.name')
		->order('qty DESC');
		//$orders->printLogQuery(true); exit;
}
?>
<div class="dashboard_report">
<table  cellspacing="0" cellpadding="0" style="width: 100%;" >
<tbody>
<tr >
  <th style="border: medium none; text-align: center; padding: 0.5em;font-size: 14px;" colspan="2">Inventory of partners</th>

 </tr>
</tbody>
</table>
<form name="test-form" id="my-custom-form" action="<?php echo Mage::getBaseUrl().'admin_picklist/adminhtml_picklistreport/filter/'; ?>" method="post"> 
<table  cellspacing="0" cellpadding="0" style="width: 100%; border-top: 0;padding: 10px;" >
<tbody>
<?php
$partner_names = Mage::getModel('partner/partner')->getCollection()->addFieldToSelect('partner_name');
//$warehouse_names->printLogQuery(true);
echo '<tr id="tr-partner"><td style="border: 0px none;"><span style="float: left;font-weight: bold;" >Partner
</span>
<select style="padding-right: 1.7em;" name="partner">';
echo '<option value="">Please Select</option>';
foreach($partner_names as $partner_name) : 
echo '<option value="'.$partner_name['partner_name'].'"'; 
echo '>'.$partner_name['partner_name'].'</option>';
endforeach;	
echo '</select></td></tr>';

$warehouse_names = Mage::getModel('pointofsale/pointofsale')->getCollection()->addFieldToSelect('place_id')->addFieldToSelect('name');
//$warehouse_names->printLogQuery(true);
echo '<tr id="tr-warehouse"><td style="border: 0px none;"><span style="float: left;font-weight: bold;" >Warehouse
</span>
<select style="padding-right: 1.7em;" name="warehouse">';
echo '<option value="">Please Select</option>';
foreach($warehouse_names as $warehouse_name) : 
echo '<option value="'.$warehouse_name['place_id'].'"'; 
echo '>'.$warehouse_name['name'].'</option>';
endforeach;	
echo '</select></td></tr>';
?>

<input type="hidden" name="asel" id="asel" value=""/>
<input type="hidden" name="sel_date" id="sel_date" value="<?php echo $date; ?>"/>
<input type="hidden" name="sel_dateto" id="sel_dateto" value="<?php echo $dateto; ?>"/>
<input type="hidden" id="form_key" name="form_key" value="<?php echo Mage::getSingleton('core/session')->getFormKey(); ?>" />
<tr>
<td style="border: 0px none;"><input type="submit" name="submit" value="Submit" class="form-button"> </td>
</tr>

</tbody>
</table>
</form>
</div>
<div class="dashboard_report_result" >
<?php if($partner || $warehouse) { ?>
<table cellspacing="0" cellpadding="0" style="width: 100%; border-top: 0 none;"><tr id='inventory-table'><th>Trading Partner</th><th>Assignation Warehouse</th><th>Sku</th><th>Name</th><th>Quantity</th></tr></table>
<?php } ?>
<table class="paginated" cellspacing="0" cellpadding="0" style="width: 100%; border-top: 0 none;" >
<?php 
foreach($orders as $order) :
	echo "<tr id='inventory-table-data'><td>";
	echo $order['trading_partner'];
	echo "</td><td >";
	echo $order['warehouse'];
	echo "</td><td id='inventory-table'>";
	echo $order['sku'];
	echo "</td><td id='inventory-table'> ";
	if($order['name'])
		echo $order['name'];
	else
		echo $order['description'];
	echo "</td><td >";
	echo $order['qty'];
	echo "</td></tr>";
endforeach;
 ?>
 </table></div>
<script>
var jq = $.noConflict();

jq('table.paginated').each(function() {
    var currentPage = 0;
    var numPerPage = 20;
    var jqtable = jq(this);
    jqtable.bind('repaginate', function() {
        jqtable.find('tbody tr').hide().slice(currentPage * numPerPage, (currentPage + 1) * numPerPage).show();
    });
    jqtable.trigger('repaginate');
    var numRows = jqtable.find('tbody tr').length;
    var numPages = Math.ceil(numRows / numPerPage);
    var jqpager = jq('<div class="pager" ></div>');
    for (var page = 0; page < numPages; page++) {
       jq('<span class="page-number"  style="padding:10px;cursor:pointer;"></span>').text(page + 1).bind('click', {
            newPage: page
        }, function(event) {
            currentPage = event.data['newPage'];
            jqtable.trigger('repaginate');
            jq(this).addClass('active').siblings().removeClass('active');
        }).appendTo(jqpager).addClass('clickable');
    }
	jqpager.insertAfter(jqtable).find('span.page-number:first').addClass('active');
	
	jq('<span class="prev"  style="padding:2px;cursor:pointer; color:orange;">Prev</span>').bind('click', function() {
		//alert(jq('.active').prev().text());
		jq('.active').prev().trigger('click');
	}).prependTo(jqpager);
	
	jq('<span class="next"  style="padding:2px;cursor:pointer;color:orange; float:right;">Next</span>').bind('click', function() {
		//alert(jq('.active').next().text());
		jq('.active').next().trigger('click');
	}).appendTo(jqpager);
	
});
</script>
<?php
Mage::getSingleton('core/session')->unsAsel();
Mage::getSingleton('core/session')->unsRepPartner(); 
Mage::getSingleton('core/session')->unsRepWarehouse();
?>
<?php
echo '<form action="'.Mage::getBaseUrl('web', true).'reportcsv.php" method="post">
<input type="hidden" name="partner" value="'.$partner.'">
<input type="hidden" name="warehouse" value="'.$warehouse.'">
<input type="hidden" name="type" value="q7">
<input type="submit" value="Download Csv" class="form-button">
</form>';
?>