<style>
.container {
    border: 1px solid hsl(0, 0%, 0%);
	border-top: 0;
    margin: 0 auto;
    padding: 10px 10px 0;
    width: 93.5%;
}
.container1 {  
    border: 1px solid hsl(0, 0%, 0%);
    margin: 0 auto;
    padding: 5px 0;
    width: 95.2%;
}
table {
    border-spacing: 0;
}
.process-order{    float: left;
    width: 22%;}
.process-order1 {
    width: 100%;
}
.process-order2 {
    margin: 0 auto;
}
.process-order3 {
    float: left;
    margin: 0 10px;
    width: 40%;
}

.process-order4 {
    float: left;
    width: 34%;
}
.process-order4 tbody {
    float: left;
    width: 100%;
}
.picklist-adminhtml-picklistscanbackend-index .middle {
    padding-top: 10px;
}
.process-order tbody:nth-child(2) tr {
    float: left;
    width: 100%;
}
</style>
<?php
$order_id =  Mage::getSingleton('core/session')->getOrderIdss();
$send =  Mage::getSingleton('core/session')->getSendtrack();
if($_REQUEST['order_id']){
	$order_id = $_REQUEST['order_id'];
	$complete = $_REQUEST['complete']; 
}
?>
<h1  style="font-size: 14px; text-align: center;" >Designer Tab</h1>
<div class="container1">
<table class="process-order2">

<tr>
<td colspan="2" style="font-weight: bold;" >Order Number</td>
<td style="padding-left: 1em;" >
<form name="test-form" id="my-custom-form" action="<?php echo Mage::helper("adminhtml")->getUrl('admin_picklist/adminhtml_picklistscanbackend/order/'); ?>" method="post">
<input type="text" name="order_id" id="order_id" value="<?php echo $order_id; ?>"/>

<input type="hidden" id="form_key" name="form_key" value="<?php echo Mage::getSingleton('core/session')->getFormKey(); ?>" /> </td>
<td style="text-align: center; padding-left: 1em;" >
<!--input type="submit" name="submit" value="<?php echo $this->__('OK') ?>" class="form-button" /-->
<!--button type="reset" value="<?php echo $this->__('Reset') ?>"><?php echo $this->__('Reset') ?></button-->
</form></td>
<td style="font-weight: bold;">Please Scan Bar code to get Order Detail</td>
</tr>
</table></div>
<!--button type="button" onclick="location.href='<?php echo Mage::helper("adminhtml")->getUrl('admin_picklist/adminhtml_picklistbackend/index/'); ?>';" >Go to Picklist</button-->

<?php
$orders = Mage::getModel('sales/order')->getCollection()
        ->addFieldToFilter('increment_id', $order_id );
$urll = Mage::helper("adminhtml")->getUrl('admin_picklist/adminhtml_picklistscanbackend/index/').'?complete=1&order_id='.$order_id;		
//$orders->printLogQuery(true);		
foreach($orders as $order) :
//echo "<pre>"; print_r($order);
	
	$orderData = Mage::getModel("sales/order")->load($order['entity_id']);
	$statuslabel = Mage::getModel('sales/order')->load($orderData->getId())->getStatus();
	if($complete) {
		//echo 'bouquet_ready';
		$orderData->setStatus('bouquet_ready')->save();
	}
	$ordered_items = $orderData->getAllItems();
	$shippingMethod = $order->getShippingDescription();
	$paymentMethod = $order->getPayment()->getMethodInstance()->getTitle();
	$shipmentCollection = Mage::getResourceModel('sales/order_shipment_collection')
			->setOrderFilter($order)
		->load();
	foreach ($shipmentCollection as $shipment){
		// This will give me the shipment IncrementId, but not the actual tracking information.
		foreach($shipment->getAllTracks() as $tracknum)
		{
			$tracknums[]=$tracknum->getNumber();
		}

	}
	$itemcnti = 0;
	echo '<div class="container" id="container">
	<table class="process-order">
	<tbody>
	<tr>
	<td rowspan="9"  style="border:1px solid #000; width: 260px;height: 260px;">';						
	foreach($ordered_items as $item) :     
	   $itemcnti++;
	   if($item->getProductType() == 'simple') :
			
			$sku = $item->getSku();
			echo $recipe = $item->getRecipe();
			//echo $sku;
			if($sku){
				try{
				  $image = Mage::getModel('catalog/product')->loadByAttribute('sku',$sku)->getImageUrl();
				}
				catch(Exception $e) {
				  $image = Mage::getDesign()->getSkinUrl('images/catalog/product/placeholder/image.jpg',array('_area'=>'frontend'));  
				}
			} else{
				$image = Mage::getDesign()->getSkinUrl('images/catalog/product/placeholder/image.jpg',array('_area'=>'frontend'));  
			}
				
		endif;
	endforeach;
	
	echo "<img src=".$image." /></td></tr></tbody>
					";
	if($order['trading_partner'] == ""){
		$order['trading_partner'] = "Kabloom";
	}
	echo "<tr><td style='padding:0.5em 0;font-weight: bold;'>Partner </td>
	<td style='padding:0.5em 0 0.5em 1em;'>".$order['trading_partner']."</td></tr>";
	echo "<!--tr><td style='padding:0.5em 0;font-weight: bold;'>Partner Order ID</td>
	<td style='padding:0.5em 0 0.5em 1em;'>".$order['partner_order_id']."</td></tr-->";
	$warehouse_name = Mage::getModel('pointofsale/pointofsale')->getCollection()
			->addFieldToSelect('name')
			->addFieldToFilter('place_id', $order['assignation_warehouse']);

	$ware_name = $warehouse_name->getData();	
	
	echo "<tr><td style='font-weight: bold;'>Warehouse</td>
	<td style='padding:0 0 0.5em 1em;'>".$ware_name[0]['name']."</td></tr>";
	if($itemcnti > 1) :
		echo "<tr><td style='font-weight: bold;color: red;'>This Order has ".$itemcnti." items</td></tr>";
	endif;		
		
	  
	$collections = Mage::getModel('upslabel/upslabel');
    $colls = $collections->getCollection()->addFieldToFilter('order_id', $order['entity_id']);
	foreach ($colls AS $k => $v) {
		echo '<tr>
		<td style="font-weight: bold;"><b>Shipping Label Status: </b>';
            echo $v['statustext']."</td>
			</tr>";
      
    }
	echo "</table>";
	
	echo '<table class="process-order3">';
	
	$cy = 0;
	foreach($ordered_items as $item) :
		if($item->getSku()) {
			$product = Mage::getModel('catalog/product')->loadByAttribute('sku', $item->getSku());
			//echo $item->getData('qty_ordered')."<br/>";
			$text = $product->getData('internal_sku');
		}
		if($text) {
			if($cy == 0) :
				echo '<tbody><tr>
				<td style="border: 1px solid hsl(0, 0%, 0%); text-align: center;vertical-align: middle; padding: 0.5em;
				font-weight: bold;" rowspan="5">Name: </td><td style="border: 1px solid hsl(0, 0%, 0%); text-align: center;vertical-align: middle; padding: 0.5em;
				font-weight: bold;" rowspan="5">Image: </td><td style="border: 1px solid hsl(0, 0%, 0%); text-align: center;vertical-align: middle; padding: 0 40px;
				font-weight: bold;" rowspan="5"> SKU: </td><td style="border: 1px solid hsl(0, 0%, 0%); text-align: center;vertical-align: middle; padding: 0 20px;
				font-weight: bold;" rowspan="5">  Qty: </td></tbody>';
			endif;
			$cy++;
			$expbun = explode("-",$text);
			$bundled_product = new Mage_Catalog_Model_Product(); 
			$bundleId = $bundled_product->getIdBySku($expbun[0]);
			//echo $expbun[0];
			$product1 = Mage::getModel('catalog/product')->setStoreId($store_id)->load($bundleId);			
			$options = Mage::getModel('bundle/option')->getResourceCollection()
											  ->setProductIdFilter($bundleId)
											  ->setPositionOrder(); 
			$options->joinValues($store_id);

			$selections = $product1->getTypeInstance(true)
								  ->getSelectionsCollection($product1->getTypeInstance(true)
								  ->getOptionsIds($product1), $product1);
			
			foreach ($options->getItems() as $option) {
				$option_id = $option->getId();
				//echo 'Option: ' . $option->getDefaultTitle() . ' [id: ' . $option_id . ']<br />'; 
				if($option->getDefaultTitle() == "Flowers") { 
					foreach($selections as $selection){ 
						if($option_id == $selection->getOptionId()){
							$selection_id         = $selection->getId();
							$selection_name       = $selection->getName();
							$selection_qty        = $selection->getSelectionQty();
							$selection_sku        = $selection->getSku();
							$selection_product_id = $selection->getProductId();
							$selection_weight     = $selection->getWeight();
							$selection_price      = $selection->getPrice();
							
							try{
							  $image = Mage::getModel('catalog/product')->loadByAttribute('sku',$selection_sku)->getImageUrl();
							}
							catch(Exception $e) {
							  $image = Mage::getDesign()->getSkinUrl('images/catalog/product/placeholder/image.jpg',array('_area'=>'frontend'));  
							}
							//echo $image;
							$data = '<tbody><tr>
		<td style="border: 1px solid hsl(0, 0%, 0%); text-align: center;vertical-align: middle; 
		font-weight: bold;" rowspan="5">' . $selection_name . '</td>';
							$data .= '<td style="border: 1px solid hsl(0, 0%, 0%); text-align: center;vertical-align: middle; 
		font-weight: bold;" rowspan="5"> <img src='.$image.' width="20%" height="20%"/></td>';
							$data .= '<td style="border: 1px solid hsl(0, 0%, 0%); text-align: center;vertical-align: middle; 
		font-weight: bold;" rowspan="5"> ' . $selection_sku. '</td>';
							$data .= '<td style="border: 1px solid hsl(0, 0%, 0%); text-align: center;vertical-align: middle; 
		font-weight: bold;" rowspan="5">  ' . round($selection_qty*$item->getData('qty_ordered')). '</td>';
							
							echo $data . '</tbody>';
						}
					}
				} elseif($option->getDefaultTitle() == "Select a vase"){
					foreach($selections as $selection){ 
						if($option_id == $selection->getOptionId() && $expbun[1] == $selection->getSku()){
							$selection_id         = $selection->getId();
							$selection_name       = $selection->getName();
							$selection_qty        = $selection->getSelectionQty();
							$selection_sku        = $selection->getSku();
							$selection_product_id = $selection->getProductId();
							$selection_weight     = $selection->getWeight();
							$selection_price      = $selection->getPrice();

							try{
							  $image = Mage::getModel('catalog/product')->loadByAttribute('sku',$selection_sku)->getImageUrl();
							}
							catch(Exception $e) {
							  $image = Mage::getDesign()->getSkinUrl('images/catalog/product/placeholder/image.jpg',array('_area'=>'frontend'));  
							}
							
							$data = '<tbody><tr>
		<td style="border: 1px solid hsl(0, 0%, 0%); text-align: center;vertical-align: middle;
		font-weight: bold;" rowspan="5">' . $selection_name . '</td>';
							$data .= '<td style="border: 1px solid hsl(0, 0%, 0%); text-align: center;vertical-align: middle; 
		font-weight: bold;" rowspan="5"> <img src='.$image.' width="20%" height="20%"/></td>';
							$data .= '<td style="border: 1px solid hsl(0, 0%, 0%); text-align: center;vertical-align: middle; 
		font-weight: bold;" rowspan="5"> ' . $selection_sku. '</td>';
							$data .= '<td style="border: 1px solid hsl(0, 0%, 0%); text-align: center;vertical-align: middle; 
		font-weight: bold;" rowspan="5">  ' . round($selection_qty*$item->getData('qty_ordered')). '</td>';
						
							echo $data . '</tbody>';
						}
					}
				} elseif($option->getDefaultTitle() == "Add on"){
					foreach($selections as $selection){ 
						if($option_id == $selection->getOptionId() && $expbun[2] == $selection->getSku()){
							$selection_id         = $selection->getId();
							$selection_name       = $selection->getName();
							$selection_qty        = $selection->getSelectionQty();
							$selection_sku        = $selection->getSku();
							$selection_product_id = $selection->getProductId();
							$selection_weight     = $selection->getWeight();
							$selection_price      = $selection->getPrice();

							try{
							  $image = Mage::getModel('catalog/product')->loadByAttribute('sku',$selection_sku)->getImageUrl();
							}
							catch(Exception $e) {
							  $image = Mage::getDesign()->getSkinUrl('images/catalog/product/placeholder/image.jpg',array('_area'=>'frontend'));  
							}
							
							$data = '<tbody><tr>
		<td style="border: 1px solid hsl(0, 0%, 0%); text-align: center;vertical-align: middle; 
		font-weight: bold;" rowspan="5"> ' . $selection_name . '</td>';
							$data .= '<td style="border: 1px solid hsl(0, 0%, 0%); text-align: center;vertical-align: middle; 
		font-weight: bold;" rowspan="5"> <img src='.$image.' width="20%" height="20%"/></td>';
							$data .= '<td style="border: 1px solid hsl(0, 0%, 0%); text-align: center;vertical-align: middle; 
		font-weight: bold;" rowspan="5">' . $selection_sku. '</td>';
							$data .= '<td style="border: 1px solid hsl(0, 0%, 0%); text-align: center;vertical-align: middle; 
		font-weight: bold;" rowspan="5">  ' . round($selection_qty*$item->getData('qty_ordered')). '</td>';
						
							echo $data . '</tbody>';
						}
					}
				}
			}
				
		} else {
				
			foreach($ordered_items as $item) :     
			   if($item->getProductType() == 'simple') :
					echo '<tbody>
							<tr>
							<td colspan="1" style="padding-top: 0.5em; padding-bottom: 0.5em;padding-right: 0.5em;text-align:center; 
							border-left: 1px solid hsl(0, 0%, 0%);border-top: 1px solid hsl(0, 0%, 0%);text-align: right;" >Sku -</td>
						<td colspan="3" style="padding-top: 0.5em; padding-bottom: 0.5em; border-right: 1px solid hsl(0, 0%, 0%);
						border-top: 1px solid hsl(0, 0%, 0%);" > '.$item->getSku().'</td>
						</tr>
						</tbody>
						
						';
						
						$pdt_data = Mage::getModel("catalog/product")->load($item->getProductId());
						$pdt_recipe = $pdt_data->getRecipe();
						echo '<tbody><tr>
		<td rowspan="5" style="border: 1px solid hsl(0, 0%, 0%); text-align: center;vertical-align: middle; padding: 0.5em;
		font-weight: bold;">Recipe: </td>
		<td style="border: 1px solid hsl(0, 0%, 0%);padding: 0.5em;text-align: center;font-weight: bold;border-right:1px solid;">'.$pdt_recipe.'</td></tr></tbody>';
				endif;
			endforeach;
		}
	endforeach;
	
	$message = Mage::getModel('giftmessage/message');
	$gift_message_id = $order->getGiftMessageId();
	if(!is_null($gift_message_id)) {
		$message->load((int)$gift_message_id);
		$gift_sender = $message->getData('sender');
		$gift_recipient = $message->getData('recipient');
		echo '<!--tbody><tr>
		<td colspan="2" style="padding: 1em 0 0.5em;font-weight: bold;">Gift Message</td></tr><tr><td colspan="4" style="border: 1px solid rgb(0, 0, 0);" ><textarea rows="4" cols="150" style="border: 0px none; width: 99%;">'.$message->getData('message').'</textarea></td></tr></tbody-->';
	}	
	echo '</table>';
		
	echo '<table class="process-order4">
		<tbody>
		<tr>
		<td style="padding: 0.3em 0px 0.5em 0;font-weight: bold;">Order Number</td>
		<td style=" padding: 0.3em 0 0 1em;" > '.$order['increment_id'].'</td></tr>';
	if($complete) {
		//echo 'bouquet_ready';
		echo '<tr><td style="padding: 0.3em 0px 0.5em 0;font-weight: bold;">Order Status</td>
		<td style=" padding: 0.3em 0 0 1em;" >bouquet_ready</td></tr>';
	} else{
		echo '<tr><td style="padding: 0.3em 0px 0.5em 0;font-weight: bold;">Order Status</td>
		<td style=" padding: 0.3em 0 0 1em;" >'.$order['status'].'</td></tr>';
	}
			
	foreach($ordered_items as $item) : 
	
		if($item->getProductType() == 'simple') :	
			if($item->getDescription()) :		
				echo '<tr><td style="padding: 0.3em 0px 0.5em 0;font-weight: bold;">Product Name</td>
					<td style=" padding: 0.3em 0 0 1em;" >'.$item->getDescription().'</td></tr>';
			else:
				echo '<tr><td style="padding: 0.3em 0px 0.5em 0;font-weight: bold;">Product Name</td>
					<td style=" padding: 0.3em 0 0 1em;" >'.$item->getName().'</td></tr>';
			endif;
	endif;
	   
	endforeach;
	
	echo '<!--tr><td style="padding: 0.3em 0px 0.5em 1em;font-weight: bold;">Delivering Date </td>
		<td style=" padding: 0.3em 0 0 1em;" >'.date("m/d/Y", strtotime($order['delivering_date'])).'</td></tr>';
	
	echo '<tr><td style="padding: 0.3em 0px 0.5em 1em;font-weight: bold;">Pickup Date </td>
		<td style=" padding: 0.3em 0 0 1em;" >'.date("m/d/Y", strtotime($order['pickup_date'])).'</td></tr-->';	
	
	$billingAddress = $order->getBillingAddress();
	$billaddress = $billingAddress->getData();
	$shippingAddress = $order->getShippingAddress();
	$shipaddress = $shippingAddress->getData();
	
	echo '<tr><td style="padding: 0.3em 0px 0.5em 0;font-weight: bold;">ShippingMethod</td>
		<td style="padding: 0.3em 0 0 1em;" >'.$order['pickup_method'].'</td></tr>';
	
	
	echo '<tr><td style="padding: 0.3em 0px 0.5em 0;font-weight: bold;">Track ID</td>
		<td style="padding: 0.3em 0 0 1em;" >'.$tracknums[0].'</td></tr></tbody><tbody>';
	
	echo '<!--tr>
		<td colspan="2" style="padding-left: 1em;padding-top:2em;font-weight: bold; padding-bottom: 0.5em;">Shipping Address</td>
		<td style="padding-top:2em;font-weight: bold; padding-bottom: 0.5em;">Billing Address</td>
		</tr>';
	
	echo '<tr>
		<td colspan="2" style="padding: 0.2em 0 0.2em 1em;">';
	echo "<b>Name:</b> ".$shippingAddress->getFirstname().'</td><td>';
	echo "<b>Name:</b> ".$billingAddress->getFirstname().'</td></tr>';
	//print_r($shippingAddress->getData());
	echo '<tr>
		<td colspan="2" style="padding: 0.2em 0 0.2em 1em;">';
	echo "<b>Street:</b> ".$shipaddress['street'].'</td><td>';
	echo "<b>Street:</b> ".$billaddress['street'].'</td></tr>';
	
	echo '<tr>
		<td colspan="2" style="padding: 0.2em 0 0.2em 1em;">';
	echo "<b>City: </b>".$shippingAddress->getCity().'</td><td>';
	echo "<b>City: </b>".$billingAddress->getCity().'</td></tr>';
	
	echo '<tr>
		<td colspan="2" style="padding: 0.2em 0 0.2em 1em;">';
	echo "<b>Zip Code: </b>".$shippingAddress->getPostcode().'</td><td>';
	echo "<b>Zip Code: </b>".$billingAddress->getPostcode().'</td></tr-->';
	
	echo '<!--tr>
		<td colspan="2" style="padding: 0.2em 0 0.2em 1em;font-weight: bold;">Special Instruction</td>
		<td></td>
		</tr-->
		';
	
	echo '
		</tbody>
		</table>';
	
	
	echo '<table class="process-order1">
			<tr>
			<td style="text-align: center; padding-bottom: 1em;"><button type="button" onclick="ClearFields();">Scan New Order</button></td>
			<td style="text-align: center; padding-bottom: 1em;"><button type="button" id="complete-send" onclick="location.href=\''.$urll.'\'">Complete</button></td>
			<!--td><button type="button" onclick="location.href='."'".Mage::helper("adminhtml")->getUrl('upslabel/adminhtml_autocreatelabel/index/type/order/')."?type=order&pickship=1&order_ids=".$order['entity_id']."'".';">Print Shipping Label</button></td>
			<td><button type="button" onclick="location.href='."'".Mage::helper("adminhtml")->getUrl('upslabel/adminhtml_autocreatelabel/index/type/order/')."?ptype=order&pickpack=1&order_ids=".$order['entity_id']."'".';">Print Packing Slip</button></td>
			<td><button type="button" onclick="location.href='."'".Mage::helper("adminhtml")->getUrl('upslabel/adminhtml_autocreatelabel/index/type/order/')."?ptype=order&giftmessage=1&order_ids=".$order['entity_id']."'".';">Print Giftmessage</button></td>
			<td><button type="button" onclick="location.href='."'".Mage::helper("adminhtml")->getUrl('upslabel/adminhtml_generatetrack/index/')."?type=order&ptype=order&order_ids=".$order['entity_id']."'".';">Send Tarck ID</button></td-->
			</tr>
			</table>
			</div>';
	
			
endforeach;
?>
<script>
var jq = $.noConflict();
jq('#order_id').on('input',function(e){
	if(jq(this).val().length == 9) {
 jq('#my-custom-form').trigger('submit');
	}
});

 document.getElementById("order_id").value = "";
 document.getElementById("order_id").focus(); 
 function ClearFields() {
	 if(document.getElementById("container"))
	 document.getElementById("container").remove();
     document.getElementById("order_id").value = "";
	 document.getElementById("order_id").focus();
	 if(document.getElementById("container-send"))
	 document.getElementById("container-send").remove();
 }
 
 if(document.getElementById("complete-send"))
	 document.getElementById("complete-send").focus();
</script>
<?php 
Mage::getSingleton('core/session')->unsOrderIdss();
?>
