<style>
table,tr,td{
border:1px solid #000;
}
.dashboard_report, .dashboard_report_result {
    margin: 0 auto;
    width: 75%;
}
.dashboard_report table tr td {
    padding: 10px;
	text-align: center;
}
.dashboard_report_result tbody tr td {
    border: 0 none;
    float: left;
    padding: 5px 0 5px 10px;
    width: 23%;
}
.dashboard_report_result tbody tr th {
    background: hsl(195, 14%, 50%) none repeat scroll 0 0;
    color: hsl(0, 0%, 100%);
    float: left;
    font-size: 14px;
    padding: 10px 0 10px 10px;
    width: 23%;
}
.dashboard_report_result tbody tr:nth-child(2n) {
    background: hsl(0, 0%, 94%) none repeat scroll 0 0;
}
#inventory-table th
{
	width:18%;
	padding:9.6px;
	
}
#inventory-table-data td
{
	width:18%;
	padding:9.6px;
	
}
#partner-order-track th
{
	width:32.3%;
}
#partner-order-track-one td{
	width:32.3%;
}
#q1,#q2,#q3,#q4,#q5,#q6,#q7,#q8
{
	width:15%;
	
	
}
.radio-picklist td{
	text-align:left;
	
}
.active{
	
	color:orange;
}
</style>
<?php

require_once('fedextrack/fedex-common.php');

//The WSDL is not included with the sample code.
//Please include and reference in $path_to_wsdl variable.
$path_to_wsdl = "fedextrack/TrackService_v10.wsdl";

ini_set("soap.wsdl_cache_enabled", "0");

ini_set("soap.wsdl_cache_enabled", "0");
$client = new SoapClient($path_to_wsdl, array('trace' => 1)); // Refer to http://us3.php.net/manual/en/ref.soap.php for more information
$request['WebAuthenticationDetail'] = array(
	'UserCredential' =>array(
		'Key' => 'mHvKiJn0w6Be3Zq7 ',
		'Password' => 'xLDZjfjjjkHEHm9570mx31DwR'
	)
);
$request['ClientDetail'] = array(
	'AccountNumber' => '604794161',
	'MeterNumber' => '100276877'
);
$request['TransactionDetail'] = array('CustomerTransactionId' => '*** Track Request using PHP ***');
$request['Version'] = array(
	'ServiceId' => 'trck',
	'Major' => '10',
	'Intermediate' => '0',
	'Minor' => '0'
);


$asel = Mage::getSingleton('core/session')->getAsel();
$selDate = Mage::getSingleton('core/session')->getRepSelDate();
$selDateto = Mage::getSingleton('core/session')->getRepSelDateTo();
if($selDate){
	$date = $selDate;	
	$dateq3 = date('Y-m-d', strtotime($date));
	$date = date('Y-m-d H:i:s', strtotime($date));	
	$newDate = date("m/d/Y", strtotime($date));	
}
if($selDateto){
	$dateto = $selDateto;
	
	$dateq3to = date('Y-m-d', strtotime($dateto));
	$dateto = date('Y-m-d H:i:s', strtotime($dateto));
	$newDateto = date("m/d/Y", strtotime($dateto));
}

if($date){
$orders = Mage::getModel('sales/order')->getCollection()
		->addFieldToSelect('partner_order_id')
		->addFieldToSelect('pickup_method');
		
$saleOrderTableAlias = "s_o";
//Table join

$orders->getSelect()->
join(Mage::getConfig()->getTablePrefix().'sales_flat_shipment_track', 
'main_table.entity_id ='.Mage::getConfig()->getTablePrefix().'sales_flat_shipment_track.order_id',
array('order_id','track_number'));

$orders->getSelect()
        ->where(Mage::getConfig()->getTablePrefix()."sales_flat_shipment_track.created_at >= '".$dateq3."' AND ".Mage::getConfig()->getTablePrefix()."sales_flat_shipment_track.created_at <= '".$dateq3to."'");
		//$orders->printLogQuery(true); exit;
}


?>
<div class="dashboard_report">
<table  cellspacing="0" cellpadding="0" style="width: 100%;" >
<tbody>
<tr >
  <th style="border: medium none; text-align: center; padding: 0.5em;font-size: 14px;" colspan="2">Shipped Orders</th>

 </tr>
</tbody>
</table>
<form name="test-form" id="my-custom-form" action="<?php echo Mage::getBaseUrl().'admin_picklist/adminhtml_picklistreport/filter/'; ?>" method="post"> 
<table  cellspacing="0" cellpadding="0" style="width: 100%; border-top: 0;padding: 10px;" >
<tbody>
<tr id="tr-datefrom">
<td style="border: 0px none;" > <span style="float: left;font-weight: bold;" >From</span> <input type="text" name="date" id="f_date_b" value="" style="float: left;margin-left: 10px;" /></td>
</tr>
<tr id="tr-dateto">
<td style="border: 0px none;"><span style="float: left;font-weight: bold;" >To</span><input type="text" name="dateto" id="f_date_to" value="" style="float: left;margin-left: 26px;"  /></td>
</tr>

<input type="hidden" name="asel" id="asel" value=""/>
<input type="hidden" name="sel_date" id="sel_date" value="<?php echo $date; ?>"/>
<input type="hidden" name="sel_dateto" id="sel_dateto" value="<?php echo $dateto; ?>"/>
<input type="hidden" id="form_key" name="form_key" value="<?php echo Mage::getSingleton('core/session')->getFormKey(); ?>" />
<tr>
<td style="border: 0px none;"><input type="submit" name="submit" value="Submit" class="form-button"> </td>
</tr>

</tbody>
</table>
</form>
</div>
<div class="dashboard_report_result" >
<?php if($date) { ?>
<table cellspacing="0" cellpadding="0" style="width: 100%; border-top: 0 none;"><tr ><th>Order Id</th><th>Partner Order Id</th><th>Track Numer</th><th>Track Status</th></tr></table>
<?php } ?>
<table class="paginated" cellspacing="0" cellpadding="0" style="width: 100%; border-top: 0 none;" >
<?php
foreach($orders as $order) :
	echo "<tr ><td id='inventory-table'>";
	echo $order['order_id'];
	echo "</td><td id='inventory-table'>";
	echo $order['partner_order_id'];
	echo "</td><td id='inventory-table'>";
	echo $order['track_number'];
	echo "</td><td id='inventory-table'>";
	if (0 === stripos($order['pickup_method'], 'fedex')) {
		/*$request['SelectionDetails'] = array(
			'PackageIdentifier' => array(
				'Type' => 'TRACKING_NUMBER_OR_DOORTAG',
				'Value' => $order['track_number'] // Replace 'XXX' with a valid tracking identifier
			)
		);
		$track = $client ->track($request);
		echo $track->CompletedTrackDetails->TrackDetails->StatusDetail->Description;*/
		//echo $order['pickup_method'];
	}
	echo "</td></tr>";
endforeach;
 ?>
 </table></div>
<script>
var jq = $.noConflict();

function dateChanged(calendar) {
    if (calendar.dateClicked) {
	  
      var y = calendar.date.getFullYear();
      var m = parseInt(calendar.date.getMonth()) + 1;     // integer, 0..11
      var d = calendar.date.getDate();      // integer, 1..31
      // redirect...
	  console.log(y + "-" + m + "-" + d);
      if ( m < 10 ) {
            m = "0" + m;
        } 
	  if ( d < 10 ) {
			d = "0" + d;
		} 
	  var selectedDate = y + "-" + m + "-" + d;
	  var Date = m + "/" + d + "/" + y;
	  console.log(selectedDate);
	  jq("#sel_date").val(selectedDate);
	  
	  jq("#f_date_b").val(Date);
	  jq(".calendar").hide();
	  
    }
  };
  Calendar.setup({
		inputField     :    "f_date_b",           //*
		ifFormat       :    "%m/%d/%Y %I:%M %p",
		showsTime      :    false,
		button         :    "f_trigger_b",        //*
		step           :    1,
		onSelect       :    dateChanged,
		disableFunc: function(date)  {
                    var now= new Date();
                    if(date.getFullYear()   >   now.getFullYear())  { return true; }
                    if(date.getFullYear()   ==  now.getFullYear())  { if(date.getMonth()    >   now.getMonth()) { return true; } }
                    if(date.getMonth()      ==  now.getMonth())     { if(date.getDate()     >   now.getDate())  { return true; } }
                },
	});

	
	
	function dateChangedto(calendar) {
    if (calendar.dateClicked) {
	  
      var y = calendar.date.getFullYear();
      var m = parseInt(calendar.date.getMonth()) + 1;     // integer, 0..11
      var d = calendar.date.getDate();      // integer, 1..31
      // redirect...
	  console.log(y + "-" + m + "-" + d);
      if ( m < 10 ) {
            m = "0" + m;
        } 
	  if ( d < 10 ) {
			d = "0" + d;
		} 
	  var selectedDateto = y + "-" + m + "-" + d;
	  var Dateto = m + "/" + d + "/" + y;
	  //console.log(selectedDateto+"to");
	  
	  jq("#sel_dateto").val(selectedDateto);
	  jq("#f_date_to").val(Dateto);
	  jq(".calendar").hide();
	  
    }
  };
  
  
  Calendar.setup({
		inputField     :    "f_date_to",           //*
		ifFormat       :    "%m/%d/%Y %I:%M %p",
		showsTime      :    false,
		button         :    "f_trigger_b",        //*
		step           :    1,
		onSelect       :    dateChangedto,
		disableFunc: function(date)  {
                    var now= new Date();
					//alert(date.getDate());
                    if(date.getFullYear()   >   now.getFullYear())  { return true; }
                    if(date.getFullYear()   ==  now.getFullYear())  { if(date.getMonth()    >   now.getMonth()) { return true; } }
                    if(date.getMonth()      ==  now.getMonth())     { if(date.getDate()     >   now.getDate() + 2 )  { return true; } }
                },
	});
	
jq('table.paginated').each(function() {
    var currentPage = 0;
    var numPerPage = 20;
    var jqtable = jq(this);
    jqtable.bind('repaginate', function() {
        jqtable.find('tbody tr').hide().slice(currentPage * numPerPage, (currentPage + 1) * numPerPage).show();
    });
    jqtable.trigger('repaginate');
    var numRows = jqtable.find('tbody tr').length;
    var numPages = Math.ceil(numRows / numPerPage);
    var jqpager = jq('<div class="pager" ></div>');
    for (var page = 0; page < numPages; page++) {
       jq('<span class="page-number"  style="padding:10px;cursor:pointer;"></span>').text(page + 1).bind('click', {
            newPage: page
        }, function(event) {
            currentPage = event.data['newPage'];
            jqtable.trigger('repaginate');
            jq(this).addClass('active').siblings().removeClass('active');
        }).appendTo(jqpager).addClass('clickable');
    }
	jqpager.insertAfter(jqtable).find('span.page-number:first').addClass('active');
	
	jq('<span class="prev"  style="padding:2px;cursor:pointer; color:orange;">Prev</span>').bind('click', function() {
		//alert(jq('.active').prev().text());
		jq('.active').prev().trigger('click');
	}).prependTo(jqpager);
	
	jq('<span class="next"  style="padding:2px;cursor:pointer;color:orange; float:right;">Next</span>').bind('click', function() {
		//alert(jq('.active').next().text());
		jq('.active').next().trigger('click');
	}).appendTo(jqpager);
	
});
	
</script>
<?php
Mage::getSingleton('core/session')->unsAsel();
Mage::getSingleton('core/session')->unsRepSelDate();
Mage::getSingleton('core/session')->unsRepSelDateTo();
?>
<?php
echo '<form action="'.Mage::getBaseUrl('web', true).'reportcsv.php" method="post">
<input type="hidden" name="fromdate" value="'.$dateq3.'">
<input type="hidden" name="todate" value="'.$dateq3to.'">
<input type="hidden" name="type" value="q3">
<input type="submit" value="Download Csv" class="form-button">
</form>';
?>