/*

	Todd Motto Labs

	URL: www.toddmotto.com

*/



/*------------------------------------*\

    SuperBox

\*------------------------------------*/

.cms-press-module .cms-page-title, .cms-press .cms-page-title

{

display:none;

}

/* SuperBox */

.superbox{

	width:100%;

}

.superbox-list {

	display:inline-block;

	*display:inline;

	zoom:1;

	width:232px !important;

	margin-right:18px;

}

.superbox-list.last {

	margin-right:0px

}

.press-image {

    border: 1px solid #ECECEC;

    display: block;

    margin: 0 auto 15px;

    position: relative;

    text-decoration: none;

}

.press-image  { height: 218px;

 width: 232px;}

.press-image a  {color:#58595B;} 



.superbox-list .press-title{

float: left;

width:auto;

cursor:pointer;

}



.superbox-list .press-year{

float: left;

width:213px;

}



.superbox-list .press-title:hover {

	cursor: pointer !important;

    left: 5px;

    transition: all 0.3s ease-in-out 0s;

	color:#F63A5C;

}

.superbox-list .view-more{

margin-bottom:33px;

}





.superbox-list .read-more-button:hover {  background-position: center bottom; }

.superbox-img {

	max-width:100%;

	width:100%;

	cursor:pointer;

}

.superbox-show {
    background: none repeat scroll 0 0 #ccc;
    box-shadow: 0 1px 5px #111 inset;
    float: left;
    margin-bottom: 15px;
    opacity: 0.9;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 9;
}

/*.superbox-show {

	text-align:center;

	position:relative;

	background:#000;

	box-shadow:inset 0 1px 5px #111;

	-webkit-box-shadow:inset 0 1px 5px #111;

	-moz-box-shadow:inset 0 1px 5px #111;

	width:100%;

    float:left;

	/*padding:25px;

	display:none;

	    margin-bottom: 15px;

}*/

.superbox-current-img {

	max-width:100%;

	box-shadow:0 1px 4px #222;

	border:1px solid #222;
	
	height:700px;

}

.superbox-img:hover {

	opacity:0.8;

}

.superbox-float {

	float:left;

}

.superbox-close {

	opacity:0.7;

	cursor:pointer;

	position:absolute;

	top:0px;

	right:0px;

	background:url(../img/close.gif) no-repeat center center;

	width:35px;

	height:35px;

}

.superbox-close:hover {

	opacity:1;

}

@media only screen and (min-width: 320px) {

	.superbox-list {

		width:50%;

	}

}

@media only screen and (min-width: 486px) {

	.superbox-list {

		width:25%;

	}

}

@media only screen and (min-width: 768px) {

	.superbox-list {

		width:16.66666667%;

	}

}

@media only screen and (min-width: 1025px) {

	.superbox-list {

		width:12.5%;

	}

}



.press-page-title h1 {

    font-size: 23px;

    margin-top: 25px;

}



.year {

 font-size: 23px;

}



.year:hover {

	cursor: pointer !important;

    left: 5px;

    transition: all 0.3s ease-in-out 0s;

	color:#F63A5C;

}



