     <?php // echo $this->getLayout()->createBlock('cms/block')->setBlockId('add-ons-cart')->toHtml(); ?>
    <script type="text/javascript">
	function shipping_multi(itemId)
	{
		 
		itemId =  itemId;
		
		shipaddrounter += 1;
		itemcounter += 1;
		var url = '<?php echo $this->getUrl('citylist/index/shippingaddr');?>';
		new Ajax.Request(url,{
                 method: 'post',
		parameters: {shipcount: shipaddrounter,itemId: itemId},
        asynchronous: false,
        onSuccess: function(transport) {
    				var content = transport.responseText;
					$('multiple_ship').insert(content);
				}
    	});
		
	}
	
	 var $j = jQuery.noConflict(); 
	
        jQuery(document).ready(function ($j) {
            $j('.right_sidebar').hide();
            $j('.category').show();
            $j('#ctl00_PageFooter1_maindiv').hide();
            $j('.footerborders').hide();
           
		    $j('ul#CategoryMenu a').click(function () {
                $j('.proceed').show();
                $j('.right_sidebar').hide();
                $j('.' + $j(this).attr('data')).show();
                $j('ul#CategoryMenu li').removeClass('active');
                $j(this).children().addClass('active');
            });

            $j('ul#addon1 a').click(function () {
                $j('.proceed').show();
                $j('.right_sidebar').hide();
                $j('.' + $j(this).attr('data')).show();
                $j('ul#CategoryMenu li').removeClass('active');
                $j('a[data=' + $j(this).attr('data') + ']').children().addClass('active');
            });
            $j('ul#addon2 a').click(function () {

                $j('.proceed').show();
                $j('.right_sidebar').hide();
                $j('.' + $j(this).attr('data')).show();
                $j('ul#CategoryMenu li').removeClass('active');
                $j('a[data=' + $j(this).attr('data') + ']').children().addClass('active');

            });

            $j('ul#addon3 a').click(function () {
                $j('.proceed').show();
                $j('.right_sidebar').hide();
                $j('.' + $j(this).attr('data')).show();
                $j('ul#CategoryMenu li').removeClass('active');
                $j('a[data=' + $j(this).attr('data') + ']').children().addClass('active');
            });
    
           $j('a.Category ').click(function () {

                $j('.right_sidebar').hide();
                $j('.category').show();

            });

    
        });
    </script>
<div style="width:98%; text-align: left; margin-left: 0px;">
        <div class="left_sidebar">
            <!--left nav start-->
            <div class="left_navigation">
                <a href="javascript:void(0);" class="Category" style="text-decoration: none;">
                    <div style="font-family: schadow, Arial, Helvetica, sans-serif; font-size: 18px;
                        color: #fff; width: 98%; height: 30px; line-height: 30px; padding: 0px 0px 0px 5px;
                        margin: 0px; background: #4959a3; font-weight: normal;">
                        Category</div>
                </a>
                <ul id="CategoryMenu">
                  
                        <li>  <a href="javascript:void(0);" data="BathSpa">Beauty & Bath   </a></li>
        				 <li><a href="javascript:void(0);" data="Handicrafts">Handicrafts</a> </li>
                       <li><a href="javascript:void(0);" data="Chocolates"> Sweets</a></li> 
                        <li><a href="javascript:void(0);" data="Candle">Candles</a></li>
                   
                </ul>
            </div>
            <!--left nav end-->
        </div>
        <div class="right_sidebar category">
            <div class="addon_cat1">
                <ul id="addon1">
                 
                    <li><a href="javascript:void(0);" data="Chocolates">
                        <img src="<?php echo $this->getSkinUrl('images/addon/sweetschococake.jpg');?>" alt="" /></a></li>
                </ul>
            </div>
            <div class="addon_cat2">
                <ul id="addon2">
                    <li><a href="javascript:void(0);" data="Handicrafts">
                        <img src="<?php echo $this->getSkinUrl('images/addon/handicrafts.jpg');?>" alt="" /></a></li>
                  <li><a href="javascript:void(0);" data="Candle">
                        <img src="<?php echo $this->getSkinUrl('images/addon/SoftToyscandles.jpg');?>" alt="" /></a></li>
                   
                </ul>
            </div>
            <div class="addon_cat3">
                <ul id="addon3">
                     <li><a href="javascript:void(0);" data="BathSpa">
                        <img src="<?php echo $this->getSkinUrl('images/addon/BeautyFragrance.jpg');?>" alt="" /></a></li>
                </ul>
            </div>
        </div>
        
        
        <div class="right_sidebar Chocolates">
            <div style="margin-left: 5px; font-family: schadow, Arial, Helvetica, sans-serif;
                font-size: 18px; color: #fff; width: 100%; height: 30px; line-height: 30px; padding: 0px 0px 0px 5px;
                margin: 0px; background: #4959a3; font-weight: normal;">
                Sweets <span class="full_cart"><a id="A4" class="Category" href="#" style="border: 1px solid #FFFFFF;
                    border-radius: 3px 3px 3px 3px; color: White; cursor: pointer; padding: 2px 5px;
                    text-decoration: none;">Back</a> </span>
            </div>
            <div class="clr">
            </div>
            <!--bouquet row start-->
            <div class="right_full">
                <!--Bouquet start-->
               <?php  
				echo $this->getLayout()
                ->createBlock('catalog/product_list')
                ->setTemplate('catalog/product/list-addon.phtml')
                ->setCategoryId(24)
                ->toHtml();?>
            </div>
            <!--bouquet row end-->
            <div class="clr">
            </div>
            <!--bouquet row end-->
        </div>
        
        

        
        <div class="right_sidebar Handicrafts">
            <div style="margin-left: 5px; font-family: schadow, Arial, Helvetica, sans-serif;
                font-size: 18px; color: #fff; width: 100%; height: 30px; line-height: 30px; padding: 0px 0px 0px 5px;
                margin: 0px; background: #4959a3; font-weight: normal;">
                Handicrafts<span class="full_cart"> <a id="A1" class="Category" href="#" style="border: 1px solid #FFFFFF; border-radius: 3px 3px 3px 3px; color: White;
                    cursor: pointer; padding: 2px 5px; text-decoration: none;"> Back</a></span>
            </div>
            <div class="clr">
            </div>
            <!--bouquet row start-->
            <div class="right_full">
                <!--Bouquet start-->
                 <?php  
				echo $this->getLayout()
                ->createBlock('catalog/product_list')
                ->setTemplate('catalog/product/list-addon.phtml')
                ->setCategoryId(30)
                ->toHtml();?>
            </div>
            <!--bouquet row end-->
            <div class="clr">
            </div>
            <!--bouquet row end-->
        </div>

        
        
        
        
       <!--  Handicraft addon end
      -->
        
        
        <div class="right_sidebar Candle">
            <div style="margin-left: 5px; font-family: schadow, Arial, Helvetica, sans-serif;
                font-size: 18px; color: #fff; width: 100%; height: 30px; line-height: 30px; padding: 0px 0px 0px 5px;
                margin: 0px; background: #4959a3; font-weight: normal;">
                Candles <span class="full_cart"><a id="A2" class="Category" href="#" style="border: 1px solid #FFFFFF;
                    border-radius: 3px 3px 3px 3px; color: White; cursor: pointer; padding: 2px 5px;
                    text-decoration: none;">Back</a></span>
            </div>
            <div class="clr">
            </div>
            <!--bouquet row start-->
            <div class="right_full">
                <!--Bouquet start-->
               <?php  
				echo $this->getLayout()
                ->createBlock('catalog/product_list')
                ->setTemplate('catalog/product/list-addon.phtml')
                ->setCategoryId(36)
                ->toHtml();?>
            </div>
            <!--bouquet row end-->
            <div class="clr">
            </div>
            <!--bouquet row end-->
        </div>
      <!--  Soft toys addon end
        Beauty & Fragrance  addon start-->
        
        
        
        <div class="right_sidebar BathSpa">
            <div style="margin-left: 5px; font-family: schadow, Arial, Helvetica, sans-serif;
                font-size: 18px; color: #fff; width: 100%; height: 30px; line-height: 30px; padding: 0px 0px 0px 5px;
                margin: 0px; background: #4959a3; font-weight: normal;">
                Beauty & Bath <span class="full_cart"><a id="A3" class="Category" href="#" style="border: 1px solid #FFFFFF;
                    border-radius: 3px 3px 3px 3px; color: White; cursor: pointer; padding: 2px 5px;
                    text-decoration: none;">Back</a></span>
            </div>
            <div class="clr">
            </div>
            <!--bouquet row start-->
            <div class="right_full">
                <!--Bouquet start-->
                <?php  
				echo $this->getLayout()
                ->createBlock('catalog/product_list')
                ->setTemplate('catalog/product/list-addon.phtml')
                ->setCategoryId(42)
                ->toHtml();?>
            </div>
            <!--bouquet row end-->
            <div class="clr">
            </div>
            <!--bouquet row end-->
        </div>
       </div>
    <div class="clr">
    </div>

<?php
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License (AFL 3.0)
 * that is bundled with this package in the file LICENSE_AFL.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/afl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * DISCLAIMER
 *
 * Do not edit or add to this file if you wish to upgrade Magento to newer
 * versions in the future. If you wish to customize Magento for your
 * needs please refer to http://www.magentocommerce.com for more information.
 *
 * @category    design
 * @package     base_default
 * @copyright   Copyright (c) 2012 Magento Inc. (http://www.magentocommerce.com)
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */
?>
<?php
/**
 * Cart cross sell items template
 *
 * @see Mage_Checkout_Block_Cart_Crosssell
 */
?>
<?php /*?><?php if($this->getItemCount()): ?>
<div class="crosssell">
    <h2><?php echo $this->__('Based on your selection, you may be interested in the following items:') ?></h2>
    <ul id="crosssell-products-list">
    <?php foreach ($this->getItems() as $_item): 
echo $this->getId();
?>
        <li class="item">
            <a class="product-image" href="<?php echo $_item->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_item->getName()) ?>"><img src="<?php echo $this->helper('catalog/image')->init($_item, 'thumbnail')->resize(75); ?>" width="75" height="75" alt="<?php echo $this->htmlEscape($_item->getName()) ?>" /></a>
            <div class="product-details">
                <h3 class="product-name"><a href="<?php echo $_item->getProductUrl() ?>"><?php echo $this->htmlEscape($_item->getName()) ?></a></h3>
                <?php echo $this->getPriceHtml($_item, true) ?>
                <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_item) ?>')"><span><span><?php echo $this->__('Add to Cart1') ?></span></span></button>
                <ul class="add-to-links">
                </ul>
            </div>
        </li>
    <?php endforeach; ?>
    </ul>
    <script type="text/javascript">decorateList('crosssell-products-list', 'none-recursive')</script>
</div>
<?php endif; ?>
<?php */?>