﻿@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'helvetica';
    src: url('../font/helvetica.eot');
    src: url('../font/helvetica.eot') format('embedded-opentype'),
         url('../font/helvetica.woff') format('woff'),
         url('../font/helvetica.ttf') format('truetype'),
         url('../font/helvetica.svg#HelveticaNeueLTStd75Bold') format('svg');
}

@font-face {
    font-family: 'schadow';
    src: url('../font/schadow-webfont.eot');
    src: url('../font/schadow-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/schadow-webfont.woff') format('woff'),
         url('../font/schadow-webfont.ttf') format('truetype'),
         url('../font/schadow-webfont.svg#schadow_btroman') format('svg');
    font-weight: normal;
    font-style: normal;
}

img
{
	border:none;
}

body
{

}

.cart_bar_full
{
	width:100%;
	height:38px;
	background-color:#4959a3;
	border-bottom:#2c3e91 1px solid;
	text-transform:uppercase;
	font-size:11px;
	color:#fff;
	line-height:38px;
	position:fixed;
	top:0px;
	z-index:1000;
}

.cart_bar
{
	width:960px;
	height:38px;
	margin:0 auto;
}

/*.cart_bar ul
{
	list-style:none;
	padding:0px;
	margin:0px;
	height:35px;
}

.cart_bar ul li
{
	display:inline-block;
	*display: inline;
	zoom: 1;
	padding:0px 10px;
	margin:0px;
}

.cart_bar ul a li
{
	color:#fff;
	text-decoration:none;
}

.cart_bar ul a li:hover
{
	color:#fff;
	text-decoration:none;
	text-shadow:#333 1px 1px;
}
*/

.top_link
{
	float:right;
	padding:0px 10px;
}

a .top_link
{
	color:#fff;
	text-decoration:none;
}

a .top_link:hover
{
	color:#fff;
	text-decoration:none;
	text-shadow:#333 1px 1px;
}

.cart_devider
{
	border-right:#2c3e91 1px solid;
}

.main
{
	width:960px;
	height:auto;
	margin:0px auto 0px auto;
}



.text_field
{
	width:188px;
	height:33px;
	border:#b6b6b6 1px solid;
	padding:0px 5px;
}

.text_field2
{
	width:188px;
	height:28px;
	border:#b6b6b6 1px solid;
	padding:0px 5px;
}

.dropdown_field2
{
	width:200px;
	height:33px;
	border:#b6b6b6 1px solid;
	padding:5px;
}

.add_msg
{
	background:url(../images/shadow.jpg) top no-repeat;
	padding-top:25px;
	width:960px;
	margin-top:10px;
}

.content
{
	width:960px;
	height:auto;
	margin-top:20px;
}

.deliver_block
{
	width:308px;
	height:auto;
	border:#b6b6b6 1px solid;
	float:left;
}

h1
{
	font-family:schadow, Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#fff;
	width:100%;
	height:30px;
	line-height:30px;
	padding:0px;
	margin:0px;
	background:#4959a3;
	font-weight:normal;
}

.devider
{
	background:url(../images/devider.jpg) bottom repeat-x;
}

.full_cart
{
	float:right;
	font-family:helvetica, Arial, Helvetica, sans-serif;
	font-size:13px;
	padding-right:5px;
}

.footer
{
	width:960px;
	height:auto;
	clear:both;
}

.subscribe
{
	width:960px;
	height:40px;
	background-color:#4959a3;
	line-height:40px;
	color:#fff;
	clear:both;
}

.shadow
{
	width:960px;
	height:36px;
	background:url(../images/shadow.jpg) no-repeat;
	clear:both;
}

.category_block
{
	width:960px;
	height:auto;
}

.link_block
{
	width:160px;
	height:auto;
	float:left;
	line-height:30px;
}

.category_block a
{
	color:#000;
	text-decoration:none;
}

.category_block a:hover
{
	color:#4959a3;
	text-decoration:none;
}

.footer_link
{
	width:960px;
	height:40px;
	line-height:40px;
	text-align:center;
	background-color:#4959a3;
	clear:both;
	color:#fff;
}

.footer_link a
{
	color:#fff;
	text-decoration:none;
}

.footer_link a:hover
{
	color:#fff;
	text-decoration:none;
}

.verified
{
	width:960px;
	height:auto;
	margin-top:10px;
}

.clr
{
	width:100%;
	height:10px;
	clear:both;
}

#message
{
	width:450px;
	height:auto;
	display:none;
	border:#b6b6b6 6px solid;
}

#light_msg
{
	
}

.banner_full
{
	width:958px;
	height:312px;
	border:#b6b6b6 1px solid;
}

.banner
{
	width:827px;
	height:312px;
	float:left;
}

.mosses
{
	width:130px;
	height:auto;
	float:right;
}

.full
{
	width:960px;
	height:auto;
	margin-top:10px;
}

.image_block1
{
	width:313px;
	height:148px;
	border:#b6b6b6 1px solid;
	float:left;
	background:url(../images/designer.jpg) no-repeat;
	position:relative;
	left:0px;
}

.image_block2
{
	width:313px;
	height:148px;
	border:#b6b6b6 1px solid;
	float:left;
	left:8px;
	background:url(../images/chocolate.jpg) no-repeat;
	position:relative;
}

.image_block3
{
	width:313px;
	height:148px;
	border:#b6b6b6 1px solid;
	left:1px;
	float:right;
	background:url(../images/payment.jpg) no-repeat;
	position:relative;
}

.title
{
	font-family:schadow, Arial, Helvetica, sans-serif;
	font-size:18px;
	background-color:#4959a3;
	padding:5px;
	color:#fff;
	position:relative;
	top:115px;
	left:7px;
}

.left_sidebar
{
	width:214px;
	height:auto;
	float:left;
}

.left_navigation
{
	width:214px;
	height:auto;
}

.left_navigation ul
{
	padding:0px;
	margin:0px;
	list-style:none;
}

.left_navigation ul li
{
	line-height:35px;
	border-bottom:#b6b6b6 1px solid;
}

.left_navigation ul li:hover
{
	background:#d9d9d9;
	padding-left:10px;
}

.left_navigation ul .active
{
	background:#d9d9d9;
	padding-left:10px;
}

.left_navigation ul a
{
	color:#000;
	text-decoration:none;
	margin-left:5px;
}

.left_navigation ul a:hover
{
	color:#4959a3;
	text-decoration:none;
}

.right_sidebar
{
	width:736px;
	height:auto;
	float:right;
}

.right_full
{
	width:736px;
	height:auto;
	clear:both;
}

.bouquet_block1
{
	width:238px;
	height:auto;
	border:#b6b6b6 1px solid;
	float:left;
	margin:0 2px 10px ;
}

.bouquet_block2
{
	width:238px;
	height:auto;
	border:#b6b6b6 1px solid;
	float:left;
	margin-left:8px;
}

.bouquet_block3
{
	width:238px;
	height:auto;
	border:#b6b6b6 1px solid;
	float:right;
}

.specification
{
	width:94%;
	height:auto;
	margin:0 auto;
	border-bottom:#b6b6b6 1px solid;
	line-height:30px;
	text-align:center;
}
.specificationImage
{
	
	height:240px;
	width:228px;
	margin:0 auto;
	border-bottom:#b6b6b6 1px solid;
	line-height:30px;
	text-align:center;
}
.left_block
{
	width:212px;
	height:auto;
	border:#b6b6b6 1px solid;
	margin-top:10px;
}

.bouquet
{
	width:736px;
	height:auto;
	float:left;
}

.flower_block
{
	width:369px;
	height:auto;
	float:left;
}

.flower
{
	width:367px;
	height:auto;
	float:left;
	position:relative;
	left:0px;
	border:#b6b6b6 1px solid;
}

.flower_title
{
	position:absolute;
	left:0px;
	bottom:0px;
}

.flower_description
{
	width:347px;
	height:auto;
	background:#d9d9d9;
	padding:10px;
	border:#b6b6b6 1px solid;
	clear:both;
	line-height:22px;
}

.vase
{
	width:355px;
	height:auto;
	float:right;
	border:#b6b6b6 1px solid;
}

.mosses_block2
{
	width:214px;
	height:auto;
	float:right;
}

.mosses2
{
	width:212px;
	height:auto;
	float:right;
	border:#b6b6b6 1px solid;
}

.recent_view
{
	width:192px;
	height:auto;
	border:#b6b6b6 1px solid;
	padding:10px;
}


/* Specially for Addon page  */


.full span
{
	background-color:#feb324;
	border:#e49c13 1px solid;
	padding:7px 5px;
}

/* Specially for Addon page  */

.full span
{
	background-color:#feb324;
	border:#e49c13 1px solid;
	padding:7px 5px;
}

.addon_cat1, .addon_cat2, .addon_cat3
{
	width:240px;
	float:left;
}

.addon_cat2, .addon_cat3
{
	margin-left:8px;
}

.addon_cat1 ul, .addon_cat2 ul, .addon_cat3 ul
{
	list-style:none;
	margin:0px;
	padding:0px;
}

.addon_cat1 ul li, .addon_cat3 ul li
{
	margin-bottom:7px;
	padding:0px;
}
.addon_cat2 ul li
{margin-bottom:7px;
	padding:0px;
}
.btn3
{
	width:90px;
	background-color:#feb324;
	height:32px;
	border:#eaa21a 1px solid;
	cursor:pointer;
}

.addon_cat1 ul li a, .addon_cat2 ul li a, .addon_cat3 ul li a
{

display:block;
}