<div class="slider-container">
<div class="strike-through"><h5><?php echo Mage::getStoreConfig('milanoconfig/homeoptions/sale_products_title'); ?></h5></div>
<?php if (($_products = $this->getProductCollection()) && $_products->getSize()): ?>
    <div class="product-slider" id="saleproducts">
        <div class="carousel">
            <div class="slider">
                <?php $i=0; foreach ($_products->getItems() as $_product): $i++; ?>
                    <div class="slide <?php if(($i == 4 && $_products->getSize() < 5) || ($i == $_products->getPageSize())) echo 'last'?>">
                        
                        <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(210) ?>" width="210" height="210" alt="<?php echo $this->htmlEscape($_product->getName()) ?>" /></a>
                        <div class="new-description">
                        	<div class="labels-container"><?php include('view/labels.phtml'); ?></div>
                            <h3><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>"><?php echo Mage::helper('core/string')->truncate($this->htmlEscape($_product->getName()), $length = 30, $etc = '...', $remainder = '', $breakWords = true); ?></a></h3>
							
							<?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
							 <div style="clear: both;"></div>
                            <?php echo $this->getPriceHtml($_product, true) ?>
                           
                        </div>
                    </div>
                <?php endforeach; ?>
            </div>
        </div>
        <?php if($_products->getSize() > 4): ?>
            <div class="prev sale-arrow">&nbsp;</div>
            <div class="next sale-arrow">&nbsp;</div>
        <?php endif; ?>
    </div>
    <div style="clear: both;"></div>
    <?php if($_products->getSize() > 4): ?>
        <script type="text/javascript">
            jQuery('.sale-arrow.prev').addClass('disabled');
            jQuery('#saleproducts > .carousel').iosSlider({
                desktopClickDrag: true,
                snapToChildren: true,
                infiniteSlider: false,
                navNextSelector: '.sale-arrow.next',
                navPrevSelector: '.sale-arrow.prev',
                lastSlideOffset: 3,
                onFirstSlideComplete: function(){
                    jQuery('.sale-arrow.prev').addClass('disabled');
                },
                onLastSlideComplete: function(){
                    jQuery('.sale-arrow.next').addClass('disabled');
                },
                onSlideChange: function(){
                    jQuery('.sale-arrow.prev').removeClass('disabled');
                    jQuery('.sale-arrow.next').removeClass('disabled');
                }
            });
        </script>
    <?php endif; ?>
<?php endif; ?>
</div>