<!--@subject You left the cart ? @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"var items":"Low Stock Items",
"var store_url":"Email Store url"
}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" width="100%">
<tr>
    <td align="center" valign="top" style="padding:20px 0 20px 0">
        <table bgcolor="#FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
            <!-- [ header starts here] -->
            <tr>
                <td valign="top"><a href="{{store url=""}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}" style="margin-bottom:10px;" border="0"/></a></td>
            </tr>
            <!-- [ middle starts here] -->
            <tr>
                <td valign="top">
                    <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;"">Dear,Customer</h1>
                    <p style="font-size:12px; line-height:16px; margin:0;">
                        
                        We noticed you didn't complete the checkout process and your items were left in the cart.<br><br>
                        If you are having trouble placing your order and need help, please reply to this email
                        and we will assist you as soon as possible or feel free to call us at 1800 0000 000
                        Monday - Friday, 8am - 5pm PST.
                        You can check the items in your Cart <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">logging into your account</a>.
                    </p>
                    
            </tr>
            <tr>
                        <td>
                        <table cellspacing="0" cellpadding="10px" style="border: 1px solid rgb(206,206,206);background:rgb(244,244,244);width: 100%;">
                            <tr style="background:rgb(229,229,229);">
                                <td></td>
                                <td style="font-weight: bold;">Item</td>
                                <td style="font-weight: bold;">Sku</td>
                                <td style="font-weight: bold;">Qty</td>
                                <td style="font-weight: bold;">Subtotal</td>
                            </tr>

                            {{var items}}

                        </table>
                    </td>
                </tr>
           
            
            <tr>
                <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;"><center><p style="font-size:12px; margin:0;">Thank you, <strong>{{var store.getFrontendName()}}</strong></p></center></td>
            </tr>
        </table>
    </td>
</tr>
</table>
</div>
</body>