<style>
.picklist-adminhtml-picklistsendtrack-index .middle {
    padding-top: 10px;
}
.container {
    border: 1px solid hsl(0, 0%, 0%);
	border-top: 0;
    margin: 0 auto;
    padding: 10px 10px 0;
    width: 93.5%;
}
.container1 {  
    border: 1px solid hsl(0, 0%, 0%);
    margin: 0 auto;
    padding: 5px 0;
    width: 95%;
}
table {
    border-spacing: 0;
}
.process-order{float: left;
   width: 22%;
}
.process-order1 {
    width: 100%;
}
.process-order2 {
    margin: 0 auto;
}
.process-order3 {
    float: left;
   margin: 0 10px;
    width: 35%;
	
}
.process-order4 {
    float: left;
    width: 100%;
}
.process-order5 tr {
    float: left;
    width: 100%;
}
.process-order4 tbody {
    float: left;
    width: 50%;  margin-top: 2%;
}
.process-order6 > tbody:nth-child(2) {
    float: left;
    width: 56%;
}
.process-order tbody:nth-child(2) tr {
    float: left;
    width: 100%;
}
.process-order5 tr:nth-child(2n) {
    background: hsl(0, 0%, 94%) none repeat scroll 0 0;
}
.process-order5 tbody:nth-child(3) tr:nth-child(2n+1) {
    background: hsl(0, 0%, 94%) none repeat scroll 0 0;
}

.process-order5 tbody:nth-child(3) tr:nth-child(2n) {
    background: hsl(0, 0%, 100%) none repeat scroll 0 0;
}
.process-order6 > tbody:nth-child(1) {
    float: left;
  width: 43%;
}
.process-order6 > tbody:nth-child(2) {
    float: left;
   width: 57%;
}
.process-order6 > tbody:nth-child(2) tr {
    float: left;
    margin-right: 5%;
}
.process-order6 {
    float: left;
    width: 100%;
}
</style>
<?php
$order_id =  Mage::getSingleton('core/session')->getOrderIdss();
$send =  Mage::getSingleton('core/session')->getSendtrack();
?>
<h1 style="font-size: 14px; text-align: center;" >Boxing Tab</h1>
<div class="container1">
<table class="process-order2">

<tr>
<td colspan="2" style="font-weight: bold;" >Order Number</td>
<td style="padding-left: 1em;" >
<form name="test-form" id="my-custom-form" action="<?php echo Mage::helper("adminhtml")->getUrl('admin_picklist/adminhtml_picklistscanbackend/order/'); ?>" method="post">
<input type="text" name="order_id" id="order_id" value="<?php echo $order_id; ?>"/>

<input type="hidden" id="form_key" name="form_key" value="<?php echo Mage::getSingleton('core/session')->getFormKey(); ?>" /> </td>
<td style="text-align: center; padding-left: 3em;" >
<!--input type="submit" name="submit" value="<?php echo $this->__('OK') ?>" class="form-button" /-->
<!--button type="reset" value="<?php echo $this->__('Reset') ?>"><?php echo $this->__('Reset') ?></button-->
</form></td>
<td style="padding-left: 2em;font-weight: bold;">Please Scan Bar code to get Order Detail</td>
</tr>
</table></div>
<!--button type="button" onclick="location.href='<?php echo Mage::helper("adminhtml")->getUrl('admin_picklist/adminhtml_picklistbackend/index/'); ?>';" >Go to Picklist</button-->

<?php
$orders = Mage::getModel('sales/order')->getCollection()
        ->addFieldToFilter('increment_id', $order_id );
$conf = 0;		
//$orders->printLogQuery(true);		
foreach($orders as $order) :
//echo "<pre>"; print_r($order);
	
	$orderData = Mage::getModel("sales/order")->load($order['entity_id']);
	$ordered_items = $orderData->getAllItems();
	$shippingMethod = $order->getShippingDescription();
	$paymentMethod = $order->getPayment()->getMethodInstance()->getTitle();
	$shipmentCollection = Mage::getResourceModel('sales/order_shipment_collection')
			->setOrderFilter($order)
		->load();
	foreach ($shipmentCollection as $shipment){
		// This will give me the shipment IncrementId, but not the actual tracking information.
		foreach($shipment->getAllTracks() as $tracknum)
		{
			$tracknums[]=$tracknum->getNumber();
		}

	}
	
	if($order['status'] == "track_sent" || $order['status'] == "complete" || $order['status'] == "invoice_sent"){
		$conf = 1;
	}
	
	echo '<div class="container" id="container">
	<table class="process-order">
	<tbody>
	<tr>
	<td rowspan="9"  style="border:1px solid #000; width: 260px;height: 260px;">';						
	foreach($ordered_items as $item) :     
	   
	   if($item->getProductType() == 'simple') :
			$sku = $item->getSku();
			try{
			  $image = Mage::getModel('catalog/product')->loadByAttribute('sku',$sku)->getImageUrl();
			}
			catch(Exception $e) {
			  $image = Mage::getDesign()->getSkinUrl('images/catalog/product/placeholder/image.jpg',array('_area'=>'frontend'));  
			}
			
				echo "<img src=".$image." /></td></tr></tbody>
					";
			
			if($order['trading_partner'] == ""){
				$order['trading_partner'] = "Kabloom";
			}
			echo '<tbody style="float: left;" ><tr><td style="float: left;font-weight: bold;padding: 0.3em 1em 0.5em 0;">Product Name</td>
				<td style=" padding: 0.3em 0 0 0;" >'.$item->getDescription().'</td></tr>';
			
		
		endif;
		
		$collections = Mage::getModel('upslabel/upslabel');
		$colls = $collections->getCollection()->addFieldToFilter('order_id', $order['entity_id']);
		foreach ($colls AS $k => $v) {
			echo '<tr>
			<td style="padding: 0.5em 1em 0.5em 0px; font-weight: bold; float: left;">Shipping Label Status: </td><td style="padding: 0.5em 0px;">';
				echo $v['statustext']."</td>
				</tr></tbody>";
		  
			}
	endforeach;
	
	echo "</table>";
	
	
	echo '<table class="process-order3">';
	$product = Mage::getModel('catalog/product')->loadByAttribute('sku', $item->getSku());
	//print_r($product);
	$text = $product->getData('internal_sku');
	if($text) {
		
		echo '<tbody><tr>
	<td style="border: 1px solid hsl(0, 0%, 0%); text-align: center;vertical-align: middle; padding: 0.5em;
	font-weight: bold;" rowspan="5">Name: </td><td style="border: 1px solid hsl(0, 0%, 0%); text-align: center;vertical-align: middle; padding: 0.5em;
	font-weight: bold;" rowspan="5">Image: </td><td style="border: 1px solid hsl(0, 0%, 0%); text-align: center;vertical-align: middle; padding: 0 40px;
	font-weight: bold;" rowspan="5"> SKU: </td><td style="border: 1px solid hsl(0, 0%, 0%); text-align: center;vertical-align: middle; padding: 0 20px;
	font-weight: bold;" rowspan="5">  Qty: </td></tbody>';

		
		$expbun = explode("-",$text);
		
		 
		$bundled_product = new Mage_Catalog_Model_Product(); 
		$bundleId = $bundled_product->getIdBySku($expbun[0]);
		//echo $expbun[0];
		$product1 = Mage::getModel('catalog/product')->setStoreId($store_id)->load($bundleId);			
		$options = Mage::getModel('bundle/option')->getResourceCollection()
										  ->setProductIdFilter($bundleId)
										  ->setPositionOrder(); 
		$options->joinValues($store_id);

		$selections = $product1->getTypeInstance(true)
							  ->getSelectionsCollection($product1->getTypeInstance(true)
							  ->getOptionsIds($product1), $product1);
		
		foreach ($options->getItems() as $option) {
			$option_id = $option->getId();
			//echo 'Option: ' . $option->getDefaultTitle() . ' [id: ' . $option_id . ']<br />'; 
			if($option->getDefaultTitle() == "Flowers") { 
				foreach($selections as $selection){ 
					if($option_id == $selection->getOptionId()){
						$selection_id         = $selection->getId();
						$selection_name       = $selection->getName();
						$selection_qty        = $selection->getSelectionQty();
						$selection_sku        = $selection->getSku();
						$selection_product_id = $selection->getProductId();
						$selection_weight     = $selection->getWeight();
						$selection_price      = $selection->getPrice();
						
						try{
						  $image = Mage::getModel('catalog/product')->loadByAttribute('sku',$selection_sku)->getImageUrl();
						}
						catch(Exception $e) {
						  $image = Mage::getDesign()->getSkinUrl('images/catalog/product/placeholder/image.jpg',array('_area'=>'frontend'));  
						}
						//echo $image;
						$data = '<tbody><tr>
	<td style="border: 1px solid hsl(0, 0%, 0%); text-align: center;vertical-align: middle; padding: 0.5em;
	font-weight: bold;" rowspan="5">' . $selection_name . '</td>';
						$data .= '<td style="border: 1px solid hsl(0, 0%, 0%); text-align: center;vertical-align: middle; padding: 0.5em;
	font-weight: bold;" rowspan="5"> <img src='.$image.' width="25%" height="25%"/></td>';
						$data .= '<td style="border: 1px solid hsl(0, 0%, 0%); text-align: center;vertical-align: middle;  padding: 0 0.5em;
	font-weight: bold;" rowspan="5"> ' . $selection_sku. '</td>';
						$data .= '<td style="border: 1px solid hsl(0, 0%, 0%); text-align: center;vertical-align: middle; padding: 0.5em;
	font-weight: bold;" rowspan="5">  ' . $selection_qty. '</td>';
						//$data .= ', ID: ' . $selection_id;
						//$data .= ', Product ID: ' . $selection_product_id;
						//$data .= ', Weight: ' . $selection_weight;
						//$data .= ', Price: ' . $selection_price;

						echo $data . '</tbody>';
					}
				}
			} elseif($option->getDefaultTitle() == "Select a vase"){
				foreach($selections as $selection){ 
					if($option_id == $selection->getOptionId() && $expbun[1] == $selection->getSku()){
						$selection_id         = $selection->getId();
						$selection_name       = $selection->getName();
						$selection_qty        = $selection->getSelectionQty();
						$selection_sku        = $selection->getSku();
						$selection_product_id = $selection->getProductId();
						$selection_weight     = $selection->getWeight();
						$selection_price      = $selection->getPrice();

						try{
						  $image = Mage::getModel('catalog/product')->loadByAttribute('sku',$selection_sku)->getImageUrl();
						}
						catch(Exception $e) {
						  $image = Mage::getDesign()->getSkinUrl('images/catalog/product/placeholder/image.jpg',array('_area'=>'frontend'));  
						}
						
						$data = '<tbody><tr>
	<td style="border: 1px solid hsl(0, 0%, 0%); text-align: center;vertical-align: middle; padding: 0.5em;
	font-weight: bold;" rowspan="5">' . $selection_name . '</td>';
						$data .= '<td style="border: 1px solid hsl(0, 0%, 0%); text-align: center;vertical-align: middle; padding: 0.5em;
	font-weight: bold;" rowspan="5"> <img src='.$image.' width="25%" height="25%"/></td>';
						$data .= '<td style="border: 1px solid hsl(0, 0%, 0%); text-align: center;vertical-align: middle;
						 padding: 0 0.5em;
	font-weight: bold;" rowspan="5"> ' . $selection_sku. '</td>';
						$data .= '<td style="border: 1px solid hsl(0, 0%, 0%); text-align: center;vertical-align: middle; padding: 0.5em;
	font-weight: bold;" rowspan="5">  ' . $selection_qty. '</td>';
						//$data .= ', ID: ' . $selection_id;
						//$data .= ', Product ID: ' . $selection_product_id;
						//$data .= ', Weight: ' . $selection_weight;
						//$data .= ', Price: ' . $selection_price;

						echo $data . '</tbody>';
					}
				}
			} elseif($option->getDefaultTitle() == "Add on"){
				foreach($selections as $selection){ 
					if($option_id == $selection->getOptionId() && $expbun[2] == $selection->getSku()){
						$selection_id         = $selection->getId();
						$selection_name       = $selection->getName();
						$selection_qty        = $selection->getSelectionQty();
						$selection_sku        = $selection->getSku();
						$selection_product_id = $selection->getProductId();
						$selection_weight     = $selection->getWeight();
						$selection_price      = $selection->getPrice();

						try{
						  $image = Mage::getModel('catalog/product')->loadByAttribute('sku',$selection_sku)->getImageUrl();
						}
						catch(Exception $e) {
						  $image = Mage::getDesign()->getSkinUrl('images/catalog/product/placeholder/image.jpg',array('_area'=>'frontend'));  
						}
						
						$data = '<tbody><tr>
	<td style="border: 1px solid hsl(0, 0%, 0%); text-align: center;vertical-align: middle; padding: 0.5em;
	font-weight: bold;" rowspan="5"> ' . $selection_name . '</td>';
						$data .= '<td style="border: 1px solid hsl(0, 0%, 0%); text-align: center;vertical-align: middle; padding: 0.5em;
	font-weight: bold;" rowspan="5"> <img src='.$image.' width="25%" height="25%"/></td>';
						$data .= '<td style="border: 1px solid hsl(0, 0%, 0%); text-align: center;vertical-align: middle; 
						 padding: 0 0.5em;
	font-weight: bold;" rowspan="5">' . $selection_sku. '</td>';
						$data .= '<td style="border: 1px solid hsl(0, 0%, 0%); text-align: center;vertical-align: middle; padding: 0.5em;
	font-weight: bold;" rowspan="5">  ' . $selection_qty. '</td>';
						//$data .= ', ID: ' . $selection_id;
						//$data .= ', Product ID: ' . $selection_product_id;
						//$data .= ', Weight: ' . $selection_weight;
						//$data .= ', Price: ' . $selection_price;

						echo $data . '</tbody>';
					}
				}
			}
		}
			
	} else {
		foreach($ordered_items as $item) :     
		   if($item->getProductType() == 'simple') :
				echo '<tbody>
						<tr>
						<td colspan="1" style="padding-top: 0.5em; padding-bottom: 0.5em;padding-right: 0.5em;text-align:center; 
						border-left: 1px solid hsl(0, 0%, 0%);border-top: 1px solid hsl(0, 0%, 0%);text-align: right;" >Sku -</td>
					<td colspan="3" style="padding-top: 0.5em; padding-bottom: 0.5em; border-right: 1px solid hsl(0, 0%, 0%);
					border-top: 1px solid hsl(0, 0%, 0%);" > '.$item->getSku().'</td>
					</tr>
					</tbody>
					
					';
					
					$pdt_data = Mage::getModel("catalog/product")->load($item->getProductId());
					$pdt_recipe = $pdt_data->getRecipe();
					echo '<tbody><tr>
	<td rowspan="5" style="border: 1px solid hsl(0, 0%, 0%); text-align: center;vertical-align: middle; padding: 0.5em;
	font-weight: bold;">Recipe: </td>
	<td style="border: 1px solid hsl(0, 0%, 0%);padding: 0.5em;text-align: center;font-weight: bold;border-right:1px solid;">'.$pdt_recipe.'</td></tr></tbody>';
					/*echo '<tbody><tr>
	<td rowspan="5" style="border: 1px solid hsl(0, 0%, 0%); text-align: center;vertical-align: middle; padding: 0.5em;
	font-weight: bold;">Recipe</td>
	<td style="border-top: 1px solid hsl(0, 0%, 0%);padding: 0.5em;text-align: center;font-weight: bold;">SKU</td>
	<td style="border-left: 1px solid hsl(0, 0%, 0%);padding: 0.5em;text-align: center;border-top: 1px solid hsl(0, 0%, 0%);
	font-weight: bold;">Name</td>
	<td style="border: 1px solid hsl(0, 0%, 0%);width: 100px;text-align: center;padding: 0.5em;border-bottom: 0;
	font-weight: bold;">Qty</td></tr>
					 ';*/
			endif;
		endforeach;
	}
		/*foreach($ordered_items as $item) :  
			if($item->getProductType() == 'simple'):
				echo '<tr><td style="border: 1px solid hsl(0, 0%, 0%);border-left: 0;border-right: 0; text-align: center;
				padding: 0.5em;">'.$item->getSku().'</td>'; //$item->getSku()
				echo '<td style="border: 1px solid hsl(0, 0%, 0%);border-right:0;padding: 0.5em;text-align:center;">'.$item->getName().'</td>'; //$item->getName()
				echo '<td style="border: 1px solid hsl(0, 0%, 0%);padding: 0.5em;text-align:center;">'.round($item->getQtyOrdered()).'</td></tr></tbody>';
			endif;
		endforeach;*/
		
		
		echo '</table>';
		
	
	foreach($ordered_items as $item) : 
		
		if($item->getProductType() == 'simple') :
			echo '<table class="process-order5">
				<tbody style="float: left; height: 276px; width: 49%; border: 1px solid rgb(0, 0, 0);">
				<tr>
				<td style="padding: 0.3em 0px 0.5em ;font-weight: bold;">Order Number</td>
				<td style=" padding: 0.3em 0 0 1em;" > '.$order['increment_id'].'</td></tr>';
			
			echo '<tr><td style="padding: 0.3em 0px 0.5em ;font-weight: bold;">Order Status</td>
				<td style=" padding: 0.3em 0 0 1em;" >'.$order['status'].'</td></tr>';
				
			echo '<tr><td style="padding: 0.3em 0px 0.5em ;font-weight: bold;">Delivering Date </td>
				<td style=" padding: 0.3em 0 0 1em;" >'.date("m/d/Y", strtotime($order['delivering_date'])).'</td></tr>';
			
			echo '<tr><td style="padding: 0.3em 0px 0.5em ;font-weight: bold;">Pickup Date </td>
				<td style=" padding: 0.3em 0 0 1em;" >'.date("m/d/Y", strtotime($order['pickup_date'])).'</td></tr>';
		
	   endif;
	   
	endforeach;
	
	
	
	echo '<tr><td style="padding: 0.3em 0px 0.5em ;font-weight: bold;">ShippingMethod</td>
		<td style="padding: 0.3em 0 0 1em;" >'.$order['pickup_method'].'</td></tr>';
	
	
	echo '<tr><td style="padding: 0.3em 0px 0.5em ;font-weight: bold;">Track ID</td>
		<td style="padding: 0.3em 0 0 1em;" >'.$tracknums[0].'</td></tr>';
	
	
	echo "<tr><td style='padding:0 0 0.5em;font-weight: bold;'>Partner </td>
			<td style='padding:0 0 0.5em;'>".$order['trading_partner']."</td></tr>";
			echo "<tr><td style='padding:0.5em 0 0.5em 0;font-weight: bold;'>Partner Order ID</td>
			<td style='padding:0.5em 0 0.5em 0;'>".$order['partner_order_id']."</td></tr>";
			$warehouse_name = Mage::getModel('pointofsale/pointofsale')->getCollection()
					->addFieldToSelect('name')
					->addFieldToFilter('place_id', $order['assignation_warehouse']);
		
			$ware_name = $warehouse_name->getData();	
			
			echo "<tr><td style='padding:0.5em 0 0.5em 0;font-weight: bold;'>Warehouse</td>
			<td style='padding:0.5em 0;'>".$ware_name[0]['name']."</td></tr></tbody>";
			
	$billingAddress = $order->getBillingAddress();
	$billaddress = $billingAddress->getData();
	$shippingAddress = $order->getShippingAddress();
	$shipaddress = $shippingAddress->getData();
	
	echo '<tbody style="float: left; width: 50%;border-right: 1px solid hsl(0, 0%, 0%);
    border-top: 1px solid hsl(0, 0%, 0%);"><tr>
	<td colspan="2" style="font-weight: bold; padding: 0.3em 0 0.5em; background: hsl(195, 14%, 50%) none repeat scroll 0 0;
    color: hsl(0, 0%, 100%);width: 100%; float: left; ">Shipping Address</td>
	
	</tr>';

	echo '<tr>
		<td colspan="2" style="  padding: 0.3em 0 0.5em;">';
	echo "<b>Name:</b> ".$shippingAddress->getFirstname().'</td>';
	echo '</tr>';
	//print_r($shippingAddress->getData());
	echo '<tr>
		<td colspan="2" style="  padding: 0.3em 0 0.5em;">';
	echo "<b>Street:</b> ".$shipaddress['street'].'</td>';
	echo '</tr>';
	
	echo '<tr>
		<td colspan="2" style="  padding: 0.3em 0 0.5em;">';
	echo "<b>City: </b>".$shippingAddress->getCity().'</td>';
	echo '</tr>';
	
	echo '<tr>
		<td colspan="2" style="  padding: 0.3em 0 0.5em;">';
	echo "<b>Zip Code: </b>".$shippingAddress->getPostcode().'</td>';
	echo '</tr>';
	
	echo '
		</tbody>
		';
	

	echo '<tbody style="float: left; width: 50%;  border-bottom: 1px solid hsl(0, 0%, 0%);
    border-right: 1px solid hsl(0, 0%, 0%);"><tr>
	<td style="font-weight: bold;   padding: 0.3em 0 0.5em; background: hsl(195, 14%, 50%) none repeat scroll 0 0;
    color: hsl(0, 0%, 100%);width: 100%; float: left; ">Billing Address</td>
	</tr>';

	echo '<tr>
		';
	echo '<td style="  padding: 0.3em 0 0.5em;">';
	echo "<b>Name:</b> ".$billingAddress->getFirstname().'</td></tr>';
	//print_r($shippingAddress->getData());
	echo '<tr>
		';
	echo '<td style="  padding: 0.3em 0 0.5em;" >';
	echo "<b>Street:</b> ".$billaddress['street'].'</td></tr>';
	
	echo '<tr>
		';
	echo '<td  style="  padding: 0.3em 0 0.5em;">';
	echo "<b>City: </b>".$billingAddress->getCity().'</td></tr>';
	
	echo '<tr>
		';
	echo '<td style="  padding: 0.3em 0 0.5em;">';
	echo "<b>Zip Code: </b>".$billingAddress->getPostcode().'</td></tr>';
	
	echo '<!--tr>
		<td colspan="2" style="padding: 0.2em 0 0.2em 0;font-weight: bold;">Special Instruction</td>
		<td></td>
		</tr-->
		';
	
	echo '
		</tbody>
		';
		
		
		
	$message = Mage::getModel('giftmessage/message');
		$gift_message_id = $order->getGiftMessageId();
		if(!is_null($gift_message_id)) {
			$message->load((int)$gift_message_id);
			$gift_sender = $message->getData('sender');
			$gift_recipient = $message->getData('recipient');
			echo '<tbody><tr>
			<td colspan="2" style="padding: 0 0 0.3em;font-weight: bold;">Gift Message</td></tr><tr><td colspan="4" style="border: 1px solid rgb(0, 0, 0);" ><textarea rows="2" cols="150" style="border: 0px none; width: 99%;">'.$message->getData('message').'</textarea></td></tr></tbody></table>';
		}
	echo '<table class="process-order1">
			<tr>
			<td><button type="button" onclick="ClearFields();">Scan New Order</button></td>
			<td><button type="button" id="btn-ship" onclick="displayship()">Print Shipping Label</button></td>
			<td><button type="button" id="btn-pack" onclick="displaypack()">Print Packing Slip</button></td>';
	//if(!is_null($gift_message_id)) {		
		echo '<td><button type="button" id="btn-gift" onclick="displaygift()">Print Giftmessage</button></td>
			<td><button type="button" id="button-send" onclick="sendclub()">Send Track ID</button></td>
			<td style="padding: 0 0 0.5em 1em;"><button id="button-printall" onclick="displayDate()" type="button" >Print All</button></td>
			</tr>
			</table>
			</div>';
	//}
	echo '<a id="button-ship" style="display: none;" target="_blank" href="'.Mage::helper("adminhtml")->getUrl('upslabel/adminhtml_autocreatelabel/index/type/order/')."?type=order&pickship=1&order_ids=".$order['entity_id'].'">Print Shipping Label</a>
			<a id="button-pack" style="display: none;" target="_blank" href="'.Mage::helper("adminhtml")->getUrl('upslabel/adminhtml_autocreatelabel/index/type/order/')."?ptype=order&pickpack=1&order_ids=".$order['entity_id'].'">Print Packing Slip</a>';
	//if(!is_null($gift_message_id)) {		
	echo '<a id="button-gift" style="display: none;" target="_blank" href="'.Mage::helper("adminhtml")->getUrl('upslabel/adminhtml_autocreatelabel/index/type/order/')."?ptype=order&giftmessage=1&order_ids=".$order['entity_id'].'">Print Giftmessage</a>';
	//}	

	echo '<a id="button-sendtrack" style="display: none;" href="'.Mage::helper("adminhtml")->getUrl('upslabel/adminhtml_generatetrack/index/')."?type=order&club=1&order_ids[]=".$order['entity_id'].'">Send</a>';
	
	echo '<div class="container" id="container-send">
	<table class="process-order6">
	<tbody>';
	
	echo '<tr>
<td colspan="2" style="font-weight: bold;" >Track ID</td>
<td style="padding-left: 1em;" >
<form name="scan-form" id="scan-custom-form" onsubmit="return confirm(\'Are you sure you want to submit?\');" action="'.Mage::helper("adminhtml")->getUrl("upslabel/adminhtml_generatetrack/index/").'?type=order&ptype=order" method="post">
<input type="text" name="track_id" id="track_id" />
<input type="hidden" name="club" id="club" value="1"/>
</td>
<td style="text-align: center;" >
</form></td>
<td style="padding-left: 2em;font-weight: bold;">Please Scan Track ID of Label to send Track</td>
</tr></tbody>';
	
	echo '<tbody><tr><td style="padding: 0 0 0.5em ;font-weight: bold;">ShippingMethod</td>
	<td style="padding: 0 0 0 1em;" >'.$order['pickup_method'].'</td></tr>';

	echo '<tr><td style="padding: 0 0 0.5em ;font-weight: bold;">Order ID</td>
				<td style=" padding: 0 0 0 1em;" > '.$order['increment_id'].'</td></tr>';
	
	echo '<tr><td style="padding: 0 0 0.5em ;font-weight: bold;">Track ID</td>
	<td style="padding: 0 0 0 1em;" >'.$tracknums[0].'</td>
	
	
	</tr></tbody></table></div>';
endforeach;
if($conf == 1){
?>
<script>
if(document.getElementById("button-send")){
	if (confirm('Are you sure you want to Reprint?')) {
		 //document.getElementById("button-send").click();
		 document.getElementById("button-ship").click();
		 document.getElementById("button-pack").click();
		 document.getElementById("button-gift").click();
	}
}
</script>
<?php } else { ?>
<script>
if(document.getElementById("button-send")){
	 document.getElementById("button-ship").click();
	 document.getElementById("button-pack").click();
	 document.getElementById("button-gift").click();
}
</script>
<?php } ?>
<script>

document.getElementById("order_id").value = "";
document.getElementById("order_id").focus(); 
function ClearFields() {
	 if(document.getElementById("container"))
	 document.getElementById("container").remove();
     document.getElementById("order_id").value = "";
	 document.getElementById("order_id").focus();
	 if(document.getElementById("container-send"))
	 document.getElementById("container-send").remove();
 }
 
	

function sendclub() {
	 //alert('hi');
     document.getElementById("button-sendtrack").click();
	 //document.getElementById("button-sendinvoice").click();
	 
}

function displayDate() {
     document.getElementById("button-ship").click();
	 document.getElementById("button-pack").click();
	 document.getElementById("button-gift").click();
}

function displayship() {
     document.getElementById("button-ship").click();
}

function displaypack() {
	 document.getElementById("button-pack").click(); 
}

function displaygift() {
	 document.getElementById("button-gift").click();
}
 if(document.getElementById("track_id")){
	document.getElementById("track_id").focus(); 
 }
</script>
<?php 
Mage::getSingleton('core/session')->unsOrderIdss();
?>