<style>
.picklist-adminhtml-picklistsendtrack-index .middle {
    padding-top: 10px;
}
.container {
    border: 1px solid hsl(0, 0%, 0%);
	border-top: 0;
    margin: 0 auto;
    padding: 10px 10px 0;
    width: 93.5%;
}
.container1 {  
    border: 1px solid hsl(0, 0%, 0%);
    margin: 0 auto;
    padding: 5px 0;
    width: 95%;
}
table {
    border-spacing: 0;
}
.process-order{float: left;
   width: 22%;
}
.process-order1 {
    width: 100%;
}
.process-order2 {
    margin: 0 auto;
}
.process-order3 {
    float: left;
   margin: 0 10px;
    width: 35%;
	
}
.process-order4 {
    float: left;
    width: 100%;
}
.process-order5 tr {
    float: left;
    width: 100%;
}
.process-order4 tbody {
    float: left;
    width: 50%;  margin-top: 2%;
}
.process-order6 > tbody:nth-child(2) {
    float: left;
    width: 56%;
}
.process-order tbody:nth-child(2) tr {
    float: left;
    width: 100%;
}
.process-order5 tr:nth-child(2n) {
    background: hsl(0, 0%, 94%) none repeat scroll 0 0;
}
.process-order5 tbody:nth-child(3) tr:nth-child(2n+1) {
    background: hsl(0, 0%, 94%) none repeat scroll 0 0;
}

.process-order5 tbody:nth-child(3) tr:nth-child(2n) {
    background: hsl(0, 0%, 100%) none repeat scroll 0 0;
}
.process-order6 > tbody:nth-child(1) {
    float: left;
  width: 43%;
}
.process-order6 > tbody:nth-child(2) {
    float: left;
   width: 57%;
}
.process-order6 > tbody:nth-child(2) tr {
    float: left;
    margin-right: 5%;
}
.process-order6 {
    float: left;
    width: 100%;
}
</style>
<?php
$order_id =  Mage::getSingleton('core/session')->getOrderIdss();
?>
<h1 style="font-size: 14px; text-align: center;" >Picklist status change</h1>
<div class="container1">
<table class="process-order2">

<tr>
<td colspan="2" style="font-weight: bold;" >Order Number</td>
<td style="padding-left: 1em;" >
<form name="test-form" id="my-custom-form" action="<?php echo Mage::helper("adminhtml")->getUrl('admin_picklist/adminhtml_pickliststatuschange/order/'); ?>" method="post">
<textarea rows="4" cols="50" name="order_id" id="order_id"></textarea> 
<!--input type="text" name="order_id" id="order_id" value="<?php echo $order_id; ?>"/-->

<input type="hidden" id="form_key" name="form_key" value="<?php echo Mage::getSingleton('core/session')->getFormKey(); ?>" /> </td>
<td style="text-align: center; padding-left: 3em;" >
<input type="submit" name="submit" value="<?php echo $this->__('OK') ?>" class="form-button" />
<!--button type="reset" value="<?php echo $this->__('Reset') ?>"><?php echo $this->__('Reset') ?></button-->
</form></td>
<td style="padding-left: 2em;font-weight: bold;">Please give comma seperated order id</td>
</tr>
</table></div>
<?php
$orders = explode(",", $order_id);

$conf = 0;	
$resource = Mage::getSingleton('core/resource');
$writeConnection = $resource->getConnection('core_write');	
//$orders->printLogQuery(true);	
if($order_id){
	try
	{
	foreach($orders as $order) :
	//echo "<pre>"; print_r($order);
	//echo $order;	
		$orderData = Mage::getModel("sales/order")->loadByIncrementId($order);	
		//echo $orderData->getId();
		$processing = 'processing';
		//$orderData->setData('state', "processing");
		//$orderData->setStatus("processing");
		
		$query_1 = "UPDATE sales_flat_order SET status = '" . $processing . "',state = '" . $processing . "' WHERE entity_id = " . $orderData->getId();
		$writeConnection->query($query_1);
		$query_2 = "UPDATE sales_flat_order_grid SET status = '" . $processing . "' WHERE entity_id = " . $orderData->getId();
				
		$writeConnection->query($query_2);
		$orderData->save();
	endforeach;
	echo 'Order Status Changed Successfully';
	} catch(Exception $e)
	{
	echo $e->getMessage();
	}
}	

?>
<?php 
Mage::getSingleton('core/session')->unsOrderIdss();
?>