<style>
.picklist1 > tr:nth-child(even){
background: hsl(0, 0%, 96%) none repeat scroll 0 0;
}
.picklist1 tr td:nth-child(1) {
    padding-left: 1em;
}
.picklist1 tr td {
    padding: 0.5em 0;
}
.picklist2 {
    border: 1px solid hsl(0, 0%, 0%);
    width: 100%;
}
#ulist > li {
    font-weight: normal;
	 padding: 3px 0;
	
}
.picklist1 td {
    font-size: 14px;
}
#list > ul {
    text-align: left;
}
#list li {
    font-size: 12px;
	padding: 3px 0;
}
.forget_it > li:nth-child(1) {
    font-size: 13px !important;
}
#plist > li {
    padding: 4px 0;
	white-space: nowrap;
    width: 150px;
	font-weight: normal;
}
.forget_it1 > li {
    white-space: nowrap;
    width: 251px;
	font-weight: normal;
	  padding: 4px 0 !important;
}
#ulist.forget_it {
    float: left;
    margin-left: 3%;
    margin-top: 2%;
    overflow: visible;
    width: 65%;
}
.forget_it {
    margin-top: 2%;
    width: 32%;
	float: left;
}
#plist.forget_it1 {
    margin-left: 2%;
    width: 60%;
	 margin-top: 1%;
}
#ulist b {
    font-size: 13px;
}
.forget_it1 > li:nth-child(1) {
    font-weight: bold;
}
.forget_it_bun > li:nth-child(1) {
    font-weight: bold;
}
.forget_it_bun li {
    padding: 4px 0;
}
.forget_it_bun > li:nth-child(2n) {
    background: hsl(0, 0%, 94%) none repeat scroll 0 0;
}
#ulist.forget_it li:nth-child(1) {
    font-size: 13px;
    font-weight: bold;
}
#plist.forget_it1 li:nth-child(1) {
    font-size: 12px;
    font-weight: bold;
}
#processed1.form-button {
    float: left;
    margin: 0 10px;
    padding: 4px 0;
}
.forget_it1 {
    float: left;
    width: 38%;
	margin-top: 1%;
}
.forget_it1 > li:nth-child(2n) {
    background: hsl(0, 0%, 96%) none repeat scroll 0 0;
}
#processed2.form-button {
    float: left;
    padding: 4px 0;
}
#ulist.forget_it li:nth-child(even) {
    background: hsl(0, 0%, 95%) none repeat scroll 0 0;
}
#plist.forget_it1 li:nth-child(even) {
    background: hsl(0, 0%, 95%) none repeat scroll 0 0;
}
.picklist1 th{
font-size: 13px;
}
#bunplist.forget_it1_bun {
    float: left;
    width: 44%;
	font-weight: normal;
	font-size: 11px;
}
.forget_it1_bun {
    float: left;
    overflow: visible;
    white-space: nowrap;
    width: 56%;
	 font-weight: normal;
    font-size: 11px;
}
#processed3 {
    width: 106px;
}
#bunplist.forget_it1_bun li:nth-child(1) {
    font-weight: bold;.
	font-size: 12px;
}
.forget_it1_bun li:nth-child(1) {
    font-weight: bold;
    font-size: 12px;
}

.process-order4 tbody {
    float: left;
    width: 100%;
}

.forget_it1_bun li:nth-child(2n) {
    background: hsl(0, 0%, 94%) none repeat scroll 0 0;
}

.forget_it1_bun > li {
    padding: 5px 0;
}
.forget_it_bun {
    float: left;
	font-weight: normal;
    width: 50%;
}

</style>
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<table class="picklist2">
 <tr >
  <th style="border: medium none; text-align: center; padding: 0.5em;font-size: 14px;" colspan="2">Dashboard-Administrative Tab-Pick List </th>

 </tr>
 <tr >
  <td style="border: medium none; width: 56%;float:left;padding: 1em;">
  
   <table cellspacing="0"   style=" border: 1px solid hsl(0, 0%, 90%); width:100%;">
   <tbody class="picklist1" >
   <tr style="background: rgb(111, 137, 146) none repeat scroll 0% 0%; color: rgb(255, 255, 255);" >
		<th style="border:none;padding: 0.5em 0 0.3em 1em;">Partners</th>
		<th style="border:none;padding-top: 0.5em; text-align: center;"> Total Order </th>
		<th style="border:none;padding-top: 0.5em; text-align: center;"> Processing </th>
		<th style="border:none;padding-top: 0.5em; text-align: center;"> Error </th>
		<th style="border:none;padding-top: 0.5em; text-align: center;"> Barcode </th>
		<th style="border:none;padding-top: 0.5em; text-align: center;"> Bouquet Ready </th>
		<th style="border:none;padding-top: 0.5em; text-align: center;"> Printed </th>
		<th style="border:none;padding-top: 0.5em; text-align: center;"> Send Track </th>
		<th style="border:none;padding-top: 0.5em; text-align: center;"> Shipped </th>
		<!--th style="border:none;padding-top: 0.5em;"> Bar Codes</th-->
		<th style="border:none;padding-top: 0.5em;"> Stem Count</th>
	</tr>
    
<?php 

$resource = Mage::getSingleton('core/resource');
$writeConnection = $resource->getConnection('core_write');

if(Mage::getSingleton('core/session')->getProdorder()) {
	
	$prod_order = Mage::getSingleton('core/session')->getProdorder();
	
}

if(Mage::getSingleton('core/session')->getProdSkuu()) {
	$prodSku1 = Mage::getSingleton('core/session')->getProdSkuu();
	//echo $prodSku1; exit;
} 

$prodSku = Mage::getSingleton('core/session')->getProdSku();
if (strpos($prodSku,';') !== false) {
	$exp_prodSku = explode(";",$prodSku);
}

$selDate = Mage::getSingleton('core/session')->getSelDate();
$selDateto = Mage::getSingleton('core/session')->getSelDateTo();
$warehouse = Mage::getSingleton('core/session')->getWarehouse();
if($selDate){
	$date = $selDate;	
	$date = date('Y-m-d H:i:s', strtotime($date));	
	$newDate = date("m/d/Y", strtotime($date));	
}
if($selDateto){
	$dateto = $selDateto;
	$dateto = date('Y-m-d H:i:s', strtotime($dateto));
	$newDateto = date("m/d/Y", strtotime($dateto));
}

//echo $date."///".$dateto; 

if($warehouse && $prod_order){
	$orders = Mage::getModel('sales/order')->getCollection()
        ->addFieldToFilter('created_at', array('from'=>$date, 'to'=>$dateto))
		->addFieldToFilter('assignation_warehouse', $warehouse)
		->addFieldToFilter('increment_id', $prod_order)
		->addFieldToSelect('trading_partner');
}
elseif($prod_order){
	$orders = Mage::getModel('sales/order')->getCollection()
		->addFieldToFilter('increment_id', $prod_order)
		->addFieldToSelect('trading_partner');
}
elseif($warehouse){
	$orders = Mage::getModel('sales/order')->getCollection()
        ->addFieldToFilter('created_at', array('from'=>$date, 'to'=>$dateto))
		->addFieldToFilter('assignation_warehouse', $warehouse)
		->addFieldToSelect('trading_partner');
} elseif($date){
	$orders = Mage::getModel('sales/order')->getCollection()
        ->addFieldToFilter('created_at', array('from'=>$date, 'to'=>$dateto))
		->addFieldToSelect('trading_partner');
} else{
	$orders = Mage::getModel('sales/order')->getCollection()
		->addAttributeToFilter('status', array('in' => array('processing','Processing','bar_code','complete','track_sent','bouquet_ready')))
		->addFieldToSelect('trading_partner');
}
        
$orders->getSelect()
		->columns('GROUP_CONCAT(entity_id) entity_ids')
		->columns('GROUP_CONCAT(status) statusconcat')
        //->columns('COUNT(DISTINCT entity_id) AS countOrder')
		->group('trading_partner');
//$orders->printLogQuery(true);
$orderstotals = Mage::getModel('sales/order')->getCollection()
		->addFieldToSelect('trading_partner');
        
$orderstotals->getSelect()
		->group('trading_partner');

$tot = array();
foreach($orderstotals as $orderstotal) :
		if($orderstotal['trading_partner'] == ""){
			$orderstotal['trading_partner'] = "Kabloom";
		}
		$tot[] = $orderstotal['trading_partner'];
endforeach;

$qty = 0;
$aSku = array(); 
$aName = array(); 
$aprintName = array();
$labsku = array();
$comsku = array();
$bunlabsku = array();
$buncomsku = array();
			
$tp = array();
$error = 0;
$pending = 0;
$complete = 0;
$processing = 0;
$barcode = 0;
$bouquet = 0;
$invoicesent = 0;

$buncnt = 0;
$bunpending = 0;
$buncomplete = 0;
$bunprocessing = 0;
$bunbarcode = 0;
$bunbouquet = 0;
$buninvoicesent = 0;
$ordernum = array();
$printSku = array();
$bunSku = array();
$bunSku1 = array();
$bunName = array();
$bunprintSku = array();
$bunprintSku1 = array();
$bunprintName = array();
$errid = array();
foreach($orders as $order) :
	if($order['trading_partner'] == ""){
		$order['trading_partner'] = "Kabloom";
	}
	if(!$prodSku){
		$statusconcats = explode(',',$order['statusconcat']);
		
		$eSku = explode(',',$order['entity_ids']);
		$countOrder = count($eSku);
		foreach($eSku as $orinc) : 
		
			$orderData = Mage::getModel("sales/order")->load($orinc);
			$statuslabel = Mage::getModel('sales/order')->load($orderData->getId())->getStatus();
			if($statuslabel == "processing" || $statuslabel == "Processing"){
				//echo $orinc;
					$labsku[] = $orinc;
			}
		    if($statuslabel == "complete"){
					$comsku[] = $orinc;
			}
			$upscollections = Mage::getModel('upslabel/upslabel');
			$colls = $upscollections->getCollection()->addFieldToFilter('order_id', $orinc)->addFieldToSelect('statustext');
			//echo $colls[0];
			//$colls->printLogQuery(true);
			foreach ($colls AS $k => $v) {
				//echo $v['statustext'];
				if($v['statustext'] != "SUCCESS" && $v['statustext'] != "Successfully" && $v['statustext'] != "" && $v['statustext'] != "WARNING") :
					$errid[] = $orderData->getIncrementId();
					$error++;
				endif;
			  
			}
			$ordered_items = $orderData->getAllItems();
			foreach($ordered_items as $item) : 
				$product = Mage::getModel('catalog/product')->loadByAttribute('sku', $item->getSku());
				$text = $product->getData('internal_sku');
				if($text) {
					$expbun = explode("-",$text);
	
	 
					$bundled_product = new Mage_Catalog_Model_Product(); 
					$bundleId = $bundled_product->getIdBySku($expbun[0]);
					$store_id = Mage::app()->getStore()->getStoreId();
					$product1 = Mage::getModel('catalog/product')->setStoreId($store_id)->load($bundleId);			
					$options = Mage::getModel('bundle/option')->getResourceCollection()
													  ->setProductIdFilter($bundleId)
													  ->setPositionOrder(); 
					$options->joinValues($store_id);

					$selections = $product1->getTypeInstance(true)
										  ->getSelectionsCollection($product1->getTypeInstance(true)
										  ->getOptionsIds($product1), $product1);
					
					
					
					
					
					foreach ($options->getItems() as $option) {
						$option_id = $option->getId();
						if($option->getDefaultTitle() == "Flowers") { 
							foreach($selections as $selection){ 
								if($option_id == $selection->getOptionId()){
									$selection_id         = $selection->getId();
									$selection_name       = $selection->getName();
									$selection_qty        = $selection->getSelectionQty();
									$selection_sku        = $selection->getSku();
									//echo $prodSku1. "//" .$selection_sku;
									if($prodSku1 == $selection_sku) {
										//echo $buncnt."<br/>";
										$buncnt++;
										
										if($statuslabel == "processing" || $statuslabel == "Processing"){
											$bunprocessing++;
											$bunlabsku[] = $orinc;
										}
										if($statuslabel == "track_sent"){
											$bunpending++;
										}
										if($statuslabel == "complete"){
											$buncomplete++;
											$buncomsku[] = $orinc;
										}
										
										if($statuslabel == "bar_code"){
											$bunbarcode++;
										}
										if($statuslabel == "bouquet_ready"){
											$bunbouquet++;
										}
										
									}
								}
							}
						}
					}
					
					if (($statuslabel == "processing" || $statuslabel == "Processing") && !in_array($item->getSku(), $bunSku1))
					{
					
						$bunSku1[] =  $item->getSku();
						
						foreach ($options->getItems() as $option) {
							$option_id = $option->getId();
							if($option->getDefaultTitle() == "Flowers") { 
								foreach($selections as $selection){ 
									if($option_id == $selection->getOptionId()){
										$selection_id         = $selection->getId();
										$selection_name       = $selection->getName();
										$selection_qty        = $selection->getSelectionQty();
										$selection_sku        = $selection->getSku();
										
										if(!in_array($selection_sku, $bunSku)) {
											$bunSku[$item->getSku()] = $selection_sku;
											$bunName[$item->getSku()] =  $selection_name;
										}
										
									}
								}
							}
						}
					}
					if ($statuslabel == "complete" && !in_array($item->getSku(), $bunprintSku1))
					{
						$bunprintSku1[] =  $item->getSku();		
						
						foreach ($options->getItems() as $option) {
							$option_id = $option->getId();
							if($option->getDefaultTitle() == "Flowers") { 
								foreach($selections as $selection){ 
									if($option_id == $selection->getOptionId()){
										$selection_id         = $selection->getId();
										$selection_name       = $selection->getName();
										$selection_qty        = $selection->getSelectionQty();
										$selection_sku        = $selection->getSku();
										
										if(!in_array($selection_sku, $bunprintSku)) {
											$bunprintSku[$item->getSku()] = $selection_sku;
										}
										if(!in_array($selection_name, $bunprintName)) {
											$bunprintName[$item->getSku()] = $selection_name;
										}
									}
								}
							}
						}
						
					}
				} else {
					if (($statuslabel == "processing" || $statuslabel == "Processing") && !in_array($item->getSku(), $aSku))
					{
						$aSku[] =  $item->getSku();
						if(!in_array($item->getDescription(), $aName)){
							$aName[] =  $item->getDescription();
						}				
					}
					if ($statuslabel == "complete" && !in_array($item->getSku(), $printSku))
					{
						$printSku[] =  $item->getSku();
						if(!in_array($item->getDescription(), $aprintName)){
							$aprintName[] =  $item->getDescription();
						}						
					}
				}
				
			endforeach;
		endforeach;	
		foreach($statusconcats as $statusconcat) : 
			if($statusconcat == "track_sent"){
					$pending++;
			}
			if($statusconcat == "complete"){
					$complete++;
			}
			if($statusconcat == "processing" || $statusconcat == "Processing"){
					$processing++;
			}
			if($statusconcat == "bar_code"){
					$barcode++;
			}
			if($statusconcat == "bouquet_ready"){
					$bouquet++;
			}
			
		endforeach;
		
		
		if (!in_array($order['trading_partner'], $tp))
		{
			$url = str_replace('index.php','',Mage::getBaseUrl('web', true)).'sample.phtml?errid[]='.implode('&amp;errid[]=', array_map('urlencode', $errid));
			
			echo '<a id="button-sendtrack" style="display: none;" target="_blank" href="'.Mage::helper("adminhtml")->getUrl('upslabel/adminhtml_generatetrack/index/')."?type=order&club=1&order_ids[]=".implode('&amp;order_ids[]=', array_map('urlencode', $comsku)).'">Send</a>';
	
			echo '
				<tr ><td style="border:none;">'.$order['trading_partner'].'</td>';
				
			if($buncnt)	{
				$buninvoicesent = $buncnt - ($bunbouquet + $buncomplete + $bunprocessing + $bunbarcode);
				echo '<td style="border:none;text-align: center;"> '.$buncnt.'</td>';
				echo '<td style="border:none;text-align: center;"> <a href="'.Mage::helper("adminhtml")->getUrl('upslabel/adminhtml_autocreatelabel/index/type/order/')."?type=order&order_ids[]=".implode('&amp;order_ids[]=', array_map('urlencode', $bunlabsku)).'" id="mullab1" onclick="return confirm(\'Are you sure?\');">'.$bunprocessing.'</a></td>
					<td style="border:none;text-align: center;"><a href="#" onclick="MyWindow=window.open(\''.$url.'\',\'MyWindow\',\'width=600,height=400\'); return false;" > '.$error.'</a> </td>
					<td style="border:none;text-align: center;"><a target="_blank" href="'.str_replace('index.php','',Mage::getBaseUrl('web', true)).'barcode.phtml?date='.$date.'&trading_partner='.$order['trading_partner'].'&status=bar_code&warehouse='.$warehouse.'" onclick="return confirm(\'Are you sure?\');"> '.$bunbarcode.'</a> </td>
					<td style="border:none;text-align: center;"> '.$bunbouquet.' </td>
					<td style="border:none;text-align: center;"> <a href="'.Mage::helper("adminhtml")->getUrl('upslabel/adminhtml_autocreatelabel/index/type/order/')."?type=order&order_ids[]=".implode('&amp;order_ids[]=', array_map('urlencode', $buncomsku)).'" onclick="return confirm(\'Are you sure?\');">'.$buncomplete.'</a></td>
					<td style="border:none;text-align: center;"> <a href="#" id="club">'.$buncomplete.'</a></td>
					<td style="border:none;text-align: center;"> '.$buninvoicesent.' </td>
					<!--td style="border:none;text-align: center;"> <a href="'.Mage::helper("adminhtml")->getUrl('upslabel/adminhtml_generateinvoice/index/type/order/')."?type=order&ptype=order&order_ids[]=".implode('&amp;order_ids[]=', array_map('urlencode', $bunlabsku)).'" >'.$bunpending.'</a></td-->
					';
				
					echo '<td style="border:none;"> <a target="_blank" href="#" onclick="MyWindow=window.open(\''.str_replace('index.php','',Mage::getBaseUrl('web', true)).'sample.phtml?date='.$date.'&dateto='.$dateto.'&trading_partner='.$order['trading_partner'].'&bunsku='.$prodSku1.'&warehouse='.$warehouse.'&pickup=1\',\'MyWindow\',\'width=600,height=400\'); return false;">Pick Up List</a></td></tr>';
				
			} else{
				$invoicesent = $countOrder - ($bouquet + $complete + $processing + $barcode);
				echo '<td style="border:none;text-align: center;"> '.$countOrder.'</td>';
				echo '<td style="border:none;text-align: center;"> <a href="'.Mage::helper("adminhtml")->getUrl('upslabel/adminhtml_autocreatelabel/index/type/order/')."?type=order&order_ids[]=".implode('&amp;order_ids[]=', array_map('urlencode', $labsku)).'" id="mullab1" onclick="return confirm(\'Are you sure?\');">'.$processing.'</a></td>
					<td style="border:none;text-align: center;"><a href="#" onclick="MyWindow=window.open(\''.$url.'\',\'MyWindow\',\'width=600,height=400\'); return false;" > '.$error.'</a> </td>
					<td style="border:none;text-align: center;"><a target="_blank" href="'.str_replace('index.php','',Mage::getBaseUrl('web', true)).'barcode.phtml?date='.$date.'&trading_partner='.$order['trading_partner'].'&status=bar_code&warehouse='.$warehouse.'" onclick="return confirm(\'Are you sure?\');"> '.$barcode.'</a> </td>
					<td style="border:none;text-align: center;"> '.$bouquet.' </td>
					<td style="border:none;text-align: center;"> <a href="'.Mage::helper("adminhtml")->getUrl('upslabel/adminhtml_autocreatelabel/index/type/order/')."?type=order&order_ids[]=".implode('&amp;order_ids[]=', array_map('urlencode', $comsku)).'" onclick="return confirm(\'Are you sure?\');">'.$complete.'</a></td>
					<td style="border:none;text-align: center;"> <a href="#" id="club">'.$complete.'</a></td>
					<td style="border:none;text-align: center;"> '.$invoicesent.' </td>
					<!--td style="border:none;text-align: center;"> <a href="'.Mage::helper("adminhtml")->getUrl('upslabel/adminhtml_generateinvoice/index/type/order/')."?type=order&ptype=order&order_ids[]=".implode('&amp;order_ids[]=', array_map('urlencode', $comsku)).'" >'.$pending.'</a></td-->
					';
					
				if($prod_order){
					echo '<td style="border:none;"> <a target="_blank" href="#" onclick="MyWindow=window.open(\''.str_replace('index.php','',Mage::getBaseUrl('web', true)).'sample.phtml?date='.$date.'&dateto='.$dateto.'&trading_partner='.$order['trading_partner'].'&warehouse='.$warehouse.'&prod_order='.$prod_order.'&pickup=1\',\'MyWindow\',\'width=600,height=400\'); return false;">Pick Up List</a></td></tr>';
				} else{
					echo '<!--td style="border:none;"> <a target="_blank" href="'.str_replace('index.php','',Mage::getBaseUrl('web', true)).'sample.phtml?date='.$date.'&trading_partner='.$order['trading_partner'].'&warehouse='.$warehouse.'">Print All</a></td-->
					<td style="border:none;"> <a target="_blank" href="#" onclick="MyWindow=window.open(\''.str_replace('index.php','',Mage::getBaseUrl('web', true)).'sample.phtml?date='.$date.'&dateto='.$dateto.'&trading_partner='.$order['trading_partner'].'&warehouse='.$warehouse.'&pickup=1\',\'MyWindow\',\'width=600,height=400\'); return false;">Pick Up List</a></td></tr>';
				}
			}
			
			$processing = 0;
			$pending = 0;
			$complete = 0;
			$barcode = 0;
			$error = 0;
			$bouquet = 0;
			$invoicesent = 0;
			
			$buncnt = 0;
			$bunpending = 0;
			$buncomplete = 0;
			$bunprocessing = 0;
			$bunbarcode = 0;
			$bunbouquet = 0;
			$buninvoicesent = 0;
			$labsku = array();
			$comsku = array();
			$bunlabsku = array();
			$buncomsku = array();
			$errid = array();
		}
	}
	
	if($prodSku) {	
		$eSku = explode(',',$order['entity_ids']);
		foreach($eSku as $orinc) : 
			
			$orderData = Mage::getModel("sales/order")->load($orinc);
			$statuslabel = Mage::getModel('sales/order')->load($orderData->getId())->getStatus();
			
			$upscollections = Mage::getModel('upslabel/upslabel');
			$colls = $upscollections->getCollection()->addFieldToFilter('order_id', $orinc)->addFieldToSelect('statustext');
			
			
			$ordered_items = $orderData->getAllItems();
			foreach($ordered_items as $item) : 
				if($item->getProductType() == 'simple'):
					if($exp_prodSku && in_array($item->getSku(), $exp_prodSku))
					{
						if(!in_array($orderData->getIncrementId(), $ordernum)) {
							if($statuslabel == "track_sent"){
									$pending++;
							}
							if($statuslabel == "complete"){
									$comsku[] = $orinc;
									$complete++;
							}
							if($statuslabel == "processing" || $statuslabel == "Processing"){
									$labsku[] = $orinc;
									$processing++;
							}
							if($statusconcat == "bar_code"){
									$barcode++;
							}
							if($statusconcat == "bouquet_ready"){
									$bouquet++;
							}
							$ordernum[] = $orderData->getIncrementId();
							$qty++;
						}
						
					}
					elseif($prodSku == $item->getSku())
					{
						foreach ($colls AS $k => $v) {
				
							if($v['statustext'] != "SUCCESS" && $v['statustext'] != "Successfully" && $v['statustext'] != "" && $v['statustext'] != "WARNING") :
								$errid[] = $orderData->getIncrementId();
								$error++;
							endif;
						  
						}
						if(!in_array($orderData->getIncrementId(), $ordernum)) {
							if($statuslabel == "track_sent"){
									$pending++;
							}
							if($statuslabel == "complete"){
									$comsku[] = $orinc;
									$complete++;
							}
							if($statuslabel == "processing" || $statuslabel == "Processing"){
									$labsku[] = $orinc;
									$processing++;
							}
							if($statusconcat == "bar_code"){
									$barcode++;
							}
							$ordernum[] = $orderData->getIncrementId();
							$qty++;
						}
						
					}
					$product = Mage::getModel('catalog/product')->loadByAttribute('sku', $item->getSku());
					$text = $product->getData('internal_sku');
					if($text) {
						$expbun = explode("-",$text);
		
		 
						$bundled_product = new Mage_Catalog_Model_Product(); 
						$bundleId = $bundled_product->getIdBySku($expbun[0]);
						$store_id = Mage::app()->getStore()->getStoreId();
						$product1 = Mage::getModel('catalog/product')->setStoreId($store_id)->load($bundleId);			
						$options = Mage::getModel('bundle/option')->getResourceCollection()
														  ->setProductIdFilter($bundleId)
														  ->setPositionOrder(); 
						$options->joinValues($store_id);

						$selections = $product1->getTypeInstance(true)
											  ->getSelectionsCollection($product1->getTypeInstance(true)
											  ->getOptionsIds($product1), $product1);
											  
						if (!in_array($item->getSku(), $bunSku1))
						{
						
							$bunSku1[] =  $item->getSku();
							
							foreach ($options->getItems() as $option) {
								$option_id = $option->getId();
								if($option->getDefaultTitle() == "Flowers") { 
									foreach($selections as $selection){ 
										if($option_id == $selection->getOptionId()){
											$selection_id         = $selection->getId();
											$selection_name       = $selection->getName();
											$selection_qty        = $selection->getSelectionQty();
											$selection_sku        = $selection->getSku();
											
											if(!in_array($selection_sku, $bunSku)) {
												$bunSku[$item->getSku()] = $selection_sku;
												$bunName[$item->getSku()] =  $selection_name;
											}
											
										}
									}
								}
							}
						}
						if ($statuslabel == "complete" && !in_array($item->getSku(), $bunprintSku1))
						{
							$bunprintSku1[] =  $item->getSku();		
							
							foreach ($options->getItems() as $option) {
								$option_id = $option->getId();
								if($option->getDefaultTitle() == "Flowers") { 
									foreach($selections as $selection){ 
										if($option_id == $selection->getOptionId()){
											$selection_id         = $selection->getId();
											$selection_name       = $selection->getName();
											$selection_qty        = $selection->getSelectionQty();
											$selection_sku        = $selection->getSku();
											
											if(!in_array($selection_sku, $bunprintSku)) {
												$bunprintSku[$item->getSku()] = $selection_sku;
											}
											if(!in_array($selection_name, $bunprintName)) {
												$bunprintName[$item->getSku()] = $selection_name;
											}
										}
									}
								}
							}
							
						}
					} else {
						if (($statuslabel == "processing" || $statuslabel == "Processing") && !in_array($item->getSku(), $aSku))
						{
							$aSku[] =  $item->getSku();
							if(!in_array($item->getDescription(), $aName)){
								$aName[] =  $item->getDescription();
							}					
						}
						if ($statuslabel == "complete" && !in_array($item->getSku(), $printSku))
						{
							$printSku[] =  $item->getSku();
							if(!in_array($item->getDescription(), $aprintName)){
								$aprintName[] =  $item->getDescription();
							}				
						}
					}
				endif;
			endforeach;					
		endforeach;
	}
	if ($prodSku && !in_array($order['trading_partner'], $tp))
			{
				
				$url = str_replace('index.php','',Mage::getBaseUrl('web', true)).'sample.phtml?errid[]='.implode('&amp;errid[]=', array_map('urlencode', $errid));
				echo '<a id="button-sendtrack" style="display: none;" target="_blank" href="'.Mage::helper("adminhtml")->getUrl('upslabel/adminhtml_generatetrack/index/')."?type=order&club=1&order_ids[]=".implode('&amp;order_ids[]=', array_map('urlencode', $comsku)).'">Send</a>';
				$invoicesent = $qty - ($bouquet + $complete + $processing + $barcode);
				echo '
					<tr >
					<td style="border:none;">'.$order['trading_partner'].'</td>
					
				<td style="border:none;text-align: center;"> '.$qty.'</td>
				<td style="border:none;text-align: center;"> <a href="'.Mage::helper("adminhtml")->getUrl('upslabel/adminhtml_autocreatelabel/index/type/order/')."?type=order&order_ids[]=".implode('&amp;order_ids[]=', array_map('urlencode', $labsku)).'" id="mullab1" onclick="return confirm(\'Are you sure?\');">'.$processing.'</a></td>
				<td style="border:none;text-align: center;"><a href="#" onclick="MyWindow=window.open(\''.$url.'\',\'MyWindow\',\'width=600,height=400\'); return false;" > '.$error.'</a> </td>
				<td style="border:none;text-align: center;"><a target="_blank" href="'.str_replace('index.php','',Mage::getBaseUrl('web', true)).'barcode.phtml?date='.$date.'&trading_partner='.$order['trading_partner'].'&status=bar_code&warehouse='.$warehouse.'&sku='.$prodSku.'" onclick="return confirm(\'Are you sure?\');"> '.$barcode.'</a> </td>
				<td style="border:none;text-align: center;"> '.$bouquet.' </td>
				<td style="border:none;text-align: center;"> <a href="'.Mage::helper("adminhtml")->getUrl('upslabel/adminhtml_autocreatelabel/index/type/order/')."?type=order&order_ids[]=".implode('&amp;order_ids[]=', array_map('urlencode', $comsku)).'" onclick="return confirm(\'Are you sure?\');">'.$complete.'</a></td>
				<td style="border:none;text-align: center;"> <a href="#" id="club">'.$complete.'</a></td>
				<td style="border:none;text-align: center;"> '.$invoicesent.'</td>
				<!--td style="border:none;"> <a target="_blank" href="'.str_replace('index.php','',Mage::getBaseUrl('web', true)).'sample.phtml?date='.$date.'&trading_partner='.$order['trading_partner'].'&warehouse='.$warehouse.'&sku='.$prodSku.'">Print All</a></td-->
				<td style="border:none;"> <a target="_blank" href="'.str_replace('index.php','',Mage::getBaseUrl('web', true)).'sample.phtml?date='.$date.'&dateto='.$dateto.'&trading_partner='.$order['trading_partner'].'&warehouse='.$warehouse.'&pickup=1&sku='.$prodSku.'">Pick Up List</a></td></tr>';
				$qty = 0;
				$pending = 0;
				$complete = 0;
				$processing = 0;
				$barcode = 0;
				$error = 0;
				$bouquet = 0;
				$labsku = array();
				$comsku = array();
				$errid = array();
			}
	$tp[] =  $order['trading_partner'];		
endforeach;

$diffs = array_udiff($tot,$tp, 'strcasecmp');
foreach($diffs as $diff) : 

		echo '
				<tr><td style="border:none;">'.$diff.'</td>
				
			<td style="border:none;text-align: center;"> 0</td>
			<td style="border:none;text-align: center;"> 0</td>
			<td style="border:none;text-align: center;"> 0</td>
			<td style="border:none;text-align: center;"> 0</td>
			<td style="border:none;text-align: center;"> 0</td>
			<td style="border:none;text-align: center;"> 0</td>
			<td style="border:none;text-align: center;"> 0</td>
			<td style="border:none;text-align: center;"> 0</td>
			<!--td style="border:none;"> <a href="#">Print All</a></td-->
			<td style="border:none;"> <a href="#">Pick Up List</a></td></tr>';
		
endforeach;
		
/**/
?>
<script>
var jq = $.noConflict();
jq(function() {
	    var availableTutorials = <?php echo json_encode($aSku); ?>;
		
		jq( "#automplete-1" ).autocomplete({
		   minLength:2,
		   source: availableTutorials,
		   messages: {
				noResults: '',
				results: function() {}
			}
		});
	 });
</script>
      </tbody>
	</table>
	
  </td style="border:none;">
  <td style="border:none;width: 40%;float:left;padding: 1em;">

 <table cellspacing="0" style=" width:100%;" >
 <form name="test-form" id="my-custom-form" action="<?php echo Mage::getBaseUrl().'admin_picklist/adminhtml_picklistbackend/filter/'; ?>" method="post">  
 <tbody style="border: 1px solid hsl(0, 0%, 90%);float: left;height: 260px;width: 53%;">
    <tr style=" background: hsl(195, 14%, 50%) none repeat scroll 0 0;color: hsl(0, 0%, 100%);" >
     <th colspan="2" style="border:none; text-align:center;"><p style="padding-top: 0.3em;" > Filter By </p></th>
    </tr>
	<tr >
     <td style="border:none;float: left; width: 45%;padding-bottom: 0.5em;  padding-left: 0.5em; font-weight: bold; 
	 padding-top: 0.8em;"> From Date </td>
	 <td style="border:none;float: left; width: 50%;padding-bottom: 0.5em; padding-top: 0.8em;">
	 <input type="text" name="date" id="f_date_b" value="<?php echo $newDate; ?>"/> </td>
	 
	 <td style="border:none;float: left; width: 45%;padding-bottom: 0.5em;  padding-left: 0.5em; font-weight: bold; 
	 padding-top: 0.8em;"> To Date </td>
	 <td style="border:none;float: left; width: 50%;padding-bottom: 0.5em; padding-top: 0.8em;">
	 <input type="text" name="dateto" id="f_date_to" value="<?php echo $newDateto; ?>"/> </td>
    </tr>
	   

<tr >
     <td style="border:none;float: left; width: 45%;padding-bottom: 0.5em; padding-left: 0.5em;font-weight: bold;
	  padding-top: 0.8em;"> SKU </td>  

<td style="border:none;float: left; width: 50%;padding-bottom: 0.5em; padding-top: 0.8em;"> 
<input type="text" name="prod_sku" id="automplete-1" value="<?php echo $prodSku; ?>"/></td>

<?php
$warehouse_names = Mage::getModel('pointofsale/pointofsale')->getCollection()->addFieldToSelect('place_id')->addFieldToSelect('name');
//$warehouse_names->printLogQuery(true);
echo '<td style="border:none;float: left; width: 45%;padding-bottom: 0.5em; font-weight: bold;  padding-left: 0.5em;
 padding-top: 0.8em;">Warehouse</td>
<td style="border:none;float: left;width: 49%;padding-bottom: 0.5em; padding-top: 0.8em;">
<select style="padding-right: 1.7em;" name="warehouse">';
echo '<option value="">Please Select</option>';
foreach($warehouse_names as $warehouse_name) : 
echo '<option value="'.$warehouse_name['place_id'].'"'; 
if($warehouse_name['place_id'] == $warehouse) {
	echo 'selected';
}
echo '>'.$warehouse_name['name'].'</option>';
endforeach;	
echo '</select></td>';			  
?>
<td style=" border: medium none; padding-top: 3.4%; width: 12%; padding-left: 5em; padding-right: 5px;"><div class="listsku"><button type="button" id="blist">List</button> </td>
</tr><tr><td style="border:none;float: left; width: 45%;padding-bottom: 0.5em; padding-left: 0.5em;font-weight: bold;
	  padding-top: 0.8em;"> Order Id </td> 
<td style="border:none;float: left; width: 50%;padding-bottom: 0.5em; padding-top: 0.8em;"> 
<input type="text" name="prod_order" id="" value=""/> </td></tr>
<tr >
     <td style="border:none;float: left; width: 45%;padding-bottom: 0.5em; padding-left: 0.5em;font-weight: bold;
	  padding-top: 0.8em;"> Bundle Stems </td>  

<td style="border:none;float: left; width: 50%;padding-bottom: 0.5em; padding-top: 0.8em;"> 
<input type="text" name="prod_sku1" id="automplete-2" value="<?php echo $prodSku1; ?>"/> </td>

<td style=" border: medium none; padding-top: 3.4%; width: 12%; padding-left: 5em; padding-right: 5px;"><div class="listsku"><button type="button" id="bundlelist">List</button> </td>
<input type="hidden" name="sel_date" id="sel_date" value="<?php echo $date; ?>"/>
<input type="hidden" name="sel_dateto" id="sel_dateto" value="<?php echo $dateto; ?>"/>
<input type="hidden" id="form_key" name="form_key" value="<?php echo Mage::getSingleton('core/session')->getFormKey(); ?>" /> </td> </tr>

<tr > <td style="border:none; text-align: right; padding: 0.5em 0px;">
 <input type="submit" name="submit" value="<?php echo $this->__('Submit') ?>" class="form-button" />


 </div>
</td>
    </tr></tbody>
	<tbody id="listtbody" style="width:45%; float: left;display: inline-block;height: 261px;overflow: auto;text-align:center; white-space: nowrap;">
	<tr><td style="border:none;"><span id="list" style="display:none;
	font-weight: bold; ">
	  <input type="button" id="processed1" value="Processing SKU" class="form-button">
		<input type="button" id="processed2" value="Printed SKU" class="form-button">
	<script>
jQuery(document).ready(function(){
    jQuery("#processed1").click(function(){
		jQuery(".forget_it1").slideUp();
        jQuery(".forget_it").toggle();
    });
	jQuery("#processed2").click(function(){
		jQuery(".forget_it").slideUp();
        jQuery(".forget_it1").toggle();
    });
});

</script>
	
	<ul class="forget_it" id="ulist" style="display:none;" ><li><b>List of All Skus</b></li>
	<?php 
	foreach($aSku as $aSkuli) :
		if($exp_prodSku && in_array($aSkuli, $exp_prodSku)) {
			echo '<li><input style="margin-right:5px;" type="checkbox" name="'.$aSkuli.'" value="'.$aSkuli.'" checked>'.$aSkuli.'</li>';
		} else {
			echo '<li><input style="margin-right:5px;" type="checkbox" name="'.$aSkuli.'" value="'.$aSkuli.'">'.$aSkuli.'</li>';
		}	
		
	endforeach;
	
	?>
	</ul>
	
	<ul class="forget_it" style="display:none;margin-left:0;" >
	<li>List of All Names</li>
	<?php
	foreach($aName as $aNameli) : 
		echo '<li>'.$aNameli.'</li>';
	endforeach;
	?>
	</ul>
	
	
	<ul style="display:none;" class="forget_it1" id="plist"><li>Printed SKU</li>
	<?php
	foreach($printSku as $printSkuli) :
		if($exp_prodSku && in_array($printSkuli, $exp_prodSku)) {
			echo '<li><input style="margin-right:5px;" type="checkbox" name="'.$printSkuli.'" value="'.$printSkuli.'" checked>'.$printSkuli.'</li>';
		} else {
			echo '<li><input style="margin-right:5px;" type="checkbox" name="'.$printSkuli.'" value="'.$printSkuli.'">'.$printSkuli.'</li>';
		}	
		
	endforeach;
	?>
	</ul>
	<ul class="forget_it1" style="display:none;" >
	<li>List of All Names</li>
	<?php
	foreach($aprintName as $aprintNameli) : 
		echo '<li>'.$aprintNameli.'</li>';
	endforeach;
	?>
	</ul>
	
	</span></td></tr></tbody>
	
	<tbody id="listbuntbody" style="width:45%; float: left;display: inline-block;height: 261px;overflow: auto;text-align:center; 
	white-space: nowrap;">
	<tr><td style="border:none;"><span id="listbun" style="display:none;
	font-weight: bold; ">
	  <input type="button" id="processed3" value="Processing SKU" class="form-button">
		<input type="button" id="processed4" value="Printed SKU" class="form-button">
		
<script>
jQuery(document).ready(function(){
    jQuery("#processed3").click(function(){
		jQuery(".forget_it1_bun").slideUp();
        jQuery(".forget_it_bun").toggle();
    });
	jQuery("#processed4").click(function(){
		jQuery(".forget_it_bun").slideUp();
        jQuery(".forget_it1_bun").toggle();
    });
});

</script>

	<ul class="forget_it_bun" id="bunulist" style="display:none;" ><li><b>List of All Skus</b></li>
	<?php 
	foreach($bunSku as $key => $value) :
		if($exp_prodSku && in_array($value, $exp_prodSku)) {
			echo '<li><input style="margin-right:5px;" type="checkbox" name="'.$key.'" value="'.$key.'" checked>'.$value.'</li>';
		} else {
			echo '<li><input style="margin-right:5px;" type="checkbox" name="'.$value.'" value="'.$value.'">'.$value.'</li>';
		}	
		
	endforeach;
	
	?>
	</ul>
	
	<ul class="forget_it_bun" style="display:none;margin-left:0;" >
	<li>List of All Names</li>
	<?php
	foreach($bunName as $bunaNameli) : 
		echo '<li>'.$bunaNameli.'</li>';
	endforeach;
	?>
	</ul>
	
	
	<ul style="display:none;" class="forget_it1_bun" id="bunplist"><li>Printed SKU</li>
	<?php
	//echo count($bunprintSku);
	foreach($bunprintSku as $key => $value) :
		if($exp_prodSku && in_array($value, $exp_prodSku)) {
			echo '<li><input style="margin-right:5px;" type="checkbox" name="'.$key.'" value="'.$key.'" checked>'.$value.'</li>';
		} else {
			echo '<li><input style="margin-right:5px;" type="checkbox" name="'.$value.'" value="'.$value.'">'.$value.'</li>';
		}	
		
	endforeach;
	?>
	</ul>
	<ul class="forget_it1_bun" style="display:none;" >
	<li>List of All Names</li>
	<?php
	//echo count($bunprintName);
	foreach($bunprintName as $bunprintaNameli) : 
		echo '<li>'.$bunprintaNameli.'</li>';
	endforeach;
	?>
	</ul>
	
	
	</span></td></tr></tbody>
	
	
	</form>
</table>

  </td>
 </tr>
 <tr><td style="text-align: center; padding-bottom: 1em;" >
 <button type="button" onclick="location.href='<?php echo Mage::helper("adminhtml")->getUrl('admin_picklist/adminhtml_picklistscanbackend/index/'); ?>';" >Go to Scan</button>
 <button type="button" onclick="location.href='<?php echo Mage::helper("adminhtml")->getUrl('admin_picklist/adminhtml_picklistbackend/index/'); ?>';" >Reset</button>
 </td></tr>
</table>

<script type="text/javascript"> 
   jq('#club').click(function() {
	   if (confirm('Are you sure?')) {
		//alert('hi');	   
		document.getElementById("button-sendtrack").click();
		//document.getElementById("button-sendinvoice").click();
	   }
	});
   jq("#ulist li input:checkbox,#plist li input:checkbox").change(function() {
		var ischecked= jq(this).is(':checked');
		if(ischecked){
			var input = jq( "#automplete-1" );
			if( jq("#automplete-1").val().length === 0 ) {
				input.val( jq(this).val() );
				
			} else{
				input.val( input.val() + ';' + jq(this).val() );
			}
		}
		if(!ischecked)
		  jq("#automplete-1").val(jq("#automplete-1").val().replace(';' + jq(this).val(), ""));
		  //alert('uncheckd ' + jq(this).val());
	}); 
	

	jq("#bunulist li input:checkbox,#bunplist li input:checkbox").change(function() {
		var ischecked= jq(this).is(':checked');
		if(ischecked){
			var input = jq( "#automplete-2" );
			if( jq("#automplete-2").val().length === 0 ) {
				input.val( jq(this).val() );
				
			} else{
				input.val( input.val() + ';' + jq(this).val() );
			}
		}
		if(!ischecked)
		  jq("#automplete-2").val(jq("#automplete-2").val().replace(';' + jq(this).val(), ""));
		  //alert('uncheckd ' + jq(this).val());
	});
	
   jq("#blist").click(function(){
        jq("#listtbody").show();
		jq("#list").show();
		jq("#listbuntbody").hide();
		jq("#listbun").hide();
    });

	jq("#bundlelist").click(function(){
        jq("#listbuntbody").show();
		jq("#listbun").show();
		jq("#listtbody").hide();
		jq("#list").hide();
		
    });
  function dateChanged(calendar) {
    if (calendar.dateClicked) {
	  jQuery("#automplete-1").val("");
	  jQuery("#automplete-2").val("");
      var y = calendar.date.getFullYear();
      var m = parseInt(calendar.date.getMonth()) + 1;     // integer, 0..11
      var d = calendar.date.getDate();      // integer, 1..31
      // redirect...
	  console.log(y + "-" + m + "-" + d);
      if ( m < 10 ) {
            m = "0" + m;
        } 
	  if ( d < 10 ) {
			d = "0" + d;
		} 
	  var selectedDate = y + "-" + m + "-" + d;
	  var Date = m + "/" + d + "/" + y;
	  console.log(selectedDate);
	  var key = jq("#form_key").val();
	  jq("#sel_date").val(selectedDate);
	  jq("#f_date_b").val(Date);
	  jq(".calendar").hide();
	  
    }
  };
  Calendar.setup({
		inputField     :    "f_date_b",           //*
		ifFormat       :    "%m/%d/%Y %I:%M %p",
		showsTime      :    false,
		button         :    "f_trigger_b",        //*
		step           :    1,
		onSelect       :    dateChanged,
		disableFunc: function(date)  {
                    var now= new Date();
                    if(date.getFullYear()   >   now.getFullYear())  { return true; }
                    if(date.getFullYear()   ==  now.getFullYear())  { if(date.getMonth()    >   now.getMonth()) { return true; } }
                    if(date.getMonth()      ==  now.getMonth())     { if(date.getDate()     >   now.getDate())  { return true; } }
                },
	});

	
	
	function dateChangedto(calendar) {
    if (calendar.dateClicked) {
	  jQuery("#automplete-1").val("");
	  jQuery("#automplete-2").val("");
      var y = calendar.date.getFullYear();
      var m = parseInt(calendar.date.getMonth()) + 1;     // integer, 0..11
      var d = calendar.date.getDate();      // integer, 1..31
      // redirect...
	  console.log(y + "-" + m + "-" + d);
      if ( m < 10 ) {
            m = "0" + m;
        } 
	  if ( d < 10 ) {
			d = "0" + d;
		} 
	  var selectedDateto = y + "-" + m + "-" + d;
	  var Dateto = m + "/" + d + "/" + y;
	  //console.log(selectedDateto+"to");
	  var key = jq("#form_key").val();
	  jq("#sel_dateto").val(selectedDateto);
	  jq("#f_date_to").val(Dateto);
	  jq(".calendar").hide();
	  
    }
  };
  
  
  Calendar.setup({
		inputField     :    "f_date_to",           //*
		ifFormat       :    "%m/%d/%Y %I:%M %p",
		showsTime      :    false,
		button         :    "f_trigger_b",        //*
		step           :    1,
		onSelect       :    dateChangedto,
		disableFunc: function(date)  {
                    var now= new Date();
                    if(date.getFullYear()   >   now.getFullYear())  { return true; }
                    if(date.getFullYear()   ==  now.getFullYear())  { if(date.getMonth()    >   now.getMonth()) { return true; } }
                    if(date.getMonth()      ==  now.getMonth())     { if(date.getDate()     >   now.getDate())  { return true; } }
                },
	});
</script>
<?php 
Mage::getSingleton('core/session')->unsProdSku();
Mage::getSingleton('core/session')->unsSelDate();
Mage::getSingleton('core/session')->unsSelDateTo();
Mage::getSingleton('core/session')->unsProdSkuu();
Mage::getSingleton('core/session')->unsProdorder();
?>
