.small-button a {letter-spacing:1px;color:#fff !important;padding:15px 40px !important;line-height:50px;}
.small-button a:hover{text-decoration:underline;}

.background-box {float:left;width:500px;height:320px;background:rgba(255,255,255,0.05);}