<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Helpdesk3
 * @version    3.3.2
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php /** @var AW_Helpdesk3_Block_Customer_Ticket_ViewContainer $this */?>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<div class="awhdu3-ticket-view-col2-set">
    <div class="awhdu3-ticket-view-col-1">
        <?php echo $this->getChildHtml('ticket.view.info');?>
    </div>
</div>
<?php echo $this->getChildHtml('ticket.view.action');?>
<?php echo $this->getChildHtml('ticket.view.thread');?>
