<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Helpdesk3
 * @version    3.3.2
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><header id="breadcrumbs" class="page-header">
    <?php if($this->getBackLinkFlag()):?>
        <?php $backLink = $this->getUrl('helpdesk/customer/index');?>
        <a href="<?php echo $backLink;?>" class="page-header__action page-header__action--left page-header__action--back"></a>
    <?php endif;?>
    <h1 id="breadcrumbs_page_title" class="page-header__title"><?php echo $this->getPageTitle() ?></h1>
</header>
<script type="text/javascript">
    setTitleMargin($('breadcrumbs_page_title'));
</script>