.calendar{position:relative;display:none;border-top:1px solid #cdcdcd;border-right:1px solid #cdcdcd;border-bottom:1px solid #cdcdcd;border-left:1px solid #cdcdcd;font-size:12px;color:#333333;cursor:default;background:#FFFFFF;font-family:tahoma,verdana,sans-serif;z-index:999;}
.calendar table{border-top:1px solid #cdcdcd;border-right:1px solid #cdcdcd;border-bottom:1px solid #cdcdcd;border-left:1px solid #cdcdcd;font-size:12px;color:#333333;cursor:default;background:#FFFFFF;font-family:tahoma,verdana,sans-serif;}
.calendar .button{text-align:center;padding:1px;border-top:1px solid #fff;border-right:1px solid #cdcdcd;border-bottom:1px solid #cdcdcd;border-left:1px solid #fff;background-color:#f0f0f0;}
.calendar .nav{background:transparent url(menuarrow.gif) no-repeat 100% 100%;background-color:#f0f0f0;}
.calendar thead .title{font-weight:bold;padding:1px;border:1px solid #cdcdcd;background:#f0f0f0;color:#333;text-align:center;}
.calendar thead .headrow{}
.calendar thead .daynames{}
.calendar thead .name{border-bottom:1px solid #cdcdcd;padding:2px;text-align:center;background:#FFFFFF;}
.calendar thead .weekend{color:#fb704f;}
.calendar thead .hilite{border-top:2px solid #fff;border-right:2px solid #cdcdcd;border-bottom:2px solid #cdcdcd;border-left:2px solid #fff;padding:0px;background-color:#FFFFFF;}
.calendar thead .active{padding:2px 0px 0px 2px;border-top:1px solid #cdcdcd;border-right:1px solid #fff;border-bottom:1px solid #fff;border-left:1px solid #cdcdcd;background-color:#c4c0b8;}
.calendar tbody .day{width:2em;text-align:right;padding:2px 4px 2px 2px;}
.calendar tbody .day.othermonth{font-size:80%;color:#aaa;}
.calendar tbody .day.othermonth.oweekend{color:#faa;}
.calendar table .wn{padding:2px 3px 2px 2px;border-right:1px solid #cdcdcd;background:#FFFFFF;}
.calendar tbody .rowhilite td{background:#FFFFFF;}
.calendar tbody .rowhilite td.wn{background:#FFFFFF;}
.calendar tbody td.hilite{padding:1px 3px 1px 1px;border-top:1px solid #fff;border-right:1px solid #cdcdcd;border-bottom:1px solid #cdcdcd;border-left:1px solid #fff;}
.calendar tbody td.active{padding:2px 2px 0px 2px;border-top:1px solid #cdcdcd;border-right:1px solid #fff;border-bottom:1px solid #fff;border-left:1px solid #cdcdcd;}
.calendar tbody td.selected{font-weight:bold;border-top:1px solid #cdcdcd;border-right:1px solid #fff;border-bottom:1px solid #fff;border-left:1px solid #cdcdcd;padding:2px 2px 0px 2px;background:#FFFFFF;}
.calendar tbody td.weekend{color:#fb704f;}
.calendar tbody td.today{font-weight:bold;color:#00f;}
.calendar tbody .disabled{color:#999;}
.calendar tbody .emptycell{visibility:hidden;}
.calendar tbody .emptyrow{display:none;}
.calendar tfoot .footrow{}
.calendar tfoot .ttip{background:#FFFFFF;padding:1px;border:1px solid #cdcdcd;background:#f0f0f0;color:#333;text-align:center;}
.calendar tfoot .hilite{border-top:1px solid #fff;border-right:1px solid #cdcdcd;border-bottom:1px solid #cdcdcd;border-left:1px solid #fff;padding:1px;background:#FFFFFF;}
.calendar tfoot .active{padding:2px 0px 0px 2px;border-top:1px solid #cdcdcd;border-right:1px solid #fff;border-bottom:1px solid #fff;border-left:1px solid #cdcdcd;}
.calendar .combo{position:absolute;display:none;width:4em;top:0px;left:0px;cursor:default;border-top:1px solid #fff;border-right:1px solid #cdcdcd;border-bottom:1px solid #cdcdcd;border-left:1px solid #fff;background:#FFFFFF;font-size:90%;padding:1px;z-index:100;}
.calendar .combo .label,
.calendar .combo .label-IEfix{text-align:center;padding:1px;}
.calendar .combo .label-IEfix{width:4em;}
.calendar .combo .active{background:#c4c0b8;padding:0px;border-top:1px solid #cdcdcd;border-right:1px solid #fff;border-bottom:1px solid #fff;border-left:1px solid #cdcdcd;}
.calendar .combo .hilite{background:#048;color:#fea;}
.calendar td.time{border-top:1px solid #333333;padding:1px 0px;text-align:center;background-color:#FFFFFF;}
.calendar td.time .hour,
.calendar td.time .minute,
.calendar td.time .ampm{padding:0px 3px 0px 4px;border:1px solid #889;font-weight:bold;background-color:#fff;}
.calendar td.time .ampm{text-align:center;}
.calendar td.time .colon{padding:0px 2px 0px 3px;font-weight:bold;}
.calendar td.time span.hilite{border-color:#333333;background-color:#766;color:#fff;}
.calendar td.time span.active{border-color:#fb704f;background-color:#333333;color:#0f0;}