<?php
$_social_config = Mage::getStoreConfig('milanoconfig/social');
?>
<div class="footer-container">
    <div class="footer-menu-container">
        <?php echo $this->getChildHtml('bottomContainer') ?>
        <div class="f-left footer-left">
            <div class="footer-menu"><?php echo $this->getChildHtml('footer_menu'); ?></div>
           
        </div>
          <?php if($_footer_social = $this->getChildHtml('footer_social')): ?><div class="follow-us" style="display: block!important;"><?php echo $_footer_social; ?></div><?php endif; ?>
        <?php if($_footer_payment_options = $this->getChildHtml('footer_payment_options')): ?><div class="payment-options"><?php echo $_footer_payment_options; ?></div><?php endif; ?>
        <?php if($_verified_by = $this->getChildHtml('verified_by')): ?><div class="verified-by"><?php echo $_verified_by; ?></div><?php endif; ?>
        <div class="clear"></div>
    </div>  
</div>
<div class="footer-last-container">
    <div class="footer-last">
        <div class="f-left">
			<?php echo $this->getChildHtml('cms_footer_links'); ?>
            <?php //echo $this->getChildHtml('footer_links'); ?>
        </div>
        <div class="f-right">
        	<?php echo $this->getCopyright(); ?>
        </div>
    </div>
</div>
<?php if(Mage::getStoreConfig('milanoconfig/generaloptions/topbtn') == 1): ?><div id="message"><a href="#top" id="top-link">&nbsp;</a></div><?php endif; ?>