<div id="top"></div>
<div class="header-container">
    <div class="header-small-container">
        <div class="header">
            <div class="header-left-small">
                <?php echo $this->getChildHtml('store_switcher') ?>
                <?php echo $this->getChildHtml('store_language') ?>
                <?php echo $this->getChildHtml('currency') ?>
                <div class="cms-header-links"><?php echo $this->getChildHtml('cms_header_links') ?></div>
            </div>
            <div class="header-right-small">
                <div class="header-item"> 
					<span class="welcome-msg"><?php echo $this->getWelcome() ?>&nbsp; &nbsp; </span>
			    </div>
				<div class="header-item header-login">
				 
<ul>
<?php if($this->helper('customer')->isLoggedIn()) {?><li><a href="<?php echo Mage::getBaseUrl()?>customer/account/index">My Account</a></li?<li class="last"><a href="<?php echo Mage::getBaseUrl()?>customer/account/logout">Logout</a></li><?php }else{ ?><li><a href="<?php echo Mage::getBaseUrl()?>customer/account/login">Login</a></li><li class="last"><a href="<?php echo Mage::getBaseUrl()?>customer/account/create">Register</a></li><?php }?>&nbsp; <span class="login-img"></span></ul>
				</div>
				<div class="header-item">
				<?php echo $this->getChildHtml('top_cart') ?>
				</div>
            </div>
        </div>
    </div>
    <div class="header-main-container">
        <div class="header">
			 <div class="header-left">
            <div class="header-center header-logo">
                <?php if ($this->getIsHomePage()): ?>
                    <a href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>" class="logo"><h1><strong><?php echo Mage::getStoreConfig('general/store_information/name') ?></strong></h1><img src="<?php echo Mage::registry('themeMediaUrl') . Mage::getStoreConfig('milanoconfig/generaloptions/logo'); ?>" alt="<?php echo $this->getLogoAlt() ?>" /></a>
                <?php else: ?>
                    <a href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>" class="logo"><h2><strong><?php echo Mage::getStoreConfig('general/store_information/name') ?></strong></h2><img src="<?php echo Mage::registry('themeMediaUrl') . Mage::getStoreConfig('milanoconfig/generaloptions/logo'); ?>" alt="<?php echo $this->getLogoAlt() ?>" /></a>
                <?php endif ?>
            </div></div>
		  <div class="header-right">
			<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('same-day-delivery')->toHtml(); ?>
            <?php //echo $this->getChildHtml('header_menu') ?>
                <?php echo $this->getChildHtml('top_compare') ?>
                <?php echo $this->getChildHtml('topLinks') ?>
                <div class="header-menu mobile"><?php echo $this->getChildHtml('header_menu') ?></div>
                <?php echo $this->getChildHtml('topSearch') ?>
				    
            </div>
        </div>
    </div>
    <?php echo $this->getChildHtml('topMenu'); ?>
    <div class="header-promo-container">
        <div class="header">
            <?php echo $this->getChildHtml('header_promo') ?>
        </div>
    </div>
    <?php echo $this->getChildHtml('topBread'); ?>
    <?php echo $this->getChildHtml('topContainer'); ?>
</div>