<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Helpdesk3
 * @version    3.3.2
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php /** @var AW_Helpdesk3_Block_Customer_TicketList $this */?>
<?php if ($this->getCollection()->getSize()): ?>
    <div class="awhdu3-ticket-list-table-container">
        <?php echo $this->getToolbarHtml() ?>
        <table class="data-table box-table" id="awhdu3-ticket-list-table" cellspacing="0">
            <col width="200"/>
            <col width="150"/>
            <col width="60"/>
            <thead>
                <tr>
                    <th><?php echo $this->__('Subject') ?></th>
                    <th><?php echo $this->__('Department') ?></th>
                    <th><?php echo $this->__('Status') ?></th>
                </tr>
            </thead>
            <tbody>
            <?php foreach ($this->getCollection() as $ticket): ?>
                <? /** @var AW_Helpdesk3_Model_Ticket $ticket */ ?>
                <tr>
                    <td title="<?php echo $this->escapeHtml($ticket->getSubject());?>">
                        <a href="<?php echo $this->getUrlToTicketView($ticket)?>"><?php echo $this->getTruncatedTicketSubject($ticket, 55);?></a>
                    </td>
                    <td><?php echo $ticket->getDepartment()->getTitle() ?></td>
                    <td><?php echo $this->getTicketStatusLabel($ticket) ?></td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
        <script type="text/javascript">decorateTable('awhdu3-ticket-list-table')</script>
        <?php echo $this->getToolbarHtml() ?>
        <div style="clear:both"></div>
    </div>
<?php else: ?>
    <br>
    <p class="empty"><?php echo $this->__('You have submitted no tickets') ?></p>
<?php endif;?>
