<div class="featured-cat"><?php if (($_products = $this->getProductCollection()) && $_products->getSize()): ?>
<?php $_collectionSize = count($_products->getItems()) ?>
<table width="100%" > 
<tr>
<td width="100%" colspan="5">
 <div class="cat-box-text">
 <h6>Most Popular</h6>
</div></td></tr>
<tr>
<?php $i=1; $mproduct=array(); foreach ($_products->getItems() as $_productasso): ?>

<?php 
if($_productasso->getTypeID()=='simple'){
	$parentIds = Mage::getModel('catalog/product_type_configurable')->getParentIdsByChild($_productasso->getId());
	if($parentIds[0]!=0){
	$_product1 = Mage::getModel('catalog/product')->load($parentIds[0]); 
$mproduct[]=$_product1->getId(); 
	}else{ 
$_product1 = Mage::getModel('catalog/product')->load($_mproduct); 
$mproduct[]=$_product1->getId(); 
	}
}
$i++; endforeach;
$_mproducts = array_unique($mproduct);
$i=1; foreach ($_mproducts as $_mproduct): 
if($_mproduct!=''):
$_product = Mage::getModel('catalog/product')->load($_mproduct); 
?>  <td><ul class="products-grid"> 
	 <li class="item">
         <div class="pro_topadst">
              <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(252); ?>" width="252" height="252" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>

                <h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_product->getName(); ?></a></h2>
           <div class="price-box" style="clear:both;">                     
                <?php echo $this->getPriceHtml($_product, true) ?>
            </div><div>
<a href="<?php echo $_product->getProductUrl() ?>" style="text-decoration: none;" class="drakbtn">Select</a></div>
        </div>
       </li>  
  </td>
    <?php if ($i%5==0 or $i==$_collectionSize): ?>
   </tr>
    <?php endif; ?>
 <?php $i++; endif; ?>
<?php  endforeach; $kol = $_collectionSize; ?>
</table>
<?php endif; ?>
</div>