<div class="featured-cat"><?php if (($_products = $this->getProductCollection()) && $_products->getSize()): ?>
<?php echo $_collectionSize = count($_products->getItems()); ?>
<table width="100%" > <tr><td width="100%" >
 <div class="cat-box-text">
 <h6>Most Popular</h6><span style="float:right; font-weight:bold;margin-top: 9px;border-left: 1px #ccc solid;border-right: 1px #ccc solid;border-top: 1px #ccc solid;padding: 5px;"><a href="<?php echo Mage::getBaseUrl();?>mostpopular" title="Most Popular"> View All</a></span></div>
</div></td></tr> 
<tr> <td><ul class="products-grid"> 
<?php 
$i=1; 
$mproduct=array();
foreach ($_products->getItems() as $_productasso){
echo $_productasso->getId();

	if($_productasso->getTypeID()=='simple'){
		 $parentIds = Mage::getModel('catalog/product_type_configurable')->getParentIdsByChild($_productasso->getId());
          print_r($parentIds);
		if($parentIds[0]!=0){
			$_product1 = Mage::getModel('catalog/product')->load($parentIds[0]); 
			if($_product1->getPrice()!=''){
            	$mproduct[]=$parentIds[0]; 
			}
		}
	}
	$i++; 
echo "<BR>";
}
print_r($mproduct);
$_mproducts = array_unique($mproduct);

//print_r($_mproducts);
$i=1; foreach ($_mproducts as $_mproduct): 
if($i<=5 && $_mproduct!=''):
$_product = Mage::getModel('catalog/product')->load($_mproduct); 
?> 
	 <li class="item">
         <div class="pro_topadst">
              <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(252); ?>" width="252" height="252" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>

                <h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_product->getName(); ?></a></h2>
                            
                <?php echo $this->getPriceHtml($_product, true) ?>
          
<a href="<?php echo $_product->getProductUrl() ?>" style="text-decoration: none;" class="drakbtn">Select</a>
        </div>
       </li>  

 
<?php  $i++; endif; ?>
<?php endforeach; $kol = $_collectionSize; ?>
  </ul></td></tr></table>
<?php endif; ?>
</div>