<div class="featured-cat">
<?php
$enabledFeaturedCategories          = Mage::helper('featuredcategory')->isEnabledFeaturedCategories();
$imageCategoriesWidth       = Mage::helper('featuredcategory')->getImageCategoriesWidth();
$imageCategoriesHeight      = Mage::helper('featuredcategory')->getImageCategoriesHeight();
$showCategoriesAlphabet     = Mage::helper('featuredcategory')->isShowCategoriesAlphabet();
$numberCategoriesPerRow     = Mage::helper('featuredcategory')->getNumberCategoriesPerRow();
$count=0;
//$read= Mage::getSingleton('core/resource')->getConnection('core_read');
//$resultC=$read->query("SELECT entity_id FROM catalog_category_entity_int WHERE attribute_id = 441 AND value=1");
//$rowP = $resultC->fetchAll();
$rowP=array(187,58,196);
echo "<table>";
foreach($rowP as $cat):
$categoryId = $cat;
$category = Mage::getModel('catalog/category')->load($categoryId);
if($category->getIsActive()): ?>
<tr><td width="100%"><div class="cat-box-text"> <h6><a href="<?php echo $category->getURL() ?>" title="<?php if($category->getId()==187){echo 'Most Popular';}else{ echo $this->htmlEscape($category->getName());} ?>"><?php if($category->getId()==187){echo 'Most Popular';}else{ echo $this->htmlEscape($category->getName());} ?></a></h6>
<span style="float:right; font-weight:bold;margin-top: 9px;border-left: 1px #ccc solid;border-right: 1px #ccc solid;border-top: 1px #ccc solid;padding: 5px;"><a href="<?php echo $category->getURL() ?>" title="<?php if($category->getId()==187){echo 'Most Popular';}else{ echo $this->htmlEscape($category->getName());} ?>"> View All</a></span></div></td></tr>
<?php
echo "<tr><td>";
$i=0;
//echo $categoryId;
$_productCollection = $category->getProductCollection();
$_productCollection->addAttributeToSelect('*');
$_productCollection->addAttributeToFilter('status', 1);
$_productCollection->addAttributeToFilter('visibility', 4);
$_productCollection->addAttributeToFilter('sku', array('nlike' => 'Kab%'));
$_productCollection->addUrlRewrite($category->getId());
 // $_productCollection->addUrlRewrite();
 ?>
     <ul class="products-grid"> 
<?php
foreach ($_productCollection as $_product) {
	if($i<5){
	//echo $categoryId;
	$_product= Mage::getModel('catalog/product')->load($_product->getId());
	$_category1 = Mage::getModel('catalog/category')->load($categoryId); 
	$_url = Mage::getBaseUrl().trim(Mage::getModel('catalog/product_url')->getUrlPath($_product,$_category1),"/");    
     ?>   
	 <li class="item">

                <div class="pro_topadst">

                <a href="<?php  echo $_url  ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(252); ?>" width="252" height="252" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>

                <h2 class="product-name"><a href="<?php echo $_url ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_product->getName(); ?></a></h2>

                <?php if($_product->getRatingSummary()): ?>

                <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>

                <?php endif; ?>
<div class="price-box">
    <?php 
$_formattedActualPrice = Mage::helper('core')->currency($_product->getPrice(),true,false);
$_formattedSpecialPrice = Mage::helper('core')->currency($_product->getFinalPrice(),true,false);
if($_formattedSpecialPrice==$_formattedActualPrice){
 ?>
<span class="regular-price"><span class="price"><?php echo $_formattedActualPrice; ?></span></span>
<?php }else{ ?>
<p class="old-price"> <span class="price"><?php echo $_formattedActualPrice; ?></span></p>
<p class="special-price"><span class="price"><?php echo $_formattedSpecialPrice; ?></span></p>
<?php } ?>
</div>

<a href="<?php  echo $_url  ?>" style="text-decoration: none;" class="drakbtn">Select</a>
                </div>
            </li>  
   <?php  $i++;  } } ?>
</div>          
      </td>
<?php
echo "</tr>";
 endif;
  endforeach;  
      
?> </table></div>